{% load static %}
<div class="modal-AddOrganisation centered">
    <div class="modal-body p-0">
        <div class="row">
            <div class="col-md-3 px-0" style="background-repeat: no-repeat;text-align: center;background-color: #0073e0; padding: 16px; position: relative;">
               <div class="center-fix w-100 chng-pswd-main-img">
                    <img src="{% static 'img/png/new_Variant.png' %}" / class="chng-passwrd-img">
                    <h4 class="modalColHead mt-2">Change Password</h4>
               </div>

            </div>
            
            <div class="col-md-9 col-12 p-5 mob-p-16">
                <form id="changePasswordForm" method="POST" autocomplete="off" action="" aria-label="Product">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-7 col-8 px-0">
                            <h5 class="font-wt-b">Change Password</h5>
                        </div>
                        <div class="col-sm-5 col-4 pr-0">
                            <button class="btn btn-close chng-passwrd-btn-close float-right" type="button"
                            onclick="hideModal('changePasswordModal','close')">
                                <span class="mob-d-none">Close</span>
                                <i class="far fa-times-circle mob-d-block desk-d-none"></i>
                            </button>
                            <button class="btn btn-save float-right" type="button" onclick="updateNewPassword()">Save </button>
                            
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-md-12 col-12  mt-2 px-0">
                            <h6 class="font-wt-b mb-2">Old Password</h6>
                            <input class="inputField " type="password" placeholder="Old Password*" id="old_password" name="old_password" maxlength="50" />
                            <label class="error_msg float-right" id=""></label>
                        </div>
                        <div class="col-md-12 col-12 mt-2 px-0">
                            <h6 class="font-wt-b mb-2">New Password</b></h6>
                            <input class="inputField " type="password" placeholder="New Password*" id="new_password" name="new_password" maxlength="50" />
                            <label class="error_msg float-right" id=""></label>
                        </div>
                        <div class="col-md-12 col-12 mt-2 px-0">
                            <h6 class="font-wt-b mb-2">Confirm Password</h6>
                            <input class="inputField " type="password" placeholder="Confirm Password*" id="confirm_password" name="confirm_password" maxlength="50" />
                            <label class="error_msg float-right" id=""></label>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</div>
</div>

<script>
    
    function updateNewPassword() {
        showLoader();
        if(validateProductForm()){
            hideLoader();
            return false;
        }else{
            $.ajax({
                url: "{% url 'src:change-password' %}",
                method: 'POST',
                data: $('#changePasswordForm').serialize(),
                success: function (data) {
                    hideLoader();
                    if(data.flag){
                        $("#changePasswordModal").html('');
                        $("#changePasswordModal").hide();
                        openToaster("success", data.message);
                    }else{
                        openToaster("danger", data.message);
                    }
                },
                error: function (err) {
                    hideLoader();
                    console.log(err)
                }
            }).always(function() {
                // hideLoader();
            });
        } 
    }
    
    
    function validateProductForm(){
        error = 0;
        $('.error_msg ').text('');
        $('.inputField').css("border", "");
        if($('[name="old_password"]').val() == ""){
            $('[name="old_password"]').parent().find('.error_msg').text('Please enter old password');
            $('[name="old_password"]').css("border", "1px solid #db8305");
            error = error + 1;
        }
        if($('[name="new_password"]').val() == ""){
            $('[name="new_password"]').parent().find('.error_msg').text('Please enter new password');
            $('[name="new_password"]').css("border", "1px solid #db8305").css("border-radius", "0.6rem");
            error = error + 1;
        }

        if($('[name="confirm_password"]').val() == ""){
            $('[name="confirm_password"]').parent().find('.error_msg').text('Please re-type new password');
            $('[name="confirm_password"]').css("border", "1px solid #db8305").css("border-radius", "0.6rem");
            error = error + 1;
        }
       

        if($('[name="confirm_password"]').val() !== $('[name="new_password"]').val()){
            $('[name="confirm_password"]').parent().find('.error_msg').text('Confirm password & New password did not matched');
            $('[name="confirm_password"]').css("border", "1px solid #db8305").css("border-radius", "0.6rem");
            error = error + 1;
        }

        if(error > 0){
            return true;
        }else{
            return false;
        }
    }
    function hideModal(id){
        $('#'+id).hide();
    }
    
</script>