{% load static %}

<form name="addDocumentDetailsForms" id="addDocumentDetailsForms" method="POST" autocomplete="off" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="last_user_id" id="last_user_id" value="{{ last_user_id }}" >
    <div class="modal-AddUser centered">
        <div class="modal-header" id="headerStep1">
            <div class="col-12 p-0">
                <div class="row">
                    <div class="col-6">
                        <button class="iconCover" onclick="perviousPage('{{last_user_id}}','3')">
                            <img src="{% static 'img/svg/backarrow.svg' %}" style="width: 1rem" />
                        </button>
                        <h5 class="mt-md-2" style="display: inline"> &nbsp;&nbsp; Upload Documents
                        </h5>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-save float-right" type="submit" >
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal-body" id="addUserModalBody" style="overflow: auto">
            <div class="row">
                
                
                <div class="col-md-12 p-0 fullWidth fulHeight" id="step1">
                    
                    <div class="row">
                    
                         <div class="col-md-3">
                            <h5>Qatar ID</h5>
                            <div class="card">
                                {% if user_documents.qatar_id %}
                                <embed id="previewEmployeeQatarId" src="{{ user_documents.qatar_id }}" class="w-50 w-100 imgStyle" style="transform: translate(0px, 0px);">
                                {% else %}
                                <embed id="previewEmployeeQatarId" src="{{ employee_documents.pdf }}" type="application/pdf" width="100%" height="100px">
                               
                                {% endif %}
                                <input type="hidden" name="previous_qatar_id" id="previous_qatar_id" value="{% if employee_documents.qatar_id %}{{ employee_documents.qatar_id }} {% endif %}" >
                                
                            </div>
                            <label class="error_msg float-right" id="qatar_id_image_error"></label>
                            <div class="row fileUploadContainer">
                                <div class="col-md-8" style="padding: 0.6rem;">
                                    <label class="custom-file-upload m-0 lightGrey">
                                        Upload PDF
                                    </label>
                                    <input id="file-upload_QatarId" name="qatar_id" type="file" accept="pdf/*"
                                    style="display: none;" onchange="fileUploaders(this.id,'previewEmployeeQatarId', 'qatar_id')" />
                                </div>
                                <div class="col-md-4 upload" onclick="openImageSelector('file-upload_QatarId')">
                                    Upload
                                </div>
                            </div>
                        </div>
                         <div class="col-md-3">
                            <h5>Passport</h5>
                            <div class="card">
                                {% if employee_documents.passport_card %}
                                <embed id="previewEmployeePASSPORT" src="{{ employee_documents.passport_card }}" class="w-50 w-100 imgStyle" style="transform: translate(0px, 0px);">
                                {% else %}
                                <embed id="previewEmployeePASSPORT" src="{{ employee_documents.pdf }}" type="application/pdf" width="100%" height="100px">
                                
                                {% endif %}
                                <input type="hidden" name="previous_passport_card" id="previous_passport_card" value="{% if employee_documents.passport_card %}{{ employee_documents.passport_card }} {% endif %}" >
                            </div>
                            <label class="error_msg float-right" id="passport_image_error"></label>
                            <div class="row fileUploadContainer">
                                <div class="col-md-8" style="padding: 0.6rem;">
                                    <label class="custom-file-upload m-0 lightGrey">
                                        Upload PDF
                                    </label>
                                    <input id="file-upload_PASSPORT" name="passport_card" type="file" accept="pdf/*" multiple
                                    style="display: none;" onchange="fileUploaders(this.id,'previewEmployeePASSPORT', 'passport')" />
                                </div>
                                <div class="col-md-4 upload" onclick="openImageSelector('file-upload_PASSPORT')">
                                    Upload
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h5>Resume</h5>
                            <div class="card">
                                {% if employee_documents.resume %}
                                    <embed id="previewEmployeeResume" src="{{ employee_documents.resume }}" class="w-50 w-100 imgStyle" style="transform: translate(0px, 0px);">
                                {% else %}
                                    <embed id="previewEmployeeResume" src="{{ employee_documents.pdf }}" type="application/pdf" width="100%" height="100px">
                                {% endif %}
                                <input type="hidden" name="previous_resume" id="previous_resume" value="{% if employee_documents.resume %}{{ employee_documents.resume }} {% endif %}" >
                            </div>
                            <label class="error_msg float-right" id="resume_image_error"></label>
                            <div class="row fileUploadContainer">
                                <div class="col-md-8" style="padding: 0.6rem;">
                                    <label class="custom-file-upload m-0 lightGrey">
                                         Upload PDF
                                    </label>
                                    <input id="file-upload_Resume" name="resume" type="file" accept="pdf/*" multiple
                                    style="display: none;" onchange="fileUploaders(this.id,'previewEmployeeResume', 'resume')" />
                                </div>
                                <div class="col-md-4 upload" onclick="openImageSelector('file-upload_Resume')">
                                    Upload
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h5>Educational Document</h5>
                            <div class="card">

                                {% if employee_documents.educationaldoc %}
                                    <embed id="previewEmployeeEDUCATIONAL" src="{{ employee_documents.educationaldoc }}" class="w-50 w-100 imgStyle" style="transform: translate(0px, 0px);">
                                {% else %}
                                    <embed id="previewEmployeeEDUCATIONAL" src="{{ employee_documents.pdf }}" type="application/pdf" width="100%" height="100px">
                                {% endif %}
                                <input type="hidden" name="previous_educationaldoc" id="previous_educationaldoc" value="{% if employee_documents.educationaldoc %}{{ employee_documents.educationaldoc }} {% endif %}" >
                            </div>
                            <label class="error_msg float-right" id="educationaldoc_image_error"></label>
                            <div class="row fileUploadContainer">
                                <div class="col-md-8" style="padding: 0.6rem;">
                                    <label class="custom-file-upload m-0 lightGrey">
                                         Upload PDF
                                    </label>
                                    <input id="file-upload_Educational" name="educationaldoc" type="file" accept="pdf/*" multiple
                                    style="display: none;" onchange="fileUploaders(this.id,'previewEmployeeEDUCATIONAL', 'educationaldoc')" />
                                </div>
                                <div class="col-md-4 upload" onclick="openImageSelector('file-upload_Educational')">
                                    Upload
                                </div>
                            </div>
                        </div>
                       
                        
                        
                    </div>
                    
                    
                </div>
            </div>
        </div>
        
        
        <nav class="navbar fixed-bottom" id="modalFooter">
            <div class="dropdown-divider w-100"></div>
            <div class="col-3 offset-9 p-0">
                <ul id="stepFooter">
                    <li id="li1" class="selectedstep">
                        <button class="btn btn-step activeStep" id="stepBtn1">
                            &#10004;
                        </button>
                    </li>
                    <li id="li2" class="selectedstep">
                        <button class="btn btn-step activeStep" id="stepBtn2">
                            &#10004;
                        </button>
                    </li>
                    <li id="li3" class="selectedstep">
                        <button class="btn btn-step activeStep" id="stepBtn3">
                            &#10004;
                        </button>
                    </li>
                    <li id="li4" class="selectedstep">
                        <button class="btn btn-step activeStep" id="stepBtn4">
                            &#10004;
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</form>

<script>
    $('#addDocumentDetailsForms').submit(function(e){
        showLoader();
        $('#addUserModal').html('');
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        
        $.ajax({
            url: "{% url 'src:add-user-document-detail' %}",
            type: 'POST',
            data: formData,
            success: function (response) {
                $('.error').remove();
                console.log(response)
                if(response.error){
                    $.each(response.errors, function(name, error){
                        alert(error);
                        window.location.reload();
                    })
                } else {
                    hideLoader();
                    openToaster("success", response.message);
                    window.location.reload();
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
    
    function openImageSelector(fileUploadID) {
        $("#" + fileUploadID).click();
    }
    
    function fileUploader(id, previewId, fileType, error_id) {
        for (var i = 0; i < $("#"+id).get(0).files.length; ++i) {
            var file1=$("#"+id).get(0).files[i].name;
            var error = 0;
            document.getElementById(error_id).innerHTML = '';
            
            if(file1){                     
                var ext = file1.split('.').pop().toLowerCase(); 
                if($.inArray(ext,['jpg', 'JPG', 'jpeg', 'JPEG', 'png', 'PNG'])===-1){
                    error = 1;   
                    document.getElementById(error_id).innerHTML = ''+fileType+' should be jpg or png*';
                    
                    $("#"+previewId).attr("src", "/static/img/svg/PANGrey.svg");
                    $("#"+id).val('');
                }else{
                    error = 0;
                    if(file1){                        
                        var file_size=$("#"+id).get(0).files[i].size;
                        file_size = Math.round((file_size / 1024));
                        if(file_size>2048){
                            error = 1;
                            
                            document.getElementById(error_id).innerHTML = ''+fileType+' should be upto 2MB*';
                            
                            $("#"+previewId).attr("src", "/static/img/svg/PANGrey.svg");
                            $("#"+id).val('');
                        }else{
                            error = 0;
                        }                        
                    } else {
                        error = 0; 
                    }
                }                        
            } else {
                error = 0;
            }
        }
        if(error == 0){
            var i = $('#' + id).prev("label").clone();
            var temp = $('#' + id)[0].files;
            var file = temp[0].name;
            $('#' + id).prev("label").text(file);
            readURL(temp, previewId);
        }
    }
    
    function readURL(input, previewId) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#' + previewId).attr('src', e.target.result);
            $('#' + previewId).css({ "width": "100%!important;", "transform": "translate(0,0)" });
            $('#' + previewId).addClass('w-100 imgStyle');
        }
        reader.readAsDataURL(input[0]);
    }
    
</script>
