{% load static %}
<link rel="stylesheet" href="{% static 'css/jquery-confirm.min.css' %}">
<div class="modal-AddOrganisation centered">
    <div class="modal-body p-0">
        <div class="row">
            <div class="col-md-3 p-md-0" style="background-repeat: no-repeat;text-align: center;background-color: #0073e0;background-position: bottom left;background-size: 80%;">
                <div class="transformImage">
                    <img src="{% static 'img/svg/master/attendanceGroups.svg' %}" class="w-50" />
                    <h4 class="modalColHead">Add Leave Ledger</h4>
                </div>
            </div>
            
            <div class="col-md-9 p-md-4">
                <form id="addForm" method="POST" autocomplete="off" action="" aria-label="Salary Addition Type">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <h5><b>Leave Ledger details </b></h5>
                        </div>
                        <div class="col-md-6 p-md-0">
                            <button class="btn btn-save float-right" type="button" onclick="saveLeaveLedger()">
                                Save
                            </button>
                            <button class="btn btn-close float-right" type="button"
                            onclick="manipulateModal('addOrganisationModal','close')">
                            Close
                        </button>
                    </div>
                </div>
                
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Leave Date</b></h6>
                            </div>
                        </div>
                    </div>
                  
                    <div class="col-md-12 p-0 mt-2">
                        <input class="inputField"
                        placeholder="Enter Date of Joining" name="leave_date_id" id="leave_date_id">
                        <label class="error_msg float-right" id=""></label>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Employee Name</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <select class="inputField selectField"  style="width: 100%;"  name="emp_id" id="emp_id" >
                            <option value="">Select </option>
                            {% for emp in employee %}
                            <option value="{{emp.id}}" {% if employee_id == emp.id %}selected{% endif %}>{{emp.first_name}} {% if emp.middle_name %} {{emp.middle_name}} {% endif %} {{emp.last_name}}</option>
                            {% endfor %}
                            
                        </select> 
                        <label class="error_msg float-right"></label>
                        
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Type</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <select class="inputField selectField"  style="width: 100%;"  name="type" id="type">
                            <option value="">Select Type</option>
                            <option value="0">Debit</option>
                            <option value="1">Credit</option>
                            
                        </select>
                        <label class="error_msg float-right"></label>
                    </div>
                </div>
                
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Leave Type</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <select class="inputField selectField"  style="width: 100%;"  name="leave_type" id="leave_type" >
                            <option value="">Select Leave Type</option>
                             {% for leaves in leaves %}
                                <option value="{{leaves.id}}">{{leaves.leave_type}}</option>
                            {% endfor %}
                        </select> 
                        <label class="error_msg float-right"></label>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>No. Of Leaves</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <input class="inputField" type="text" placeholder="No.Of leaves*" name="no_leaves" id="no_leaves" maxlength="3" onkeypress="return validateFloatKeyPress(this,event);"  />
                        <label class="error_msg float-right"></label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Remark</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <input class="inputField" type="text" placeholder="Remark*" name="remark" id="remark" maxlength="100"   />
                        <label class="error_msg float-right"></label>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</div>
<script src="{% static 'js/jquery-confirm.min.js' %}"></script>
<script>
$(document).ready(function () {
        $("#leave_date_id").datepicker({
            weekStart: 1,
            changeMonth: true,
            changeYear: true,  
            yearRange: "-100:+0",
            daysOfWeekHighlighted: "6,0",
            autoclose: true,
            todayHighlight: true,
            dateFormat: 'dd/mm/yy',
        });
    });


    function saveLeaveLedger() {
        if(validateForm() == false){
            var question = "Do you want to save the ledger?";
                $.confirm({
                    title: 'Confirm!',
                    content: question,
                    buttons: {
                        confirm: function () {
                        
                            saveLeave()
                            
                        },
                        cancel: function () {
                            
                        }
                    }
                });
        }    
    }

    function saveLeave() {
        showLoader();
        if(validateForm()){
            hideLoader();
            return false;
        }else{
            $.ajax({
                url: "{% url 'src:save-leave-ledger' %}",
                method: 'POST',
                data: $('#addForm').serialize(),
                success: function (data) {
                   
                    hideLoader();
                    if(data.flag){
                        $("#addOrganisationModal").html('');
                        $("#addOrganisationModal").hide();
                        openToaster("success", data.message);
                        leaveLedger(data.emp_id)
                        
                    }else{
                        openToaster("danger", data.message);
                    }
                },
                error: function (err) {
                    hideLoader();
                    console.log(err)
                }
            }).always(function() {
                // hideLoader();
            });
        } 
    }

    function leaveLedger(emp_id) {
        $.ajax({
            url: "{% url 'src:ajax-leave-ledger' 1 %}",
            method: 'POST',
            data: {
                emp_id: emp_id,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (data) {
                $("#leave").html(data);
            },
            error: function (err) {
                console.log(err)
            }
        });
    }
    

    function validateForm(){
        error = 0;
        $('.error_msg ').text('');
        $('.inputField').css("border", "");
        
        if($.trim($('[name="emp_id"]').val()) == ""){
            $('[name="emp_id"]').parent().find('.error_msg').text('Please select employee');
            $('[name="emp_id"]').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
            error = error + 1;
        }

        if($.trim($('[name="type"]').val()) == ""){
            $('[name="type"]').parent().find('.error_msg').text('Please choose type');
            $('[name="type"]').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
            error = error + 1;
        }
        
        
        if($.trim($('[name="leave_type"]').val()) == ""){
            $('[name="leave_type"]').parent().find('.error_msg').text('Please choose leave type');
            $('[name="leave_type"]').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
            error = error + 1;
        }

        if($.trim($('[name="no_leaves"]').val()) == ""){
            $('[name="no_leaves"]').parent().find('.error_msg').text('Please enter No. of leaves');
            $('[name="no_leaves"]').css("border", "1px solid #db8305");
            error = error + 1;
        }
        if($.trim($('[name="leave_date_id"]').val()) == ""){
            $('[name="leave_date_id"]').parent().find('.error_msg').text('Please select Leave Date');
            $('[name="leave_date_id"]').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
            error = error + 1;
        }
        if($.trim($('[name="remark"]').val()) == ""){
                    $('[name="remark"]').parent().find('.error_msg').text('Please Remark');
                    $('[name="remark"]').css("border", "1px solid #db8305");
                    error = error + 1;
                }
        if(error > 0){
            return true;
        }else{
            return false;
        }
    }
   
</script>