{% load static %}

<table id="addOrgTable" class="table table-bordered table-hover mt-0" style="width: 100%;">
    <thead>
        <tr>
            <th style="width: 2%; text-align: center;">Sr No.</th>
            <th style="width: 10%; text-align: center;">{% if is_user == 1 %} Date {% else %} Employee Name {% endif %}  </th>
            {% comment %} <th style="width: 10%; text-align: center;"> Reporting To  </th> {% endcomment %}
            <!--<th style="width: 10%; text-align: center;"> Headquarter Name </th>-->

            <th style="width: 10%; text-align: center;"> Distance Travelled in Kilometer  </th>
            <th style="width: 10%; text-align: center;"> Charges  </th>
            <th style="width: 10%; text-align: center;"> Total Charges  </th>
        </tr>
    </thead>
    <tbody>
        {% if user_tracking_details %}
        {% for user_tracking in user_tracking_details %}
        <tr>
            <td style="text-align: center;">{{ forloop.counter }}.</td>
            <td style="text-align: center;">{% if user_tracking.month_date %} {{user_tracking.month_date}} {% else %}{{ user_tracking.user_name  }}{% endif %}</td>
            {% comment %} <td style="text-align: center;">{{ user_tracking.reporting_to_name  }}</td> {% endcomment %}
            
            <td style="text-align: center;">{{ user_tracking.distance_travelled }}</td>
            <td style="text-align: center;">{{ user_tracking.charges  }}</td>
            <td style="text-align: center;">{{ user_tracking.total_charges  }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <th style="text-align: center;" colspan="6">No Record Found...</th>
        </tr>
        {% endif %}
    </tbody>
</table>

<script>
    $('#travel_month_picker').val('{{month_date}}');
</script>