{% load static %}
{% if employee_users %}
{% for user in employee_users %}
<tr  class="odd">
    <td class="employee_id" onclick="getEmpShortDetails('{{ user.id }}')">{% if user.emp_sap_id %} {{ user.emp_sap_id }}{% else %} - {% endif %}</td>
    <td class="employee_name" onclick="getEmpShortDetails('{{ user.id }}')">{% if user.first_name %} {{ user.first_name|capfirst }} {% if user.middle_name %} {{ user.middle_name|capfirst }} {% endif %} {% if user.last_name %} {{ user.last_name|capfirst }} {% endif %} {% else %} - {% endif %}</td>
    <td class="employee_name" onclick="getEmpShortDetails('{{ user.id }}')">{% if user.primary_contact_number %} {{ user.primary_contact_number }}  {% endif %}</td>
 
    <td class="employee_dep_org" onclick="getEmpShortDetails('{{ user.id }}')">{% if user.department_name %} {{ user.department_name|capfirst }} {% else %} - {% endif %}</td>
    <td class="employee_role" onclick="getEmpShortDetails('{{ user.id }}')">{% if user.role_name %} {{ user.role_name|capfirst }} {% else %} - {% endif %}</td>
    <!--<td class="employee_name" onclick="getEmpShortDetails('{{ user.id }}')">{% if user.first_name %} {{ user.first_name|capfirst }} {% if user.middle_name %} {{ user.middle_name|capfirst }} {% endif %} {% if user.last_name %} {{ user.last_name|capfirst }} {% endif %} {% else %} - {% endif %}</td>-->
    <!--<td class="employee_role" onclick="getEmpShortDetails('{{ user.id }}')">{% if user.role_name %} {{ user.role_name|capfirst }} {% else %} - {% endif %}</td>-->
    <!--<td class="employee_dep_org" onclick="getEmpShortDetails('{{ user.id }}')">{% if user.department_name %} {{ user.department_name|capfirst }} {% else %} - {% endif %}/{% if user.organization_name %} {{ user.organization_name|capfirst }} {% else %} - {% endif %}</td>-->
    <!--<td class="employee_platform" onclick="getEmpShortDetails('{{ user.id }}')">{% if user.last_login is not None %}{% if user.auth_token is None %}Web{% else %}App{% endif %}{% else %}-{% endif %}</td>-->
    <!--<td class="employee_last_sign_in" onclick="getEmpShortDetails('{{ user.id }}')">{% if user.last_login %} {{ user.last_login }} {% else %} - {% endif %}</td>-->
    <td width="20%">
       <div class="row" style="display:flex; justify-content:sapce-between;">
                           <img src="{% static 'img/svg/view-performance.svg' %}" title="View Peformance" class="tableRowIcon" onclick="view_performance('{{user.id}}')" />

            <img src="{% static 'img/svg/editcopy.svg' %}" title="Edit Details" class="tableRowIcon" onclick="editEmployeeBasicDetail('{{user.id}}')" />
                <a href="javascript:void(0)"onclick="resetUserPassword('{{ user.id }}')">
                    <img src="{% static 'img/emobicicon03.svg' %}"  title="Reset Password" class="tableRowIcon" style="margin-top:4px;" />
                </a>
               
               <a href="javascript:void(0)" onclick="clearLocation('{{ user.id }}')" title="Clear location"> <img src="{% static 'img/svg/emobicicon02.svg' %}" class="tableRowIcon"  style="margin-top:2px;"/> </a>     
               <a href="javascript:void(0)"onclick="resetUserLocation('{{ user.id }}')"  title="Clear Mobile Location">
                <img src="{% static 'img/svg/emobicicon0004.svg' %}" class="tableRowIcon" style="margin-top:2px;" />
                </a> 
            
                <label class="switch"  style="margin-top: 5px;">
                    <input type="checkbox" class="checkbox" name="is_active" 
                    id="is_active_{{ user.id }}"
                    {% if user.status == 1 %} checked="" {% else %}
                    {% endif %}
                    onclick="updateStatus('{{ user.id }}', '{{ user.status }}', 'employee')" title="Update Status">
                    <span class="slider round"></span>
                </label>
        </div>
    </td>
</tr>
{% endfor %}
{% if page_loading_type == '1' %}
<tr id="employee_loading" style="display: none;">
    <td class="text-center" colspan="6"><i class="fa fa-spinner fa-spin" style="font-size:2rem"></i>
    </td>
</tr>
{% endif %}
{% else %}
            <tr>
                <td colspan="6" style="text-align: center;">No Record Found...</td>
            </tr>
{% endif %}

<script>
    $('#employee_total_pages').val('{{employee_total}}');
    html = `{{userscount}}`;
    $('#order_count').html(html);
</script>
