{% load static %}

<div class="md-modal centered">
    <form name="addBasicDetailsForms" id="addBasicDetailsForms" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <input type="hidden" name="user_id" id="user_id" value="{{ user.id }}" >
        <div class="modal-header" id="headerStep1">
            <div class="col-12 p-0">
                <div class="row">
                    <div class="col-6">
                        <h5 class="mt-md-2">User Credentials &nbsp;&nbsp;</h5>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-save float-right" type="submit" >
                            Reset
                        </button>
                        <button class="btn btn-close float-right" type="button" onclick="manipulateModal('addUserModal','close')">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal-body" id="addUserModalBody" style="overflow: auto">
            <div class="row">
                <div class="col-md-12 p-0 h-100 w-100" id="step1">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-12 p-0">
                                <img src="{% static 'img/svg/father.svg' %}" class="profileIconSize">&nbsp;&nbsp;
                                <h6 class="mt-2 mb-0" style="display: inline-block;">
                                    Username/Email
                                </h6>
                            </div>
                            <div class="col-md-12 p-0 mt-2">
                                <input class="inputField" type="text" value="{% if user.user_type == 2 %}{{user.emp_sap_id}}{% else %}{{user.official_email}}{% endif %}" disabled>
                                <label class="error_msg float-right"></label>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12 p-0">
                                <img src="{% static 'img/svg/changePassword.svg' %}" class="profileIconSize">&nbsp;&nbsp;
                                <h6 class="mt-2 mb-0" style="display: inline-block;">
                                    New Password
                                </h6>
                            </div>
                            <div class="col-md-12 p-0 mt-2">
                                <input class="inputField" type="password" name="new_password" value=""> 
                                <label class="error_msg float-right"></label>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <script>
        
        
        var user_id = "{{user.id}}";

        $('#addBasicDetailsForms').submit(function(e){
            showLoader();
            if(validateBasicForm()){
                hideLoader();
                return false;
            }else{
                e.preventDefault();
                $form = $(this)
                var formData = new FormData(this);
                
                url = "{% url 'src:reset-user-credential' '1' %}";
                url = url.replace('1',user_id)
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        hideLoader();
                        if(data.flag){
                            $('#addUserModal').html('');
                            $('#addUserModal').hide();
                            openToaster("success", data.message);
                        }else{
                            openToaster("danger", data.message);
                        }
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
                
                
            }
            
        });
        
        function validateBasicForm(){
            error = 0;
            $('.error_msg').text('');
            $('[name="new_password"]').css("border", "");
            if($('[name="new_password"]').val() == ""){
                $('[name="new_password"]').parent().find('.error_msg').text("Please enter New password*");
				$('[name="new_password"]').css("border", "1px solid #db8305");
				error = error + 1;
            }
            if(error > 0){
                return true;
            }else{
                return false;
            }
            
        }
    </script>
    
    