{% load static %}
<style>
	#addPermissionModule{
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-ms-filter: blur(5px);
		-o-filter: blur(5px);
		filter: blur(5px);
		pointer-events:none;
	}	
	@media screen and (max-width: 767px) {
		.select2-container ,.inputField{
			width:  calc(100% - 45px) !important;

		}
		
	}
</style>
<div class="modal-AddOrganisation centered ">
    <div class="modal-body p-0" >
        <div class="row">
            <div class="col-sm-3 col-12 px-0 modalOrgBG">
                <div class="transformImage">
                    <img src="{% static 'img/svg/addorgW.svg' %}" class="w-50" />
                    <h4 class="modalColHead">Add Role</h4>
                </div>
            </div>
            <div class="col-sm-9 col-12 role-details-form py-3">
                <form method="POST" id="addRoleForm" autocomplete="off" action="{% url 'src:add-role' %}" aria-label="Add Role">
					{% csrf_token %}
					
                    <div class="row ">
                        <div class="col-sm-5 col-7 px-0">
                            <h5 class="d-inline-block font-wt-b">Role Details</h5>
                        </div>
						<div class="col-sm-7 col-5 px-0"> 
							<button class="btn btn-close float-right ml-0 mr-0" type="button" onclick="manipulateModal('addPermissionModal','close')">
								<span class="mob-d-none">Close</span>
								<i class="far fa-times-circle mob-d-block desk-d-none"></i>
							</button>
							<button class="btn btn-save mob-ml-16 float-right mr-2" type="button" onclick="saveRole()">Save</button>
						</div>
                    </div>

				
						<div class="row add-form-row-mrng">
							<div class="col-sm-12 col-12 px-0">
								<img src="{% static 'img/svg/org.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
								<h6 class="font-wt-b d-inline-block">
									Organisation Name
								</h6>
							</div>
								
							<div class="col-sm-12 col-12 pr-0 role-select-pad mt-1">
								<select class="inputField selectField " placeholder="Select Organization Name" name="organization_id" style="width: 100% !important;" onchange="getDepartments(this.value);getOrgRoles(this.value)">
									<option value="">Select Institution Name</option>
									{% for organization in organizations %}
									<option value="{{organization.id}}">{{organization.organization_name}}</option>
									{% endfor %}
								</select>
								<label class="error_msg float-right"></label>
							</div>
						</div>
						
						<div class="row add-form-row-mrng">
							<div class="col-sm-12 col-12 px-0">
								<img src="{% static 'img/svg/depart_no.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
								<h6 class="font-wt-b d-inline-block">
									Departments Name
								</h6>
							</div>
							<div class="col-sm-12 col-12 mt-1 pr-0 role-select-pad">
								<select class="inputField selectField" name="department_id" style="width: 100%;">
									<option value="">Select Department Name</option>
									{% for department in departments %}
									<option value="{{department.id}}">{{department.department_name}}</option>
									{% endfor %}
								</select>
								<label class="error_msg float-right"></label>
							</div>		
						</div>
						
						<div class="row add-form-row-mrng">
							<div class="col-sm-12 col-12 px-0">
								<img src="{% static 'img/svg/role.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
								<h6 class="font-wt-b d-inline-block">
									Role Name
								</h6>
							</div>
							<div class="col-sm-12 col-12 pr-0 mt-1 role-select-pad">
								<input class="inputField " type="text" placeholder="Enter Role Name" name="role_name" id="dept_role_name" maxlength="50" value="">
								<label class="error_msg float-right"></label>
								
							</div>		
						</div>

						<div class="row add-form-row-mrng">
							<div class="col-sm-12 col-12 px-0">
								<img src="{% static 'img/svg/role.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
								<h6 class="font-wt-b d-inline-block">
									Is out-sider
								</h6>
							</div>
							<div class="col-sm-12 col-12 mt-1 pr-0 role-select-pad">
								<select class="inputField selectField" name="is_outsider" style="width: 100%;">
									<option value="0">No</option>
									<option value="1">Yes</option>
								</select>
								<label class="error_msg float-right"></label>
							</div>		
						</div>
						
						
						<div class="row add-form-row-mrng">
							<div class="col-sm-12 col-12 px-0">
								<img src="{% static 'img/svg/role.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
								<h6 class="font-wt-b d-inline-block">Responsibilities</h6>
							</div>

							<div class="col-sm-12 col-12 pr-0 role-select-pad">
								<textarea name="responsibilities" class="inputField " id="responsibilities" cols="10" rows="3" placeholder="Enter role responsibilities"></textarea>
								<label class="error_msg float-right"></label>
							</div>
							
						</div>

						<div class="row add-form-row-mrng">
							<div class="col-sm-12 col-12 px-0">
								<img src="{% static 'img/svg/depart_no.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
								<h6 class="font-wt-b d-inline-block">Reporting To Role</h6>
							</div>

							<div class="col-sm-12 col-12 pr-0 role-select-pad">
								<select class="inputField selectField " name="reporting_role_id" style="width: 100%;">
									<option value="">Select Reporting Role</option>
									{% for role in roles %}
									<option value="{{role.reporting_role_id}}">{{role.reporting_role_name}}</option>
									{% endfor %}
								</select>
								<label class="error_msg float-right"></label>
							</div>
						</div>
									

                </form>
            </div>
        </div>
    </div>
</div>
						