{% load static %}

<input type="hidden" name="role_id" value="{{role.id}}" >

<table class="main-table">
	<thead>
		<tr>
			<th class="fixed-side" scope="col">Modules</th>
			{% for permission in permissions %}
			<th scope="col" class="subHead text-center">
				{{permission.permission}}
				<br>
				<input type="checkbox" class="input_class_checkbox permission_select_all" id="permission_{{permission.id}}" onclick="toggleVerticalPermissions(this,'{{permission.id}}')"  name="columnHead" >
				
			</th>
			{% endfor %}
		</tr>
	</thead>
	
	<tbody>
		
		{% for module in modules %}
		<tr>
			<th class="fixed-side">
				<div class="row">
					<div class="col-md-10 p-md-0">
						<span class="head">{{module.module_name}}</span>
					</div>
				</div>
			</th>
			<td colspan="12"></td>
		</tr>
		{% for sub_module in module.sub_modules %}
		<tr>
			<th class="fixed-side">
				<div class="row">
					<div class="col-md-10">
						<span class="subHead">{{sub_module.sub_module_name}}</span>
					</div>
					<div class="col-md-2 p-md-0 text-right">
						<input type="checkbox" class="input_class_checkbox" id="module_{{sub_module.id}}" onclick="toggleHorizontalPermissions(this,'{{sub_module.id}}')" name="rowHead">
					</div>
				</div>
			</th>
			{% for permission in permissions %}
			<td><input type="checkbox" class="input_class_checkbox permission_checkbox_{{permission.id}} module_checkbox_{{sub_module.id}}" id="permission_{{sub_module.id}}_{{permission.id}}" name="permission_{{sub_module.id}}_{{permission.id}}" onclick="viewWorkfLow('{{sub_module.id}}','{{permission.id}}')"><br><label class="subtext" id="workflow_text_{{sub_module.id}}_{{permission.id}}"
				onclick="previewNewWorkfLow('{{sub_module.id}}','{{permission.id}}','workflow_{{sub_module.id}}_{{permission.id}}')"></label>
				<input type="hidden" id="workflow_{{sub_module.id}}_{{permission.id}}"
				name="workflow_{{sub_module.id}}_{{permission.id}}" value=""></td>
				{% endfor %}
			</tr>
			{% endfor %}
			
			{% endfor %}
			
		</tbody>
		
		
	</table>
	
	
	{% block script %}
	<script>
		
		
		function toggleVerticalPermissions(element,id) {
			role_name = $('[name="role_name"]').val();
			organization_id = $('[name="organization_id"]').val();
			department_id = $('[name="department_id"]').val();
			reporting_role_id = $('[name="reporting_role_id"]').val();
			
			if($(element).is(':checked')){
				if(role_name == "" || organization_id == "" || department_id == ""){
					$(element).prop('checked',false);
					return false;
				}
				
				$('.permission_checkbox_'+id).each(function(){
					$(this).prop('checked',true);
				})
				var body = `<div class="modal-WorkModal centered">
					<div class="modal-body p-0">
						<div class="row">
							<div class="col-md-3 p-md-0 modalWFBG">
								<div class="transformImageWF">
									<img src="{% static 'img/svg/workflow.svg' %}" class="modalLeftImg" />
									<h3 class="modalColHead">Workflow &nbsp;&nbsp;</h3>
								</div>
							</div>
							<div class="col-md-9 p-md-4">
								<form>
									<div class="row mb-3">
										<div class="col-md-6">
											<h5><b>Workflows </b></h5>
										</div>
										<div class="col-md-6 p-md-0">
											<button class="btn btn-save float-right" type="button" onclick="applyWorkflowToAll('vertical',`+id+`)">
												Save
											</button>
											<button class="btn btn-close float-right" type="button" onclick="uncheckAll('vertical',`+id+`)" >
												Close
											</button>
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-md-3">
											No. of Level
										</div>
										<div class="col-md-5 p-md-0">
											<input class="inputField" type="text" id="total_work_flows" placeholder="No. of Level" />
											<label class="error_msg float-right"></label>
											</div>
									</div>
									
									
									<div class="row">
										<div class="col-md-12" id="noOfLevels">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>`;
					$('#workflowModal').html(body);
					$('#workflowModal').show();
				}else{
					$(element).prop('checked',false);
					$('.permission_checkbox_'+id).prop('checked',false);
					$('.permission_checkbox_'+id).each(function(){
						$(this).parent().find('label').text('');
						$(this).parent().find('label').next().val();
					})
					
				}
			}
			
			function toggleHorizontalPermissions(element,id) {
				
				role_name = $('[name="role_name"]').val();
				organization_id = $('[name="organization_id"]').val();
				department_id = $('[name="department_id"]').val();
				reporting_role_id = $('[name="reporting_role_id"]').val();
				
				if($(element).is(':checked')){
					if(role_name == "" || organization_id == "" || department_id == ""){
						$(element).prop('checked',false);
						return false;
					}
					
					$('.module_checkbox_'+id).prop('checked',true);
					var body = `<div class="modal-WorkModal centered">
						<div class="modal-body p-0">
							<div class="row">
								<div class="col-md-3 p-md-0 modalWFBG">
									<div class="transformImageWF">
										<img src="{% static 'img/svg/workflow.svg' %}" class="modalLeftImg" />
										<h3 class="modalColHead">Workflow &nbsp;&nbsp;</h3>
									</div>
								</div>
								<div class="col-md-9 p-md-4">
									<form>
										<div class="row mb-3">
											<div class="col-md-6">
												<h5><b>Workflows </b></h5>
											</div>
											<div class="col-md-6 p-md-0">
												<button class="btn btn-save float-right" type="button" onclick="applyWorkflowToAll('horizontal',`+id+`)">
													Save
												</button>
												<button class="btn btn-close float-right" type="button" onclick="uncheckAll('horizontal',`+id+`)" >
													Close
												</button>
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-md-3">
												No. of Level
											</div>
											<div class="col-md-5 p-md-0">
												<input class="inputField" type="text" id="total_work_flows" placeholder="No. of Level" />
												<label class="error_msg float-right"></label>
												</div>
										</div>
										
										
										<div class="row">
											<div class="col-md-12" id="noOfLevels">
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>`;
						$('#workflowModal').html(body);
						$('#workflowModal').show();
					}else{
						$('.module_checkbox_'+id).prop('checked',false);
					$('.module_checkbox_'+id).parent().find('.subtext').text('');
					$('.module_checkbox_'+id).parent().find('input').val('');
						$(element).prop('checked',false);
					}
				}
				
				function uncheckAll(type, id) {
					if(type == "vertical"){
						$('#permission_'+id).prop('checked',false);
						$('.permission_checkbox_'+id).each(function(){
							if($(this).parent().find('label').text().trim() == ""){
								$(this).parent().find('label').text('');
								$(this).prop('checked',false);
							}
							if($(this).parent().find('label').next().val() == ""){
								$(this).parent().find('label').next().val('');
								$(this).prop('checked',false);
							}
						})
					}else{
						$('#module_'+id).prop('checked',false);
						$('.module_checkbox_'+id).each(function(){
							if($(this).parent().find('label').text().trim() == ""){
								$(this).parent().find('label').text('');
								$(this).prop('checked',false);
							}
							if($(this).parent().find('label').next().val() == ""){
								$(this).parent().find('label').next().val('');
								$(this).prop('checked',false);
							}
						})
						
					}
					$('#workflowModal').html('');
					$('#workflowModal').hide();
				}
				
				
				function applyWorkflowToAll(type, id) {
					total_work_flows = $('#total_work_flows').val();
					if (total_work_flows == 0) {
						$('#total_work_flows').parent().find('.error_msg').text('Permission level should be between 1 to 10*');
						return false
					}else if(total_work_flows > 10){
						$('#total_work_flows').parent().find('.error_msg').text('Permission level should be between 1 to 10*');
						return false
					}
					else {
						name_error_count = 0;
						role_error_count = 0;
						$('.error_msg').text('');
						$('.timeline-input').each(function () {
							if ($(this).val() == '') {
								name_error_count = name_error_count + 1;
								$(this).parent().find('.error_msg').text('Description required*');
							}
						})
						$('.authorize_role').each(function () {
							if ($(this).val() == '') {
								role_error_count = role_error_count + 1;
								$(this).parent().find('.error_msg').text('Role required*');
							}
						})
						if (name_error_count > 0) {
							return false;
						} else if (role_error_count > 0) {
							return false
						} else {
							var workflows = [];
							if (total_work_flows == 1) {
								var workflow = {};
								workflow.level_id = "{{first_workflow_level.id}}";
								workflow.role_id = $('#first_level_role option:selected').val();
								workflow.description = $('#first_desc').val();
								workflows.push(workflow);
							} else if (total_work_flows == 2) {
								var workflow = {};
								workflow.level_id = "{{first_workflow_level.id}}";
								workflow.role_id = $('#first_level_role option:selected').val();
								workflow.description = $('#first_desc').val();
								workflows.push(workflow);
								var workflow = {};
								workflow.level_id = "{{last_workflow_level.id}}";
								workflow.role_id = $('#last_level_role option:selected').val();
								workflow.description = $('#last_level_desc').val();
								workflows.push(workflow);
							} else if (total_work_flows > 2) {
								var workflow = {};
								workflow.level_id = "{{first_workflow_level.id}}";
								workflow.role_id = $('#first_level_role option:selected').val();
								workflow.description = $('#first_desc').val();
								workflows.push(workflow);
								for (var i = 1; i < parseInt(total_work_flows) - 1; i++) {
									var workflow = {};
									workflow.level_id = "{{middle_workflow_level.id}}";
									workflow.role_id = $('#level_role_' + i + ' option:selected').val();
									workflow.description = $('#level_description_' + i).val();
									workflows.push(workflow);
								}
								var workflow = {};
								workflow.level_id = "{{last_workflow_level.id}}";
								workflow.role_id = $('#last_level_role option:selected').val();
								workflow.description = $('#last_level_desc').val();
								workflows.push(workflow);
							}
							
							if(type == 'vertical'){
								$('.permission_checkbox_'+id).each(function(){
									if($(this).parent().find('label').text().trim() == ""){
										$(this).parent().find('label').text('Workflow Added ('+total_work_flows+')');
									}
									if($(this).parent().find('label').next().val() == ""){
										$(this).parent().find('label').next().val(JSON.stringify(workflows));
									}
								})
							}else{
								$('.module_checkbox_'+id).each(function(){
									if($(this).parent().find('label').text().trim() == ""){
										$(this).parent().find('label').text('Workflow Added ('+total_work_flows+')');
									}
									if($(this).parent().find('label').next().val() == ""){
										$(this).parent().find('label').next().val(JSON.stringify(workflows));
									}
								})
							}
							$('#workflowModal').html('');
							$('#workflowModal').hide();
						}
					}
				}
				
				
				function viewWorkfLow(sub_module_id, permission_id) {
					role_name = $('[name="role_name"]').val();
					organization_id = $('[name="organization_id"]').val();
					department_id = $('[name="department_id"]').val();
					reporting_role_id = $('[name="reporting_role_id"]').val();
					if ($('#permission_' + sub_module_id + '_' + permission_id).is(":checked")) {
						
						if(role_name == "" || organization_id == "" || department_id == ""){
							$('#permission_' + sub_module_id + '_' + permission_id).prop('checked',false);
							return false;
						}
						var body = `<div class="modal-WorkModal centered">
							<div class="modal-body p-0">
								<div class="row">
									<div class="col-md-3 p-md-0 modalWFBG">
										<div class="transformImageWF">
											<img src="{% static 'img/svg/workflow.svg' %}" class="modalLeftImg" />
											<h3 class="modalColHead">Workflow &nbsp;&nbsp;</h3>
										</div>
									</div>
									<div class="col-md-9 p-md-4">
										<form>
											<div class="row mb-3">
												<div class="col-md-6">
													<h5><b>Workflows </b></h5>
												</div>
												<div class="col-md-6 p-md-0">
													<button class="btn btn-save float-right" type="button"
													onclick="applyWorkflow(` + sub_module_id + `,` + permission_id + `)">
													Save
												</button>
												<button class="btn btn-close float-right" type="button" onclick="uncheckPermission(` + sub_module_id + `,` + permission_id + `)">
													Close
												</button>
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-md-3">
												No. of Level
											</div>
											<div class="col-md-5 p-md-0">
												<input class="inputField" type="text" id="total_work_flows" placeholder="No. of Level" />
												<label class="error_msg float-right"></label>
												</div>
										</div>
										
										
										<div class="row">
											<div class="col-md-12" id="noOfLevels">
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>`;
						$('#workflowModal').html(body);
						$('#workflowModal').show();
					} else {
						
						$('#permission_' + sub_module_id + '_' + permission_id).prop('checked',false);
						$('#workflow_text_' + sub_module_id + '_' + permission_id).text('');
						$('#workflow_' + sub_module_id + '_' + permission_id).val('');

						classes_h = $('#permission_' + sub_module_id + '_' + permission_id).attr('class');
						tempClasses_h = classes_h.split(' ');
						
						module_class = tempClasses_h[2]
						
						total_h = $('.'+module_class).length;
						total_h_checked = $('.'+module_class+ ':checked').length;
						
						tempArr_h = module_class.split('_');
						module_id = tempArr_h[2];
						if(total_h_checked < total_h){
							$('#module_'+module_id).prop('checked',false);
						}
						
						
						classes_p = $('#permission_' + sub_module_id + '_' + permission_id).attr('class');
						tempClasses_p = classes_p.split(' ');
						permission_class = tempClasses_p[2]
						total_p = $('.'+permission_class).length;
						total_p_checked = $('.'+permission_class+ ':checked').length;
						
						tempArr = permission_class.split('_');
						permission_id = tempArr[2];
						if(total_p_checked < total_p){
							$('#permission_'+permission_id).prop('checked',false);
						}
						
						
					
					}
				}
				
				
				
				
				function previewNewWorkfLow(sub_module_id, permission_id, id) {
					if ($('#' + id).val() != "") {
						previewWorkfLow(sub_module_id, permission_id, $('#' + id).val());
					}
				}
				
				function closePreview(){
					$('#workflowModal').html('');
					$('#workflowModal').hide();
				}
				
				function previewWorkfLow(sub_module_id, permission_id, workflows) {
					workflows = JSON.parse(workflows);

					workflows_length = workflows.length;
					
					if(workflows.length == 1){
						html=`<li class="green">
							<div class="row">
								<div class="col-md-3">
									<label class="mt-2">Super User</label>
								</div>
								<div class="col-md-5 p-md-0">
									<textarea maxlength='100' class="inputField timeline-input" id="first_desc" placeholder="Enter Details">`+workflows[0].description+`</textarea>
									<label class="error_msg float-right"></label>
								</div>
								<div class="col-md-4 pr-md-0">
									<select class="inputField selectField" id="first_level_role" style="width: 100%;">
										<option value="{{role.id}}" selected>{{role.role_name}}</option>
									</select>
								</div>
							</div>
						</li>`;
					}else if(workflows.length == 2){
						html=`<li class="green">
							<div class="row">
								<div class="col-md-3">
									<label class="mt-2">Initiate</label>
								</div>
								<div class="col-md-5 p-md-0">
									<textarea maxlength='100' class="inputField timeline-input" id="first_desc" placeholder="Enter Details">`+workflows[0].description+`</textarea>
									<label class="error_msg float-right"></label>
								</div>
								<div class="col-md-4 pr-md-0">
									<select class="inputField selectField" id="first_level_role" style="width: 100%;">
										<option value="{{role.id}}" selected>{{role.role_name}}</option>
									</select>
								</div>
							</div>
						</li>
						<li class="green">
							<div class="row verticalList">
								<div class="col-md-3">
									<label class="mt-2">Approve</label>
								</div>
								<div class="col-md-5 p-md-0">
									<textarea maxlength='100' class="inputField timeline-input" id="last_level_desc" placeholder="Enter Details">`+workflows[1].description+`</textarea>
									<label class="error_msg float-right"></label>
								</div>
								<div class="col-md-4 pr-md-0">
									<select class="inputField selectField" id="last_level_role" style="width: 100%;">`;
										var super_admin_selected = "";
													if(workflows[workflows_length-1].role_id == 0){
														super_admin_selected ="selected";
													}
													html+= `<option value="0" `+super_admin_selected+`>Super Admin</option>`;
										{% for other_department in other_departments %}
										html+=`<optgroup label="{{other_department.department_name}}">`;
											{% for other_role in other_department.other_roles %}
											if({{other_role.id}} == workflows[1].role_id){
												selected = 'selected';
											}else{
												selected = '';
											}
											html+=`<option value="{{other_role.id}}" `+selected+`>{{other_role.role_name}}</option>`;
											{% endfor %}
											html+=`</optgroup>`;
											{% endfor %}
											html+=`</select>
										</div>
									</div>
								</li>`;
							}else if(workflows_length > 2){
								html=`
								<li class="green">
									<div class="row">
										<div class="col-md-3">
											<label class="mt-2">Initiate</label>
										</div>
										<div class="col-md-5 p-md-0">
											<textarea maxlength='100' class="inputField timeline-input" id="first_desc" placeholder="Enter Details">`+workflows[0].description+`</textarea>
											<label class="error_msg float-right"></label>
										</div>
										<div class="col-md-4 pr-md-0">
											<select class="inputField selectField" id="first_level_role" style="width: 100%;">
												<option value="{{role.id}}" selected>{{role.role_name}}</option>
											</select>
										</div>
									</div>
								</li>`;
								j = 1;
								$.each(workflows, function (key, workflow) {
									if(key > 0 && key < (workflows_length-1)){
										html += `<li class="green">
											<div class="row">
												<div class="col-md-3">
													<label id="labelLevel' + i + '" class="mt-2" onclick="showInput(' + i + ')">Forward</label>
													<input type="text" id="level_`+key+`" class="inputField hide" onblur="showLabel(' + i + ')">
												</div>
												<div class="col-md-5 p-md-0">
													<textarea maxlength='100' class="inputField timeline-input" id="level_description_`+key+`" placeholder="Enter Details">`+workflows[key].description+`</textarea>
													<label class="error_msg float-right"></label>
												</div>
												<div class="col-md-4 pr-md-0">
													<select class="inputField selectField" id="level_role_`+key+`" style="width: 100%;">`;
														var super_admin_selected = "";
													if(workflows[key].role_id == 0){
														super_admin_selected ="selected";
													}
													html+= `<option value="0" `+super_admin_selected+`>Super Admin</option>`;
														{% for other_department in other_departments %}
														html+=`<optgroup label="{{other_department.department_name}}">`;
															{% for other_role in other_department.other_roles %}
															if({{other_role.id}} == workflows[key].role_id){
																selected = 'selected';
															}else{
																selected = '';
															}
															html+=`<option value="{{other_role.id}}" `+selected+`>{{other_role.role_name}}</option>`;
															{% endfor %}
															html+=`</optgroup>`;
															{% endfor %}
															html+=`</select>
														</div>
													</div>
												</li>`;
											}
											j++;
										});
										
										html +=`<li class="green">
											<div class="row verticalList">
												<div class="col-md-3">
													<label class="mt-2">Approve</label>
												</div>
												<div class="col-md-5 p-md-0">
													<textarea maxlength='100' class="inputField timeline-input" id="last_level_desc"  placeholder="Enter Details">`+workflows[workflows_length-1].description+`</textarea>
													<label class="error_msg float-right"></label>
												</div>
												<div class="col-md-4 pr-md-0">
													<select class="inputField selectField" id="last_level_role" style="width: 100%;">`
													var super_admin_selected = "";
													if(workflows[workflows_length-1].role_id == 0){
														super_admin_selected ="selected";
													}
													html+= `<option value="0" `+super_admin_selected+`>Super Admin</option>`;

														{% for other_department in other_departments %}
														html+=`<optgroup label="{{other_department.department_name}}">`;
															{% for other_role in other_department.other_roles %}
															if({{other_role.id}} == workflows[workflows_length-1].role_id){
																selected = 'selected';
															}else{
																selected = '';
															}
															html+=`<option value="{{other_role.id}}" `+selected+`>{{other_role.role_name}}</option>`;
															{% endfor %}
															html+=`</optgroup>`;
															{% endfor %}
															html+=`</select>
														</div>
													</div>
												</li>
												`;
											}
											
											
											var body = `<div class="modal-WorkModal centered">
												<div class="modal-body p-0">
													<div class="row">
														<div class="col-md-3 p-md-0 modalWFBG">
															<div class="transformImageWF">
																<img src="{% static 'img/svg/workflow.svg' %}" class="modalLeftImg" />
																<h3 class="modalColHead">Workflow &nbsp;&nbsp;</h3>
															</div>
														</div>
														<div class="col-md-9 p-md-4">
															<form>
																<div class="row mb-3">
																	<div class="col-md-6">
																		<h5><b>Workflows </b></h5>
																	</div>
																	<div class="col-md-6 p-md-0">
																		
																		<button class="btn btn-save float-right" type="button"
																		onclick="applyWorkflow(` + sub_module_id + `,` + permission_id + `)">
																		Save
																	</button>
																	
																	<button class="btn btn-close float-right" type="button" onclick="closePreview()">
																		Close
																	</button>
																</div>
															</div>
															<div class="row mb-3">
																<div class="col-md-3">
																	No. of Level
																</div>
																<div class="col-md-5 p-md-0">
																	<input class="inputField" id="total_work_flows" type="text" value="`+workflows_length+`" placeholder="No. of Level" />
																	<label class="error_msg float-right"></label>
																	</div>
															</div>
															
															<div class="row">
																<div class="col-md-12" id="noOfLevels">
																	<ul class="dots m-0">
																		`+html+`
																	</ul>
																	
																</div>
															</div>
														</form>
													</div>
												</div>
											</div>`;
											$('#workflowModal').html(body);
											$('#workflowModal').show();
											
										}
										
										
										function uncheckPermission(sub_module_id, permission_id) {
											$('#permission_'+sub_module_id+'_'+permission_id).prop('checked',false);
											$('#workflowModal').hide();
										}
										
										
										$(document).on('keyup', '#total_work_flows', function () {
											$('.error_msg').text('');
											$('#noOfLevels').html('');
											var level = $(this).val();
											if(level == 0){
												$('#total_work_flows').parent().find('.error_msg').text('Permission level should be between 1 to 10*');
												return false;
											}
											else if (level == 1) {
												leve_html = `<ul class="dots m-0">
													<li class="green">
														<div class="row">
															<div class="col-md-3">
																<label class="mt-2">Super User</label>
															</div>
															<div class="col-md-5 p-md-0">
																<textarea maxlength='100' class="inputField timeline-input" id="first_desc" placeholder="Enter Details"></textarea>
																<label class="error_msg float-right"></label>
															</div>
															<div class="col-md-4 pr-md-0">
																<select class="inputField selectField authorize_role"  id="first_level_role" style="width: 100%;">
																	<option value="{{role.id}}" selected>{{role.role_name}}</option> 
																</select>
															</div>
														</div>
													</li>
												</ul>`;
												$('#noOfLevels').append(leve_html);
												$('.error_msg').text('');
											} else if (level == 2) {
												var leve_html = `<ul class="dots m-0">
													<li class="green">
														<div class="row">
															<div class="col-md-3">
																<label class="mt-2">Initiate</label>
															</div>
															<div class="col-md-5 p-md-0">
																<textarea maxlength='100' class="inputField timeline-input" id="first_desc"  placeholder="Enter Details"></textarea>
																<label class="error_msg float-right"></label>
															</div>
															<div class="col-md-4 pr-md-0">
																<select class="inputField selectField authorize_role" id="first_level_role" style="width: 100%;">
																	<option value="{{role.id}}">{{role.role_name}}</option> 
																</select>
															</div>
														</div>
													</li>
													<li class="green">
														<div class="row verticalList">
															<div class="col-md-3">
																<label class="mt-2">Approve</label>
															</div>
															<div class="col-md-5 p-md-0">
																<textarea maxlength='100' class="inputField timeline-input" id="last_level_desc"  placeholder="Enter Details"></textarea>
																<label class="error_msg float-right"></label>
															</div>
															<div class="col-md-4 pr-md-0">
																<select class="inputField selectField authorize_role" id="last_level_role" style="width: 100%;">
																	<option value="0">Super Admin</option>
																	{% for other_department in other_departments %}
																	<optgroup label="{{other_department.department_name}}">
																		{% for other_role in other_department.other_roles %}
																		<option value="{{other_role.id}}">{{other_role.role_name}}</option>
																		{% endfor %}
																	</optgroup>
																	{% endfor %}
																</select>
															</div>
														</div>
													</li>
												</ul>`;
												$('#noOfLevels').append(leve_html);
												$('.error_msg').text('');
											} else if (level > 2 && level <= 10) {
												var level_html = `
												<ul class="dots m-0">
													<li class="green">
														<div class="row">
															<div class="col-md-3">
																<label class="mt-2">Initiate</label>
															</div>
															<div class="col-md-5 p-md-0">
																<textarea maxlength='100' class="inputField timeline-input" id="first_desc" placeholder="Enter Details"></textarea>
																<label class="error_msg float-right"></label>
															</div>
															<div class="col-md-4 pr-md-0">
																<select class="inputField selectField authorize_role" id="first_level_role" style="width: 100%;">
																	<option value="{{role.id}}">{{role.role_name}}</option> 
																</select>
															</div>
														</div>
													</li>
													<li class="green">
														<div class="row verticalList">
															<div class="col-md-3">
																<label class="mt-2">Approve</label>
															</div>
															<div class="col-md-5 p-md-0">
																<textarea maxlength='100' class="inputField timeline-input" id="last_level_desc" placeholder="Enter Details"></textarea>
																<label class="error_msg float-right"></label>
															</div>
															<div class="col-md-4 pr-md-0">
																<select class="inputField selectField authorize_role" id="last_level_role" style="width: 100%;">
																	<option value="0">Super Admin</option>
																	{% for other_department in other_departments %}
																	<optgroup label="{{other_department.department_name}}">
																		{% for other_role in other_department.other_roles %}
																		<option value="{{other_role.id}}">{{other_role.role_name}}</option>
																		{% endfor %}
																	</optgroup>
																	{% endfor %}
																</select>
															</div>
														</div>
													</li>
												</ul>
												`;
												$('#noOfLevels').append(level_html);
												var midProcess = level - 1;
												for (var i = 1; i < midProcess; i++) {
													var level_html = `
													<li class="green">
														<div class="row">
															<div class="col-md-3">
																<label id="labelLevel' + i + '" class="mt-2" onclick="showInput(' + i + ')">Forward</label>
																<input type="text" id="level_`+i+`" class="inputField hide" onblur="showLabel(' + i + ')">
															</div>
															<div class="col-md-5 p-md-0">
																<textarea maxlength='100' class="inputField timeline-input" id="level_description_`+i+`"  placeholder="Enter Details"></textarea>
																<label class="error_msg float-right"></label>
															</div>
															<div class="col-md-4 pr-md-0">
																<select class="inputField selectField authorize_role" id="level_role_`+i+`" style="width: 100%;">
																	<option value="0">Super Admin</option>
																	{% for other_department in other_departments %}
																	<optgroup label="{{other_department.department_name}}">
																		{% for other_role in other_department.other_roles %}
																		<option value="{{other_role.id}}">{{other_role.role_name}}</option>
																		{% endfor %}
																	</optgroup>
																	{% endfor %}
																</select>
															</div>
														</div>
													</li>`;
													
													$('#noOfLevels ul').find('li:last').prev().after(level_html);
												}
												$('.error_msg').text('');
											} else if (level > 10) {
												$('#total_work_flows').parent().find('.error_msg').text('Permission level should be between 1 to 10*');
											}
											
										})
										
										function applyWorkflow(sub_module_id, permission_id) {
											total_work_flows = $('#total_work_flows').val();
											if (total_work_flows == 0) {
												$('#total_work_flows').parent().find('.error_msg').text('Permission level should be between 1 to 10*');
												return false;
											}else if(total_work_flows > 10){
												$('#total_work_flows').parent().find('.error_msg').text('Permission level should be between 1 to 10*');
												return false;
											}
											else  {
												name_error_count = 0;
												role_error_count = 0;
												$('.error_msg').text('');
												$('.timeline-input').each(function () {
													if ($(this).val() == '') {
														name_error_count = name_error_count + 1;
														$(this).parent().find('.error_msg').text('Description required*');
													}
												})
												$('.authorize_role').each(function () {
													if ($(this).val() == '') {
														role_error_count = role_error_count + 1;
														$(this).parent().find('.error_msg').text('Role required*');
													}
												})
												if (name_error_count > 0) {
													return false;
												} else if (role_error_count > 0) {
													return false
												} else {
													
													var workflows = [];
													if (total_work_flows == 1) {
														var workflow = {};
														workflow.level_id = "{{first_workflow_level.id}}";
														workflow.role_id = $('#first_level_role option:selected').val();
														workflow.description = $('#first_desc').val();
														workflows.push(workflow);
													} else if (total_work_flows == 2) {
														var workflow = {};
														workflow.level_id = "{{first_workflow_level.id}}";
														workflow.role_id = $('#first_level_role option:selected').val();
														workflow.description = $('#first_desc').val();
														workflows.push(workflow);
														var workflow = {};
														workflow.level_id = "{{last_workflow_level.id}}";
														workflow.role_id = $('#last_level_role option:selected').val();
														workflow.description = $('#last_level_desc').val();
														workflows.push(workflow);
													} else if (total_work_flows > 2) {
														var workflow = {};
														workflow.level_id = "{{first_workflow_level.id}}";
														workflow.role_id = $('#first_level_role option:selected').val();
														workflow.description = $('#first_desc').val();
														workflows.push(workflow);
														for (var i = 1; i < parseInt(total_work_flows) - 1; i++) {
															var workflow = {};
															workflow.level_id = "{{middle_workflow_level.id}}";
															workflow.role_id = $('#level_role_' + i + ' option:selected').val();
															workflow.description = $('#level_description_' + i).val();
															workflows.push(workflow);
														}
														var workflow = {};
														workflow.level_id = "{{last_workflow_level.id}}";
														workflow.role_id = $('#last_level_role option:selected').val();
														workflow.description = $('#last_level_desc').val();
														workflows.push(workflow);
													}
													
													classes_h = $('#permission_' + sub_module_id + '_' + permission_id).attr('class');
													tempClasses_h = classes_h.split(' ');
													
													module_class = tempClasses_h[2]
													total_h = $('.'+module_class).length;
													total_h_checked = $('.'+module_class+ ':checked').length;
													
													tempArr_h = module_class.split('_');
													module_id = tempArr_h[2];
													if(total_h_checked == total_h){
														$('#module_'+module_id).prop('checked',true);
													}
													
													
													classes_p = $('#permission_' + sub_module_id + '_' + permission_id).attr('class');
													tempClasses_p = classes_p.split(' ');
													permission_class = tempClasses_p[2]
													total_p = $('.'+permission_class).length;
													total_p_checked = $('.'+permission_class+ ':checked').length;
													
													tempArr = permission_class.split('_');
													// permission_id = tempArr[2];
													if(total_p_checked == total_p){
														$('#permission_'+permission_id).prop('checked',true);
													}
													console.log()
													$('#workflow_text_' + sub_module_id + '_' + permission_id).text('Workflow Added ('+total_work_flows+')');
													$('#workflow_' + sub_module_id + '_' + permission_id).val(JSON.stringify(workflows));
													$('#workflowModal').hide();
												}
											}
										}
									</script>
									
									{% endblock %}