{% extends 'layout/layout.html' %}

{% load helper_tags %}

{% block content %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/roles&permission.css' %}" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css"> 
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/datatables.mark.js/2.0.0/datatables.mark.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.dataTables.min.css">
<link rel="stylesheet" href="{% static 'css/mediaQuery.css' %}" />

<style>
	.subtext{
		text-decoration: none;
	}
</style>
<style>
	
	.dataTables_filter{
		display: none !important;
	}
	.switch_box{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
	
	/* Switch 1 Specific Styles Start */
	
	input[type="checkbox"].switch_1{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 3.5em;
		height: 1.5em;
		background: #ddd;
		border-radius: 3em;
		position: relative;
		cursor: pointer;
		outline: none;
		-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	
	input[type="checkbox"].switch_1:checked{
		background: #0ebeff;
	}
	
	input[type="checkbox"].switch_1:after{
		position: absolute;
		content: "";
		width: 1.5em;
		height: 1.5em;
		border-radius: 50%;
		background: #fff;
		-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
		box-shadow: 0 0 .25em rgba(0,0,0,.3);
		-webkit-transform: scale(.7);
		transform: scale(.7);
		left: 0;
		-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	
	input[type="checkbox"].switch_1:checked:after{
		left: calc(100% - 1.5em);
	}
	
</style>

{% endblock %}


<div class="row px-3" id="containerHeight">
	<div class="col-md-8 col-12 px-0  h-100">
		<div class="primaryContainer h-100" id="mainbox">
			<div class="row mb-2 mt-2" id="topRow">
				<div class="col-md-6 col-12 px-0 pt-2"> 
					<h6 class="font-wt-b d-inline-block mb-0">
						{{page_title}} &nbsp;&nbsp;
						<i class="fa fa-star add_to_fav {% checkedFavorite page_title request.get_full_path %}" onclick="updateFavorite(this,'{{page_title}}','{{ request.get_full_path }}')"></i>
					</h6>
				</div>
				<div class="col-md-6 col-12 px-0 mob-mt-8">
					<div class="row  manageBlock" id="topRow">
						<div class="col-sm-12 col-12 px-0">
							<div class="row">
								<input class="col-6 col-sm-6 mr-2  search searchTable search" placeholder="Search" type="search" data-column="all">
								
								<button class="col-3 col-sm-3 px-0 btn iconBox iconAddRoles" onclick="addRole()" title="Add New Roles"></button>
								
								<div class="dropdown col-sm-1 col-1 pl-1 pr-2 " id="hideColumn">
									<button class="btn iconBox iconHide" type="button" id="dropdownMenuButton" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false" title="Hide"></button>
									<div class="dropdown-menu dropdown-menu-right logoutContainer"
									aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item columnHideItem" href="#">
										<input type="checkbox" class="colCheck" name="roles_name" id="roles_name" />
										<label class="mb-0" for="roles_name">Role Name</label>
									</a>
									<a class="dropdown-item columnHideItem" href="#">
										<input type="checkbox" class="colCheck" name="org_name" id="org_name" />
										<label class="mb-0" for="org_name">Organization Name</label>
									</a>
									<a class="dropdown-item columnHideItem" href="#">
										<input type="checkbox" class="colCheck" name="department" id="department" />
										<label class="mb-0" for="department">Department</label>
									</a>
								</div>
							</div>
							
							<div class="dropdown col-sm-1 col-1 pr-0 mob-pl-2" id="lockColumn">
								<button class="btn iconBox iconUnFreeze" type="button" id="dropdownMenuButton"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Stick"></button>
								<div class="dropdown-menu dropdown-menu-right logoutContainer"
								aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item columnHideItem" href="#">
									<input type="checkbox" class="colFreezeCheck" name="roles_name" id="lock_roles_name"
									onclick="toggleFreeze(this.id,'roles_name',1)" />
									<label class="mb-0" for="lock_roles_name">Role Name</label>
								</a>
								<a class="dropdown-item columnHideItem" href="#">
									<input type="checkbox" class="colFreezeCheck" name="landline_no" id="lock_org_name"
									onclick="toggleFreeze(this.id,'org_name',2)" />
									<label class="mb-0" for="lock_org_name">Organisation</label>
								</a>
								<a class="dropdown-item columnHideItem" href="#">
									<input type="checkbox" class="colFreezeCheck" name="department" id="lock_department"
									onclick="toggleFreeze(this.id,'department',3)" />
									<label class="mb-0" for="lock_department">Department</label>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row mt-2 border-redius-17" id="tableBox">
		<div class="col-md-12 primaryContainerBG h-100 p-0 commonTableBg">
			<table id="rolesTable" class="table table-borderless table-striped table-hover mt-0"
			style="width: 100%;">
			<thead>
				<tr>
					<th class="roles_name org_table_th" id="roles_name">
						Role Name
						<div class="float-right">
							<img src="{% static 'img/svg/unfreeze.svg' %}" class="" id="unfreeze">
							<img src="{% static 'img/svg/freeze.svg' %}" class="" id="freeze">
							<i class="fa fa-fw fa-sort"></i>
						</div>
					</th>
					
					<th class="org_name org_table_th" id="org_name">
						Organisation
						<div class="float-right">
							<img src="{% static 'img/svg/unfreeze.svg' %}" class="" id="unfreeze">
							<img src="{% static 'img/svg/freeze.svg' %}" class="" id="freeze">
							<i class="fa fa-fw fa-sort "></i>
						</div>
					</th> 
					<th class="department org_table_th" id="department">
						Department
						<div class="float-right">
							<img src="{% static 'img/svg/unfreeze.svg' %}" class="" id="unfreeze">
							<img src="{% static 'img/svg/freeze.svg' %}" class="" id="freeze">
							<i class="fa fa-fw fa-sort "></i>
						</div>
					</th>
					<th class="org_table_th">Action</th>
				</tr>
			</thead>
			<tbody id="tablebody">
				{% if roles %}
				{% for role in roles %}
				<tr  {% if forloop.first %} class="odd selected" {% endif %}>
					<td class="roles_name" onclick="roleDetails('{{role.id}}')">
						{{role.role_name}}
					</td>
					<td class="org_name" onclick="roleDetails('{{role.id}}')">
						{{role.organization_name}}
					</td>
					<td class="department" onclick="roleDetails('{{role.id}}')">
						{{role.department_name}}
					</td>
					<td>
						<div class="row text-center">
							<a href="javascript:;" onclick="editRole('{{role.id}}')" title="Edit">
								<img src="{% static 'img/svg/editcopy.svg' %}" />
							</a>
							<label class="switch ml-2 mt-2">
								<input type="checkbox" class="checkbox" name="is_active"
								id="is_active_{{ role.id }}"
								{% if role.status == 1 %} checked="" {% else %}
								{% endif %}
								onclick="updateRoleStatus('{{ role.id }}', '{{ role.status }}')">
								<span class="slider round" title="Enable/Disable"></span>
							</label>
							<a title="Leave Policy" class="ml-2"href="javascript:;" onclick="roleEntityMapping('{{role.id}}','leave_policy')">
								<img src="{% static 'img/svg/mapping-icon/leavePolicy.svg' %}" class="action-icon-role" alt=""/>
							</a>
							<a title="Holiday"  class="ml-2"href="javascript:;" onclick="roleEntityMapping('{{role.id}}','holiday')">
								<img src="{% static 'img/svg/mapping-icon/holiday.svg' %}" class="action-icon-role" alt=""/>
							</a>
							<a title="Attendance Group" class="ml-2 mob-mt-8" href="javascript:;" onclick="roleEntityMapping('{{role.id}}','attandance_group')">
								<img src="{% static 'img/svg/mapping-icon/attandanceGroup.svg' %}" class="action-icon-role" alt=""/>
							</a>
							<a title="Pay Band" class="ml-2 mob-mt-8" href="javascript:;" onclick="roleEntityMapping('{{role.id}}','pay_band')">
								<img src="{% static 'img/svg/mapping-icon/payband.svg' %}" class="action-icon-role" alt=""/>
							</a>
							<a title="Salary Addition Type" class="ml-2 mob-mt-8" href="javascript:;" onclick="roleEntityMapping('{{role.id}}','salary_addition')">
								<img src="{% static 'img/svg/mapping-icon/salaryAddition.svg' %}" class="action-icon-role" alt=""/>
							</a>
							<a title="Salary Deduction Type" class="ml-2 mob-mt-8" href="javascript:;" onclick="roleEntityMapping('{{role.id}}','salary_deduction')">
								<img src="{% static 'img/svg/mapping-icon/salaryDeduction.svg' %}" class="action-icon-role" alt=""/>
							</a>
							<a title="Map Attributes" class="ml-2 mob-mt-8" href="javascript:;" onclick="roleAttributesMapping('{{role.id}}','salary_deduction')">
								<img src="{% static 'img/svg/mapping-icon/salaryDeduction.svg' %}" class="action-icon-role" alt=""/>
							</a>
							
							
						</div>
					</td>
				</tr>
				
				{% endfor %}
				<tr id="loading" style="display: none;">
					<td class="text-center" colspan="4"><i class="fa fa-spinner fa-spin" style="font-size:2rem"></i>
					</td>
				</tr>
				{% else %}
				<tr>
					<td colspan="4" style="text-align: center;">No Record Found...</td>
				</tr>
				{% endif %}
				
				
			</tbody>
		</table>
	</div>
</div>
</div>
</div>


<div class="col-md-4 col-12 px-0 h-100 " id="ajax-role-detail">
	<div class="primaryContainerBG h-100 manageBlock ml-3 mob-ml-0 mob-mt-8" id="detailsBox">
		<div class="row" id="detailsBoxFirst" style="display: block !important;">
			{% if role_details %}
			<div class="col-sm-12  col-12 px-0">
				<h6 class="font-wt-b">{{role_details.role_name}} </h6>
			</div>
			
			<div class="col-sm-12 col-12 px-0 my-3">
				<div class="row pb-2 border-bottom">
					<div class="col-md-6 col-6 px-0">
						<div class="row">
							<img src="{% static 'img/svg/depart_no.svg' %}" alt="" class="col-1 col-sm-2 px-0 profileIconSize" />
							<span class="px-2 col-sm-10 col-11 ">
								<h6 class="smallText">Department</h6>
								<h6 class="largeText">{{role_details.department_name}}</h6>
							</span>
						</div>
					</div>
					
					<div class="col-md-6 col-6 px-0">
						<div class="row">
							<img src="{% static 'img/svg/org.svg' %}" alt="" class="col-1 col-sm-2 px-0 profileIconSize" />
							<span class="px-3 col-sm-10 col-11 ">
								<h6 class="smallText">Organisation</h6>
								<h6 class="largeText">{{role_details.organization_name}}</h6>
							</span>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		{% else %}
		<div class="col-md-12 p-md-0">
			<h6><b>No Details found. </b></h6>
		</div>
		
		{% endif %}
	</div>
</div>


</div>
<!-- ***************************************************************************** -->



<!-- *************************************Modal********************************** -->
<div class="overlayModal" id="addPermissionModal" style="margin-top: 100pxaaa">
	
</div>


<div class="overlayModal" id="openWorkFlowHistory">
	<div class="modal-WorkModal centered">
		<div class="modal-body p-0">
			<div class="row">
				<div class="col-md-3 p-md-0 modalWFBG">
					<div class="transformImageWF">
						<img src="{% static 'img/svg/workflow.svg' %}" class="modalLeftImg" />
						<h3 class="modalColHead">Workflow&nbsp;&nbsp;<span class="fa fa-star add_to_fav"></span></h3>
					</div>
				</div>
				<div class="col-md-9 p-md-4">
					
					<form>
						<div class="row">
							<div class="col-md-6">
								<h5><b>Workflow </b></h5>
							</div>
							<div class="col-md-6 p-md-0">
								<button class="btn btn-close float-right" type="button"
								onclick="manipulateModal('openWorkFlowHistory','close')">
								Close
							</button>
						</div>
					</div>
					<div class="row mt-5 mb-5">
						<div class="col-md-12">
							<ul class="dots mb-0">
								<!-- Experience -->
								<li class="green">
									<div class="row verticalList">
										<div class="col-md-3">
											<label class="mt-2">Initiate</label>
										</div>
										<div class="col-md-4 p-md-0">
											<input class="inputField" type="text" placeholder="Enter Details" disabled />
										</div>
										<div class="col-md-4">
											<select class="inputField selectField" style="width: 100%;" disabled>
												<option>HR</option>
											</select>
										</div>
									</div>
								</li>
								<li class="green">
									<div class="row verticalList">
										<div class="col-md-3">
											<label class="mt-2">Forward</label>
										</div>
										<div class="col-md-4 p-md-0">
											<input class="inputField" type="text" placeholder="Enter Details" disabled />
										</div>
										<div class="col-md-4">
											<select class="inputField selectField" style="width: 100%;" disabled>
												<option>Accounts</option>
											</select>
										</div>
										<div class="col-md-1 ">
											<label class="switch">
												<input type="checkbox" />
												<span class="slider round" title="Enable/Disable"></span>
											</label>
										</div>
									</div>
								</li>
								<li class="green">
									<div class="row verticalList">
										<div class="col-md-3">
											<label class="mt-2">Approve</label>
										</div>
										<div class="col-md-4 p-md-0">
											<input class="inputField" type="text" placeholder="Enter Details" disabled />
										</div>
										<div class="col-md-4">
											<select class="inputField selectField" style="width: 100%;" disabled>
												<option>Accounts</option>
											</select>
										</div>
									</div>
								</li>
								
							</ul>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</div>

<div class="overlayModal" id="addUserModal" style="display: none;">
	
</div>

<div class="overlayModal" id="workflowModal" style="display: none;">
	
</div>

<div class="overlayModal" id="viewWorkflowModal" style="display: none;">
	
</div>


</div>

<!-- *************************************Modal********************************** -->

{% endblock content %}



{% block script %}

<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdn.jsdelivr.net/g/mark.js(jquery.mark.min.js)"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.js"></script>

<script>
	function getDepartments(organization_id){
		if(organization_id != ""){
			
			showLoader();
			var url = "{% url 'src:get-org-department-options' 1 %}";
			url = url.replace(1,organization_id)
			$.ajax({
				url: url,
				method: 'GET',
				success: function (data) {
					hideLoader();
					$('[name="department_id"]').html(data.options)
					$(".selectField").select2();
					
				},
				error: function (err) {
					hideLoader();
					console.log(err)
				}
			});
		}
		
	}
	
	function getOrgRoles(organization_id){
		if(organization_id != ""){
			
			showLoader();
			var url = "{% url 'src:get-org-role-options' 1 %}";
			url = url.replace(1,organization_id)
			$.ajax({
				url: url,
				method: 'GET',
				success: function (data) {
					hideLoader();
					$('[name="reporting_role_id"]').html(data.options)
					
				},
				error: function (err) {
					hideLoader();
					console.log(err)
				}
			});
		}
		
	}
	
	function roleEntityMapping(role_id,entity_id){
		$('#addUserModal').html('');
		// showLoader();
		console.log(role_id,entity_id);
		url = "{% url 'src:role-entity-mapping' 'rep1' 'rep2' %}";
		url = url.replace('rep1',role_id)
		url = url.replace('rep2',entity_id)
		console.log(url);
		$.ajax({
			url: url,
			method: 'GET',
			success: function (data) {
				hideLoader();
				$("#addUserModal").show();
				$('#addUserModal').html(data);
				$('.selectField').select2();
			},
			error: function (err) {
				console.log(err)
			}
		});
	}
	
	function roleAttributesMapping(role_id,entity_id){
		$('#addPermissionModal').html('');
		showLoader();
		url = "{% url 'src:view-map-role-attributes-modal' 'role_id' 'entity_id' %}";
		url = url.replace('role_id',role_id).replace('entity_id',entity_id)
		$.ajax({
			url: url,
			method: 'GET',
			success: function (data) {
				hideLoader();
				$("#addPermissionModal").show();
				$('#addPermissionModal').html(data);
				$('.selectField').select2();
				
				

				setTimeout(function() {
					
					var attributes = [2,3,4,5,6,7,8,9];
					for (var i = 0; i < attributes.length - 1; i++) {
						
						window['table_'+attributes[i]] = $('#table_'+attributes[i]).DataTable( {
							"ordering": false,
							"info":     false,
							mark: true,
							scrollY:        '50vh',
							scrollCollapse: true,
							paging:         false,
							fixedHeader: {
								header: true,
							},
						} );
					}
					
				}, 1000);
				
			},
			error: function (err) {
				console.log(err)
			}
		});
	}
	
	
	
	function closePreview(){
		$('#workflowModal').html('');
		$('#workflowModal').hide();
	}
	
	
	$(document).ready(function(){
	})
	
	
	function roleDetails(id) {
		showLoader();
		var url = "{% url 'src:role-details' 1 %}";
		url = url.replace(1,id);
		$.ajax({
			url: url,
			method: 'GET',
			success: function (data) {
				hideLoader();
				$('#ajax-role-detail').html(data);
			},
			error: function (err) {
				hideLoader();
				console.log(err)
			}
		});
	}
	
	function editRole(id) {
		showLoader();
		var url = "{% url 'src:edit-role' 1 %}";
		url = url.replace(1,id);
		$.ajax({
			url: url,
			method: 'GET',
			success: function (data) {
				hideLoader();
				
				
				$("#addPermissionModal").show();
				$('#addPermissionModal').html(data);
				
				var mch = $(".modal-AddPermission").height() - $(".modal-header").outerHeight();
				$("#addPermissionModalBody").height(mch);
				$(".selectField").select2();
				
			},
			error: function (err) {
				hideLoader();
				console.log(err)
			}
		});
	}
	
	
	function addRole() {
		showLoader();
		var url = "{% url 'src:add-role' %}";
		$.ajax({
			url: url,
			method: 'GET',
			data: $('#addRoleForm').serialize(),
			success: function (data) {
				if(typeof data.flag !== "undefined" && !data.flag){
					hideLoader();
					openToaster("danger", data.message);
				}else{
					hideLoader();
					$("#addPermissionModal").show();
					$('#addPermissionModal').html(data);
					var mch = $(".modal-AddPermission").height() - $(".modal-header").outerHeight();
					$("#addPermissionModalBody").height(mch);
					$(".selectField").select2();
				}
				
			},
			error: function (err) {
				hideLoader();
				console.log(err)
			}
		});
	}
	
	function saveRole(){
		showLoader();
		if(validateRoleForm()){
			hideLoader();
			return false;
		}else{
			$.ajax({
				url: "{% url 'src:add-role' %}",
				method: 'POST',
				data: $('#addRoleForm').serialize(),
				
				success: function (data) {
					hideLoader();
					if(data.flag){
						$("#addPermissionModal").show();
						$('#addPermissionModal').html(data);
						
						openToaster("success", data.message);
						window.location.reload();
					}else{
						openToaster("danger", data.message);
					}
				},
				error: function (err) {
					hideLoader();
					console.log(err)
				}
			}).always(function() {
				hideLoader();
			});
		}
	}
	
	function saveRolePermission(){
		showLoader();
		if($('#role_id').val() == ""){
			hideLoader();
			openToaster("danger", "Role not found");
			return false;
		}else{
			$.ajax({
				url: "{% url 'src:add-role-permission' %}",
				method: 'POST',
				data: $('#addRolePermissionForm').serialize(),
				success: function (data) {
					if(data.flag){
						$('#addPermissionModal').hide()
						openToaster("success", data.message);
						setTimeout(function(){ window.location.reload(); }, 1000);
					}else{
						openToaster("danger", "Server error");
					}
				},
				error: function (err) {
					hideLoader();
					console.log(err)
				}
			}).always(function() {
				// hideLoader();
			});
		}
	}
	
	
	function validateRoleForm(){
		error = 0;
		$('.error_msg ').text('');
		$('.inputField').css("border", "");
		var role_name = $('[name="role_name"]').val();
		if(role_name.trim() == null || role_name.trim() == ''){
			$('[name="role_name"]').parent().find('.error_msg').text('Please enter role name');
			$('[name="role_name"]').css("border", "1px solid #db8305");
			error = error + 1;
		}
		
		var responsibilities = $('[name="responsibilities"]').val();
		if(responsibilities.trim() == '' && responsibilities != ''){
			$('[name="responsibilities"]').parent().find('.error_msg').text('Only Space not allowed in responsibilities');
			$('[name="responsibilities"]').css("border", "1px solid #db8305");
			error = error + 1;
		}
		if($('[name="organization_id"]').val() == ""){
			$('[name="organization_id"]').parent().find('.error_msg').text('Please select organization');
			$('[name="organization_id"]').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
			error = error + 1;
		}
		if($('[name="department_id"]').val() == ""){
			$('[name="department_id"]').parent().find('.error_msg').text('Please select department');
			$('[name="department_id"]').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
			error = error + 1;
		}
		if($('[name="reporting_role_id"]').val() == ""){
			$('[name="reporting_role_id"]').parent().find('.error_msg').text('Please select reporting role');
			$('[name="reporting_role_id"]').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
			error = error + 1;
		}
		if(error > 0){
			return true;
		}else{
			return false;
		}
	}
	
	function updateRole(id){
		if(validateRoleForm()){
			hideLoader();
		}else{
			showLoader();
			var url = "{% url 'src:edit-role' 1 %}";
			url = url.replace(1,id);
			$.ajax({
				url: url,
				method: 'POST',
				data: $('#editRoleForm').serialize(),
				success: function (data) {
					if(data.flag){
						$('#addPermissionModal').hide()
						openToaster("success", data.message);
						setTimeout(function(){ window.location.reload(); }, 500);
					}else{
						openToaster("warning", data.message);
					}
				},
				error: function (err) {
					// hideLoader();
					console.log(err)
				}
			}).always(function() {
				// hideLoader();
			});
		}
	}
	
	function updateRoleStatus(id, active_status) {
		if ($('#is_active_' + id).prop("checked") == true) {
			is_active = 1;
			status = 'Unblock';
		} else {
			is_active = 0;  
			status = 'Block';
		}
		
		showLoader();
		$.ajax({
			url: "{% url 'src:update-role-status' %}",
			method: 'POST',
			data: {
				id: id,
				is_active: is_active,
				csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function (data) {
				if (data.error == false) {
					$('#addPermissionModal').hide()
					openToaster("success", data.message);
					hideLoader();
					// setTimeout(function(){ window.location.reload(); }, 500);
				}
			},
			error: function (err) {
				console.log(err)
				hideLoader();
			}
		});
	}
	
	function gettost() {
		toastr.warning("Error", "Error Title");
	}
	
	function toggleOrganization(activetype, inactiveType) {
		$('#' + activetype).addClass("activeTab");
		$('#' + inactiveType).removeClass("activeTab");
		$('.' + inactiveType + 'Block').hide();
		$('.' + activetype + 'Block').show();
	}
	
	function toggleFreeze(inputid, colid, colNo) {
		var checkbox = document.getElementById(inputid);
		if (checkbox.checked == true) {
			$("#rolesTable thead tr th:nth-child(" + colNo + ")").addClass("frezedCell sorter-false");
			$("#rolesTable tbody tr").each(function (index) {
				$("#rolesTable tbody tr td:nth-child(" + colNo + ")").addClass("frezedCell");
				$("#rolesTable tbody tr td:nth-child(" + colNo + ")").addClass("sorter-false");
			});
			$('#' + colid + ' #freeze').show();
			$('#' + colid + ' #unfreeze').hide();
		} else {
			$("#rolesTable thead tr th:nth-child(" + colNo + ")").removeClass("frezedCell sorter-false");
			$("#rolesTable tbody tr").each(function (index) {
				$("#rolesTable tbody tr td:nth-child(" + colNo + ")").removeClass("frezedCell");
				$("#rolesTable tbody tr td:nth-child(" + colNo + ")").removeClass("sorter-false");
			});
			$('#' + colid + ' #unfreeze').show();
			$('#' + colid + ' #freeze').hide();
		}
	}
	
	function toggleSelectCol(inputid, colid, colNo) {
		var checkbox = document.getElementById(inputid);
		if (checkbox.checked == true) {
			$("#addPermissionModule thead tr th:nth-child(" + colNo + ")").addClass("frezedCell sorter-false");
			$("#addPermissionModule tbody tr").each(function (index) {
				$("#addPermissionModule tbody tr td:nth-child(" + colNo + ")").addClass("frezedCell");
				$("#addPermissionModule tbody tr td:nth-child(" + colNo + ")").addClass("sorter-false");
			});
			$('#' + colid + ' #freeze').show();
			$('#' + colid + ' #unfreeze').hide();
		} else {
			$("#addPermissionModule thead tr th:nth-child(" + colNo + ")").removeClass("frezedCell sorter-false");
			$("#addPermissionModule tbody tr").each(function (index) {
				$("#addPermissionModule tbody tr td:nth-child(" + colNo + ")").removeClass("frezedCell");
				$("#addPermissionModule tbody tr td:nth-child(" + colNo + ")").removeClass("sorter-false");
			});
			$('#' + colid + ' #unfreeze').show();
			$('#' + colid + ' #freeze').hide();
		}
	}
	
	$(document).ready(function () {
		setHeightWidth();
		showLoader();
		setTimeout(() => {
			hideLoader();
		}, 2000);
		$('#rolesTable').tablesorter({
			widgets: ["zebra", "filter", "resizable", "stickyHeaders"],
			widgetOptions: {
				resizable_addLastColumn: true,
				resizable: false,
				resizable_widths: ["22%", "25%", "24%", "50%"],
				stickyHeaders_attachTo: ".primaryContainerBG",
				filter_external: '.search',
				filter_columnFilters: false,
			}
		});
		
		$("#rolesTable tbody tr").click(function () {
			$(this).addClass("selected").siblings().removeClass("selected");
		});
		
		$(".primaryContainerBG").scroll(function () {
			var divTable = $(".primaryContainerBG");
			$(".frezedCell").css("left", 0 + divTable.scrollLeft());
		});
		
		$(".checkBoxContainer").scroll(function () {
			var divTable = $(".checkBoxContainer");
			$(".frezedCell").css("left", 0 + divTable.scrollLeft());
		});
		
		$("#hideColumn input:checkbox:checked").each(function () {
			var column = "table ." + $(this).attr("name");
			$(column).hide();
			//$("#hideColumn").hide();
		});
		$("#hideColumn input:checkbox").click(function () {
			var column = "table ." + $(this).attr("name");
			$(column).toggle();
		});
		
		$(".colCheck").change(function () {
			if ($(".colCheck:not(:checked)").length == $(".colCheck").length) {
				//do something
				$(".iconHide").css("background-image", "url({% static 'img/png/hide.png' %})");
			} else {
				$(".iconHide").css("background-image", "url({% static 'img/svg/hideblue.svg' %})");
			}
		});
		
		$(".colFreezeCheck").change(function () {
			if ($(".colFreezeCheck:not(:checked)").length == $(".colFreezeCheck").length) {
				//do something
				$(".iconUnfreeze").css("background-image", "url({% static 'img/svg/unfreeze.svg' %})");
			} else {
				$(".iconUnfreeze").css("background-image", "url({% static 'img/svg/freeze.svg' %})");
			}
		});
		jQuery(".main-table").clone(true).appendTo('#table-scroll').addClass('clone');
		jQuery(".main-tableModal").clone(true).appendTo('#table-scrollModal').addClass('clone');
		
	});
	
	$(window).resize(function () {
		setHeightWidth();
	});
</script>
<script type="text/javascript">
	$(document).ready(function () {
		var prevTop = 0;
		// $('.commonTableBg').on('scroll', function () {
			// 	var currentTop = $(this).scrollTop();
			// 	if (prevTop !== currentTop) {
				// 		prevTop = currentTop;
				// 		if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
					// 			$('#loading').show();
					// 			setTimeout(() => {
						// 				$('#tablebody').find('tr:last').prev().after('<tr><td class="roles_name">PSM</td><td class="org_name">Saahaj Milk Prodcuts</td><td class="department">Finance</td><td><div class="row"><div class="col-md-3"><img src="dist/img/svg/editcopy.svg" /></div><div class="col-md-5"><label class="switch"><input type="checkbox" /><span class="slider round"></span></label></div></div></td></tr>');
						// 				$('#loading').hide();
						// 			}, 2000);
						// 		}
						// 	}
						// })
					});
				</script>
				
				{% endblock %}