{% extends 'layout/layout.html' %}

{% load helper_tags %}

{% block content %}

{% load static %}

{% block style %} 
<style>
    .ui-autocomplete {
        max-height: 100px !important;
        overflow-y: auto !important;
        /* prevent horizontal scrollbar */
        overflow-x: hidden !important;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 100px !important;
    }
    
    /* calendar css start */
    .calendar {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .calendar__input {
        display: none;
    }
    
    .calendar__label {
        display: block;
    }
    
    .calendar__label__day {
        padding-bottom: 0.4rem;
        background-color: white;
        font-size: 0.8rem;
    }
    .holiday{
        background-color: #629632; 
        color: white;
    }
    
    /* calendar css start */
    
    
</style>
<link rel="stylesheet" href="{% static 'css/jquery-confirm.min.css' %}">
<link rel="stylesheet" href="{% static 'css/manage-holidays.css' %}">

{% endblock %}

<div class="row" id="containerHeight">
    <div class="col-md-8 pr-md-0 h-100">
        <div class="primaryContainer h-100" id="mainbox" style="background-color: #ffffff;">
            <div class="row mb-2" id="topRow" style="background-color: #f7f8fb;">
                <div class="col-md-5 p-md-0">
                    <h6><b>{{page_title}} &nbsp;&nbsp;</b><span class="fa fa-star add_to_fav {% checkedFavorite page_title request.get_full_path %}" onclick="updateFavorite(this,'{{page_title}}','{{ request.get_full_path }}')"></span></h6>
                </div>
                <div class="col-md-7 p-md-0">
                    <div class="row">
                    </div>
                    <div class="row mb-2 mt-2" id="secondRow">
                        <div class="col-md-12 px-0 ">
                            
                        </div>
                    </div>
                </div>
            </div>
            {% if holiday %}
            
            <div class="primaryContainerBG h-100" id="ajaxCalendarDiv">
                <form action="" id="markVacationForm">
                    <div class="row">
                        <div class="col-md-6 px-0">
                            <div class="row">
                                <span class="slider-icon-box"onclick="getHolidayCalendar('{{ holiday.id }}','{{previous_month}}','{{current_year}}')">
                                    <img src="{% static 'img/svg/arrow_left.svg' %}" alt="">
                                </span>
                                <span class="calendar-title">{{current_month_name}} 
                                    <b style="color: #000;">{{current_year}}</b>
                                </span>
                                <span class="slider-icon-box mr-3" onclick="getHolidayCalendar('{{ holiday.id }}','{{next_month}}','{{current_year}}')"> 
                                    <img src="{% static 'img/svg/arrow_right.svg' %}" alt="" >
                                </span>

                            </div>
                            
                        </div>
                        <div class="col-md-6 px-0">
                            <button type="button" class="btn btn-save float-right" onclick="addHoliday()">Add New
                            </button>
                        </div>                       
                        
                        <div class="col-md-12 px-0 calendar-table">
                            <table class="">
                                <thead>
                                    <tr>
                                        <th>Monday</th>
                                        <th>Tuesday</th>
                                        <th>Wednesday</th>
                                        <th>Thursday</th>
                                        <th>Friday</th>
                                        <th>Saturday</th>
                                        <th>Sunday</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for calendar_date in calendar_dates %}
                                    <tr>
                                        {% for data in calendar_date %}
                                        <td class=" ">
                                            <input type="checkbox" name="" id="date-{{data.full_date|date:'Y-m-d'}}" value="{{data.full_date|date:'Y-m-d'}}" onclick="" class="calendar__input" disabled="" {% if data.is_holiday == 1 %}checked{% endif %}>
                                            <label for="date-{{data.full_date|date:'Y-m-d'}}" class="calendar__label">
                                            <div class="calendar__label__date" >
                                                {{data.short_date }}<br>
                                                {% if data.is_holiday == 1 %}
                                                {{data.holiday}}
                                                {% endif %}
                                            </div>

                                             
                                            </label>
                                        </td>                                        
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </form>
            </div>
            {% else %}
            <div class="primaryContainerBG h-100 calender-container" id="ajaxCalendarDiv">
            </div>
            {% endif %}
            
        </div>
    </div>
    <div class="col-md-4 col-12 pl-3 pr-0 h-100">
        <div class="primaryContainerBG h-100" id="detailsBox">
            <div class="row" id="tableBox" style="display: block;">
                <div class="col-sm-12 col-12 px-0 mb-2">
                    <div class="row">
                        <!-- <div class="col-sm-7 col-7 px-0">
                            <input class="searchTable w-100" placeholder="Search" type="text" id="filter_search" onkeyup="filterVacationList()" data-column="all">
                        </div> -->

                        <div class="col-sm-5 col-5 px-0" id="secondRow">                        
                            <select class="inputField selectField" name="leave_status" id="leave_status" onchange="getPolicyRecord()">
                                <option value="">All Status</option>
                                <option value="0" {% if order_status == 1 %} selected {% endif %}>Discarded</option>
                                <option value="1" {% if order_status == 1 %} selected {% endif %}>Initiated</option>
                                <option value="2" {% if order_status == 2 %} selected {% endif %}>Forwarded</option>
                                <option value="3" {% if order_status == 3 %} selected {% endif %}>Approved</option>
                            </select>
                        </div>
                        <div class="col-sm-5 col-5 px-0">
                        
                    </div>
                        
                    </div>
                </div>
                
                <div class="col-sm-12 col-12 primaryContainerBG h-100 p-0 commonTableBg" id="ajax-div">
                    <input type="hidden" name="page" id="page" value="2" />
                    <input type="hidden" name="page_status" id="page_status" value="0" />
                    <input type="hidden" name="total_pages" id="total_pages" value="{{ total_pages }}" />
                    <table id="addOrgTable" class="table table-borderless table-striped table-hover mt-0" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Holiday</th>
                                <th>Holiday Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody id="tablebody">
                            {% if holidays %}
                            {% for holiday in holidays %}
                            <tr  {% if forloop.first %} class="odd selected" {% endif %}>
                                <td onclick="getHolidayCalendar('{{ holiday.id }}','{{current_month}}','{{current_year}}')">{{ holiday.holiday }}
                                    
                                    <br>
                                </td>
                                <td onclick="getHolidayCalendar('{{ holiday.id }}','{{current_month}}','{{current_year}}')">{{holiday.holiday_type}}</td>
                                <td onclick="getHolidayCalendar('{{ holiday.id }}','{{current_month}}','{{current_year}}')">
                                    {{ holiday.description|safe}}
                                </td>                                
                            </tr>
                                {% endfor %}
                                <tr id="loading" style="display: none;">
                                    <td class="text-center" colspan="4"><i class="fa fa-spinner fa-spin" style="font-size:2rem"></i>
                                    </td>
                                </tr>
                                
                                {% else %}
                                <tr>
                                    <td colspan="4" style="text-align: center;">No Record Found...</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- *************************************Modal********************************** -->
    <div class="overlayModal" id="AddnewHolidayModal" style="display: none;">
        <!-- {% load static %} -->
        <div class="modal-AddOrganisation centered" >
            <div class="modal-body p-0">
                <div class="row">
                    <div class="col-sm-3 col-12 px-0 ">
                       <div class="row modalHoliday">
                           <div class="text-center">
                                <img src="{% static 'img/svg/calander-vications.svg' %}"  />
                                <h4 class="text-white mt-2">Add New <span class="modal-heading d-block"> Holiday </span></h4>
                           </div>
                       </div>
                    </div>
                    <div class="col-sm-9 col-12 add-details-popup">
                        <form name="holidayForm" id="holidayForm" method="POST" autocomplete="off" enctype="multipart/form-data" >
                            {% csrf_token %}
                            <div class="row add-form-row-mrng" style="justify-content: flex-end;">
                                <button class="btn btn-close " type="button"  onclick="manipulateModal('AddnewHolidayModal','close')">
                                    <span class="mob-d-none" onclick="">Close</span>
                                    <i class="far fa-times-circle mob-d-block desk-d-none"></i>
                                </button>
                                <button class="btn btn-save mob-ml-16" type="button" onclick="saveHolidayForm()">
                                    Save
                                </button>
                            </div>
                            <div class="row add-form-row-mrng">
                                <div class="col-sm-12 col-12  pr-0 mt-2">                                
                                    <img src="{% static 'img/svg/leavePolicy.svg' %}" class="profileIconSize">&nbsp;&nbsp;
                                    <h6 class="font-wt-b d-inline-block">
                                        Add Institution*
                                    </h6>
                                    <select class="inputField selectField" multiple data-live-search="true" name="filter_org_name[]" id="filter_org_id">
                                        {% for institution_name in institutions %}
                                        <option value="{{institution_name.id}}">{{institution_name.organization_name|safe}}</option>
                                        {% endfor %}
                                    </select> 
                                      
                                </div>
                                
                                <div class="col-sm-12 col-12  pr-0 mt-2">                                
                                    <img src="{% static 'img/svg/leavePolicy.svg' %}" class="profileIconSize">&nbsp;&nbsp;
                                    <h6 class="font-wt-b d-inline-block">
                                        Add Roles
                                    </h6>
                                    <select class="inputField selectField" multiple data-live-search="true" name="filter_role[]" id="filter_role_id">
                                        <option value="">Add Roles</option>
                                        {% for role_name in roles %}
                                        <option value="{{role_name.id}}">{{role_name.role_name|safe}}</option>
                                        {% endfor %}
                                    </select> 
                                      
                                </div>
                                <div class="col-sm-12 col-12  pr-0 mt-2">                                
                                    <img src="{% static 'img/svg/leavePolicy.svg' %}" class="profileIconSize">&nbsp;&nbsp;
                                    <h6 class="font-wt-b d-inline-block">
                                        Holiday Type*
                                    </h6>
                                    <select class="inputField selectField" data-live-search="true" name="holiday_type_id" id="holiday_type_id">
                                        <option value="">Add Holiday Type</option>
                                        {% for holiday_type in holiday_types %}
                                        <option value="{{holiday_type.id}}">{{holiday_type.holiday_type|safe}}</option>
                                        {% endfor %}
                                    </select> 
                                      
                                </div>
                                <div class="col-sm-12 col-12  pr-0 mt-2">                                
                                    <img src="{% static 'img/svg/leavePolicy.svg' %}" class="profileIconSize">&nbsp;&nbsp;
                                    <h6 class="font-wt-b d-inline-block">
                                        Holiday Name*
                                    </h6>
                                    <input class="inputField " id="holidayName" name="holidayName" placeholder="Holiday Name"> 
                                      
                                </div>
                                
                            </div>
                            
                            
                            <div class="row add-form-row-mrng mt-2">
                                <div class="col-sm-12 col-12  pr-0">
                                    <img src="{% static 'img/svg/calander-blue.svg' %}"  class="profileIconSize" />&nbsp;&nbsp;
                                    <h6 class="font-wt-b d-inline-block" >Select Date Range</h6>
                                    
                                </div>
        
                                <div class="col-sm-12 col-12 px-0 mt-2">
                                    <div class="row ">
                                        <div class="col-sm-6 col-6 pl-0 pr-2">
                                            <!-- <input class="inputField position-relative" type="text" placeholder="Date From*" id="" name="dateFrom" /> -->
                                            <input id="from_date" name="from_date" class="searchTable w-100 " placeholder="Date From*" value="{% now 'd/m/Y' %}" type="text" readonly >
                                            <img src="{% static 'img/svg/claender-grey.svg' %}" class="profileIconSize calender-icon-input" style="right: 16px;" />
                                            <label class="error_msg float-right" id="address_error"></label>
                                        </div>
                                        <div class="col-sm-6 col-6  pl-1 pr-0 ">
                                            <!-- <input class="inputField position-relative" type="text" placeholder="Date To*" id="" name="dateTo"  /> -->
                                            <input id="to_date" name="to_date" class="searchTable w-100 " placeholder="Date To*" value="{% now 'd/m/Y' %}" type="text" readonly >
                                            <img src="{% static 'img/svg/claender-grey.svg' %}" class="profileIconSize calender-icon-input" />
                                            <label class="error_msg float-right" id="pincode_error"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row add-form-row-mrng">
                                <div class="col-sm-12 col-12  pr-0 mt-2">
                                    <img src="{% static 'img/svg/vication-holiday.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
                                    <h6 class="font-wt-b d-inline-block">
                                        Holiday Description
                                    </h6>
                                </div>
                                   
                                <div class="col-sm-12 col-12 px-0 mt-2">
                                    <textarea class="inputField " type="textarea" placeholder="describe Holiday Here*"
                                        id="holiday_description" name="holiday_description"></textarea>
                                    <label class="error_msg float-right" id="organization_name_error"></label>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlayModal" id="addOrganisationModal" data-keyboard="false" data-backdrop="static">

    </div>
    <div class="overlayModal" id="addDeptModal" data-keyboard="false" data-backdrop="static">

    </div>
    <!-- *************************************Modal********************************** -->
    {% endblock content %}
    {% block script %}
    
    <script src="{% static 'js/jquery-confirm.min.js' %}"></script>
    <script src="{% static 'js/ckeditor.js' %}"></script>
    <script type="text/javascript">
        
        // function saveOrganization(){

        // }
        function validateForm(){
        var error = 0;
        $('.error_msg ').text('');
        $('.inputField').css("border", "");
        $('.select2-container').css("border", "");

        if($.trim($('[name="filter_org_name[]"]').val()) == ""){
            $('[name="filter_org_name[]"]').parent().find('.error_msg').text('Please enter Institution Name');
            $('[name="filter_org_name[]"]').css("border", "1px solid #db8305");
            error = error + 1;
        }

        
            if ($.trim($(this).find('[name="holiday_type_id"]').val()) == "") {
                error = error + 1;
                $(this).find('[name="holiday_type_id"]').css("border", "1px solid #db8305");
                $(this).find('[name="holiday_type_id"]').parent().find('.error_msg').text("Please enter year holiday type*");
            }

            if ($.trim($(this).find('[name="holidayName"]').val()) == "") {
                error = error + 1;
                $(this).find('[name="holidayName"]').css("border", "1px solid #db8305");
                $(this).find('[name="holidayName"]').parent().find('.error_msg').text("Please enter Holiday Name*");
            }
            if ($.trim($(this).find('[name="holiday_description"]').val()) == "") {
                error = error + 1;
                $(this).find('[name="holiday_description"]').css("border", "1px solid #db8305");
                $(this).find('[name="holiday_description"]').parent().find('.error_msg').text("Please enter Holiday Description*");
            }
            
        }
      

        
        function saveHolidayForm(){
        if(validateForm()){
            return false;
        }else{
            showLoader();
            var formData = $('#holidayForm').serialize();
            console.log(formData);                
            $.ajax({
                url: "{% url 'src:add-holiday' %}",
                type: 'POST',
                data: formData,
                success: function (response) {                        
                    hideLoader();
                    if (response.flag) {
                        $('#AddnewHolidayModal').html('');
                        $('#AddnewHolidayModal').hide();
                        manipulateModal('AddnewHolidayModal','close');
                        openToaster("success", response.message);

                        setTimeout(function(){ window.location.reload(); }, 500);


                    } else {
                        openToaster("danger", response.message);
                    }
                }
            });
        }
    }

        function addHoliday(){
            $('#AddnewHolidayModal').show();
        }
            
        
        $(document).ready(function () {
            
            $("#from_date").datepicker({  
            changeMonth: true,
            changeYear: true,  
            yearRange: "-100:+0",
            maxDate: 0,
            dateFormat: 'dd/mm/yy' 
        });
            $("#addOrgTable tbody tr").click(function () {
            $(this).addClass("selected").siblings().removeClass("selected");
        });

            ClassicEditor
            .create( document.querySelector('#holiday_description'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            } )
            .then( editor => {
                window.editor = editor;
            } )
            .catch( err => {
                console.error( err.stack );
            } );


            var prevTop = 0;
            
            $('#ajax-div').on('scroll', function () {
                var page = $('#page').val();
                var totalPages = $('#total_pages').val();
                
                var currentTop = $(this).scrollTop();
                if (prevTop !== currentTop) {
                    prevTop = currentTop;
                    if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {

                        if($('#page_status').val() == 0 && page  <= totalPages){
                            $('#loading').show(); 
                            $('#page_status').val('1');
                            $.ajax({
                                url: "{% url 'src:ajax-organization-lists' %}",
                                method: 'GET',
                                data: { page:page },
                                success: function (data) {
                                    setTimeout(() => {
                                        $('#tablebody').find('tr:last').prev().after(data);
                                        $('#page').val(parseInt(page)+1);
                                        $('#loading').hide();
                                        $('#page_status').val('0');
                                        $('#addOrgTable').trigger('update');
                                    }, 2000);
                                },
                                error: function (err) {
                                    alert(err.message);
                                    window.location.reload();
                                }
                            });
                        }
                    }
                }
            })
            
        });
    </script>
    
    <script>
        $(document).ready(function () {
            
            $("#to_date").datepicker({  
            changeMonth: true,
            changeYear: true,  
            yearRange: "-100:+0",
            maxDate: 0,
            dateFormat: 'dd/mm/yy' 
        });
        });
        // function filterVacationList(){
        //     var loading_html =`<tr id="loading" style="display: none;">
        //     <td class="text-center" colspan="8"><i class="fa fa-spinner fa-spin" style="font-size:2rem"></i>
        //     </td>
        //     </tr>`;
        //     $('#tablebody').html(loading_html);
        //     $('#loading').show();
        //     {% comment %}
        //     var search = $('#filter_search').val();
        //     var locality_id = $('#filter_locality_id').val();
        //     $.ajax({
        //         url: "{% url 'src:filter-vacations' %}",
        //         method: 'POST',
        //         data: {
        //             search:search, 
        //             locality_id:locality_id,
        //             csrfmiddlewaretoken: '{{ csrf_token }}'
        //         },
        //         success: function (data) {
        //             hideLoader();
        //             $('#ajax-div').html(data);
        //         },
        //         error: function (err) {
        //             alert(err.message);
        //         }
        //     });
        //     {% endcomment %}
        // }
        

        function getPolicyRecord(){
            var leave_status = $('#leave_status').val();
            
                $('#tablebody').html('');
                url = "{% url 'src:holidays/holiday-filter-calendar' 'rep1'%}"
                if(leave_status != ''){
                    url = url.replace('rep1',leave_status);
                }
                
                console.log(url)
                if(url != ""){

                    $.ajax({
                        url: url,
                        method: 'POST',
                        data: { csrfmiddlewaretoken: '{{ csrf_token }}'},
                        success: function (data) {
                            hideLoader();
                            $('#tablebody').html(data);
                            if(leave_status == ''| leave_status == '0' | leave_status == '3'){
                                $(".checkboxSingle").attr("disabled", true);
                                $(".checked_all").attr("disabled", true);
                                $('#forwardButton').hide();
                                $('#approvedButton').hide();
                                $('#discardButton').hide();   
                            }
                        },
                        error: function (err) {
                            alert(err.message);
                        // window.location.reload();
                    }
                });
                }
            
        }
        function getHolidayCalendar(id,month,year) {
            $('#ajaxCalendarDiv').html(`<div style="margin-top:40px; text-align:center"><i class="fa fa-spinner fa-spin" style="font-size:2rem"></div>`).addClass('calender-container');
            url = "{% url 'src:holidays/customer-vacation-calendar' '1' %}";
            url = url.replace('1',id)
            console.log(id,month,year);
            $.ajax({
                url:url,
                method: 'GET',
                data:{month:month,year:year},
                success: function (data) {
                    $('#ajaxCalendarDiv').html(data).removeClass('calender-container');;
                },
                error: function (err) {
                    console.log(err)
                }
            });
        }


        function handleTabChange(element,type){
            $('.customer-tab').removeClass('activeTab');
            $(element).addClass('activeTab');
            $('#date_selection_type').val(type);
            $('#range_start_date').val('');
            $('#range_end_date').val('');
            $('.new_vacation').each(function(){
                $(this).prop('checked',false);
                $(this).next().find('div').removeClass('checked_date');

            });

        }

        function updateHolidayDates(element){
            var date_selection_type = $('#date_selection_type').val();
            if(date_selection_type == 1){
                $('[name="vacation_date[]"]').each(function(){
                    if($(this).prop('checked')){
                        $(this).addClass('new_vacation');
                        $(this).next().find('div').addClass('checked_date');
                    }else{
                        $(this).addClass('new_vacation');
                        $(this).next().find('div').removeClass('checked_date');
                    }
                });
            }else{
                range_start_date = $('#range_start_date').val();
                range_end_date = $('#range_end_date').val();
                if (range_start_date == "" && range_end_date == ""){
                    $(element).addClass('new_vacation');
                    $(element).next().find('div').addClass('checked_date');
                    $('#range_start_date').val($(element).val());

                    console.log($('#range_start_date').val());
                    console.log($('#range_end_date').val());
                }else if (range_start_date != "" && range_end_date == ""){
                    $(element).addClass('new_vacation');
                    $(element).next().find('div').addClass('checked_date');
                    $('#range_end_date').val($(element).val());

                        // range date selection
                        range_start_date = $('#range_start_date').val();
                        range_end_date = $('#range_end_date').val();
                        
                        console.log(range_start_date);
                        console.log(range_end_date);
                        
                        var daylist = getDaysArray(new Date(range_start_date),new Date(range_end_date));
                        daylist.forEach(element => {

                            date = parseInt(element.getDate())
                            if(date < 10){
                                date = "0"+date;
                            }
                            month = parseInt(element.getMonth()) + 1
                            if(month < 10){
                                month = "0"+month;
                            }
                            var date_element_id = 'date-'+element.getFullYear()+"-"+month+"-"+date;
                            console.log(date_element_id)
                            $('#'+date_element_id).prop('checked',true);
                            $('#'+date_element_id).addClass('new_vacation');
                            $('#'+date_element_id).next().find('div').addClass('checked_date');
                            
                        });
                        
                    }else if (range_start_date != "" && range_end_date != ""){
                        $('#range_start_date').val('');
                        $('#range_end_date').val('');
                        $('.new_vacation').each(function(){
                            $(this).prop('checked',false);
                            $(this).next().find('div').removeClass('checked_date');
                        });
                        $(element).prop('checked',true);
                        $(element).addClass('new_vacation');
                        $(element).next().find('div').addClass('checked_date');
                        $('#range_start_date').val($(element).val());
                    }
                }
            }
            
            function getDaysArray(startDate, endDate) {
                var dates = [],
                currentDate = startDate,
                addDays = function(days) {
                    var date = new Date(this.valueOf());
                    date.setDate(date.getDate() + days);
                    return date;
                };
                while (currentDate <= endDate) {
                    dates.push(currentDate);
                    currentDate = addDays.call(currentDate, 1);
                }
                return dates;
            }
            
            function updateHoliday(){
                {% comment %}
                var question = "Do you want to add the vacation for selected days ?";
                $.confirm({
                    title: 'Confirm!',
                    content: question,
                    buttons: {
                        confirm: function () {
                           showLoader();
                           url = "{% url 'src:vacations/update-customer-vacation' %}";
                           $.ajax({
                            url:url,
                            method: 'POST',
                            data:$('#markVacationForm').serialize(),
                            success: function (data) {
                                if(typeof data.flag !== "undefined" && !data.flag){
                                    hideLoader();
                                    openToaster("danger", data.message);
                                }else{
                                    hideLoader();
                                    if(data.flag){
                                        openToaster('success',data.message);
                                        getHolidayCalendar(data.customer_id,'{{current_month}}','{{current_year}}');
                                    }else{
                                        openToaster('danger',data.message);
                                    }
                                }
                            },
                            error: function (err) {
                                hideLoader();
                                console.log(err)
                            }
                        });
                           
                       },
                       cancel: function () {
                        hideLoader();
                    }
                }
            });
            {% endcomment %}
            }
            
        </script>
        {% endblock %}
