{% if last_leave_policy_details %}

<div class="row" id="detailsBoxFirst" style="display: block;">
    <div class="col-md-12 p-md-0">
        <h6><b> {{leave_policy.leave_policy}}</b></h6>
        ({{ leave_policy.organization_name }})
    </div>
    
    <div class="col-md-12 p-2">
        <div class="row mb-2">
            
            {% for last_leave_policy_detail in last_leave_policy_details %}
            <div class="row deptRow">
                <div class="col-md-12 p-2">
                    <h6 class="deptRowHead"><b style="color: black;">{{last_leave_policy_detail.leave_type}}</b></h6>
                </div>
                
                <div class="col-md-12 p-md-0">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="smallText">Year Leave Count</span><br>
                            <span class="largeText">{{last_leave_policy_detail.year_leave_count}}</span>
                        </div>
                        <div class="col-md-6">
                            <span class="smallText">Month Leave Count</span><br>
                            <span class="largeText">{{last_leave_policy_detail.month_leave_count}}</span>
                        </div> 
                        
                    </div>
                    
                    <div class="row">
                        
                        <div class="col-md-6">
                            <span class="smallText">Halfday Included</span><br>
                            <span class="largeText">{% if last_leave_policy_detail.is_halfday_included > 0 %}Yes{% else %}No{% endif %}</span>
                        </div>
                        <div class="col-md-6">
                            <span class="smallText">Consecutive Leaves</span><br>
                            <span class="largeText">{{last_leave_policy_detail.consecutive_leave}}</span>
                        </div>
                        
                        
                        
                    </div>
                    <div class="row">
                        {% if last_leave_policy_detail.apply_leave_before %}
                        <div class="col-md-6">
                            <span class="smallText">Apply Leave Before</span><br>
                            <span class="largeText">{{last_leave_policy_detail.apply_leave_before}}</span>
                        </div>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
            {% endfor %}
            {% if mapped_roles %}
            <div class="col-md-12 p-2">
                        
                <h6><b> Mapped Roles </b></h6> 
                <span style="color: #0052a0;">
                     {% for role_name in mapped_roles %}
                    <ul class="list-group list-group-striped taglist">
                       
                        <li>{{role_name.role_name}}</li>
                       
                    </ul>
                     {% endfor %}
                    {% endif %}
                </span>
            </div>
    </div>
    
</div>
{% else %}
<p>No record found</p>
{% endif %}