{% load static %}

<div class="row">
    <div class="col-md-12">
        <div class="row mb-2" id="topRow">
            <div class="col-md-5 p-md-0">
                <h6><b>Holiday Types &nbsp;&nbsp;</b></h6>
            </div>
            <div class="col-md-7 p-md-0">
                <div class="row" >
                    <div class="col-md-12 p-md-0 text-right">
                        <input class="searchTable master_type_search" placeholder="Search" type="search" data-column="all" id="holiday_types_filter" onkeyup="master_search_bar(this)">
                        <button type="button" class="btn iconBox iconAddNew" onclick="addMaster('holiday_types')" title="Add New Holiday Type"></button>
                        <div class="dropdown show-hide" style="display: inline-block;" id="hideColumn">
                            <button class="btn iconBox iconHide" title="Hide" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu dropdown-menu-right logoutContainer"
                            aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item columnHideItem">
                                <input type="checkbox" class="colCheck" name="" 
                                onclick="showHideColumns(this,'holiday_type',2)"
                                />
                                <label class="mb-0" for="holiday_type">Holiday Type</label>
                            </a>
                          
                        </div>
                    </div>
                    
                    <div class="dropdown fixed-column" style="display: inline-block;" id="lockColumn">
                        <button class="btn iconBox iconUnFreeze" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Stick"></button>
                        <div class="dropdown-menu dropdown-menu-right logoutContainer"
                        aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item columnHideItem">
                            <input type="checkbox" class="colFreezeCheck" name="" id="holiday_type" data-id="1"
                            onclick="toggleFreeze(this.id,'holiday_type',1)" />
                            <label class="mb-0" for="holiday_type">Holiday Type</label>
                        </a>
                      
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="row border-redius-17 h-100" id="tableBox">
<div class="col-md-12 col-12 primaryContainerBG h-100 px-0" id="masterListTable">
    <table id="addOrgTable" class="detail-table table table-borderless table-striped table-hover mt-0" >
        <thead>
            <tr>
                <th class="holiday_type">
                    Holiday Type
                    <i class="fa fa-fw fa-sort float-right"></i>
                    <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                    <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                </th>
               
                
                <th data-sorter="false">Action</th>
            </tr>
        </thead>
        <tbody id="tablebody">
            {% if holiday_types %}
            {% for holiday_type in holiday_types %}
            <tr>
                <td class="holiday_type">{{ holiday_type.holiday_type }}<br> 
                    <td>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="javascript:void(0)"  onclick="editMaster('holiday_types','{{holiday_type.id}}')"  >
                                    <img src="{% static 'img/svg/editcopy.svg' %}" title="Edit" class="tableRowIcon" />
                                </a> 
                            </div>
                            <div class="col-md-5">
                                <label class="switch">
                                    <input type="checkbox" class="checkbox" name="is_active"
                                    {% if holiday_type.status == 1 %} checked="" {% else %}
                                    {% endif %}
                                    onclick="changeMasterStatus('holiday_types', '{{ holiday_type.id }}')">
                                    <span class="slider round" title="Enable/Disable"></span>
                                </label>
                                
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                <tr id="loading" style="display: none;">
                    <td class="text-center" colspan="3"><i class="fa fa-spinner fa-spin" style="font-size:2rem"></i>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="2" style="text-align: center;">No Record Found...</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
</div>
</div>