{% load static %}
<div class="row ">
	<div class="col-md-12">
		<div class="row mt-3 wrapper">
			{% if 'location' not in attribute.hidden_fields %}
			<div class="col-md-3">
				<div class="col-md-12 p-0">
					<img src="{% static 'img/svg/address.svg' %}" class="profileIconSize">&nbsp;&nbsp;
					<h6 class="mt-2 mb-0" style="display: inline-block;">
						Institution : {% if 'location' not in attribute.fields %}*{% endif %}
					</h6>
				</div>
				<div class="col-md-12 p-0 mt-2">
					<select name="location" class="form-control " id="location" data-placeholder="Choose Institution" onchange="searchDepartments(this.value)">
						<option value="">Choose Institution</option>
						{% if organizations %}
						{% for organizations in organizations %}
						<option value="{{organizations.id}}">{{organizations.organization_name}}</option>
						{% endfor %}
						{% endif %}

					</select>
					<label class="error_msg float-right" id="location_error"></label>
				</div>
			</div>
			{% endif %}

			{% if 'department' not in attribute.hidden_fields %}
			<div class="col-md-3">
				<div class="col-md-12 p-0">
					<img src="{% static 'img/svg/org.svg' %}" class="profileIconSize">&nbsp;&nbsp;
					<h6 class="mt-2 mb-0" style="display: inline-block;">
						Department : {% if 'department' not in attribute.fields %}*{% endif %}
					</h6>
				</div>
				<div class="col-md-12 p-0 mt-2">
					<select name="department" class="form-control" id="department">
						<option value="">Choose Department</option>

					</select>
					<label class="error_msg float-right" id="department_error"></label>
				</div>
			</div>
			{% endif %}

			
			{% if 'designation' not in attribute.hidden_fields %}
			<div class="col-md-3">
				<div class="col-md-12 p-0">
					<img src="{% static 'img/svg/profile.svg' %}" class="profileIconSize">&nbsp;&nbsp;
					<h6 class="mt-2 mb-0" style="display: inline-block;">
						Designation : {% if 'designation' not in attribute.fields %}*{% endif %}
					</h6>
				</div>
				<div class="col-md-12 p-0 mt-2">
					<select name="designation" class="form-control" id="designation">
						<option value="">Choose Designation</option>

					</select>
					<label class="error_msg float-right" id="designation_error"></label>
				</div>
			</div>
			{% endif %}
		</div>
	</div>

	<div class="col-md-12">
		<div class="row mt-3 wrapper">
			{% if 'paygrade' not in attribute.hidden_fields %}
			<div class="col-md-3">
				<div class="col-md-12 p-0">
					<img src="{% static 'img/svg/rupee.svg' %}" class="profileIconSize">&nbsp;&nbsp;
					<h6 class="mt-2 mb-0" style="display: inline-block;">
						Paygrade : {% if 'paygrade' not in attribute.fields %}*{% endif %}
					</h6>
				</div>
				<div class="col-md-12 p-0 mt-2">
					<select name="paygrade" class="form-control" id="paygrade">
						<option value="">Select Grade</option>
						{% if pay_grades %}
						{% for pay_grade in pay_grades %}
						<option value="{{pay_grade.id}}">{{pay_grade.paygrade_code}}[{{pay_grade.paygrade}}]</option>
						{% endfor %}
						{% endif %}
					</select>
					<label class="error_msg float-right" id="paygrade_error"></label>
				</div>
			</div>
			{% endif %}

			{% if 'employment_term' not in attribute.hidden_fields %}
			<div class="col-md-3">
				<div class="col-md-12 p-0">
					<img src="{% static 'img/svg/contactPersonName.svg' %}" class="profileIconSize">&nbsp;&nbsp;
					<h6 class="mt-2 mb-0" style="display: inline-block;">
						Employment Term : {% if 'employment_term' not in attribute.fields %}*{% endif %}
					</h6>
				</div>
				<div class="col-md-12 p-0 mt-2">
					<select name="employment_term" class="form-control select2" id="employment_term">
						<option value="">Choose Employment Term</option>
						<option value="Adhoc">Adhoc</option>
						<option value="Permanent">Permanent</option>
					</select>
					<label class="error_msg float-right" id="employment_term_error"></label>
				</div>
			</div>
			{% endif %}

			
			{% if 'additional_responsibility' not in attribute.hidden_fields %}
			<div class="col-md-3">
				<div class="col-md-12 p-0">
					<img src="{% static 'img/svg/contactPersonName.svg' %}" class="profileIconSize">&nbsp;&nbsp;
					<h6 class="mt-2 mb-0" style="display: inline-block;">
						Additional Responsibilities : {% if 'additional_responsibility' not in attribute.fields %}*{% endif %}
					</h6>
				</div>
				<div class="col-md-12 p-0 mt-2">
					<select name="additional_responsibility[]" class="form-control select2" id="additional_responsibility">
						<option value="">Choose Additional Responsibilities</option>
						{% if additional_responsibilities %}
						{% for additional_responsibility in additional_responsibilities %}
						<option value="{{additional_responsibility.id}}">{{additional_responsibility.responsibility}}</option>
						{% endfor %}
						{% endif %}
					</select>
					<label class="error_msg float-right" id="additional_responsibility_error"></label>
				</div>
			</div>
			{% endif %}



		</div>
	</div>

	<div class="col-md-12">
		<div class="row mt-3 wrapper">
			{% if 'working_hour' not in attribute.hidden_fields %}
			<div class="col-md-3">
				<div class="col-md-12 p-0">
					<img src="{% static 'img/svg/contactPersonName.svg' %}" class="profileIconSize">&nbsp;&nbsp;
					<h6 class="mt-2 mb-0" style="display: inline-block;">
						Working Hour : {% if 'working_hour' not in attribute.fields %}*{% endif %}
					</h6>
				</div>
				<div class="col-md-12 p-0 mt-2">
					<select name="working_hour" class="form-control" id="working_hour">
						<option value="">Select Working Hour</option>
						{% if working_hours %}
						{% for working_hour in working_hours %}
						<option value="{{working_hour.id}}">{{working_hour.work_from}} - {{working_hour.work_to}}</option>
						{% endfor %}
						{% endif %}
					</select>
					<label class="error_msg float-right" id="working_hour_error"></label>
				</div>
			</div>
			{% endif %}

			{% if 'date_of_joining' not in attribute.hidden_fields %}
			<div class="col-md-3">
				<div class="col-md-12 p-0">
					<img src="{% static 'img/svg/calander-blue.svg' %}" class="profileIconSize">&nbsp;&nbsp;
					<h6 class="mt-2 mb-0" style="display: inline-block;">
						Date of joining : {% if 'date_of_joining' not in attribute.fields %}*{% endif %}
					</h6>
				</div>
				<div class="col-md-12 p-0 mt-2">
					<input class="inputField  date_of_joinings" type="text" name="date_of_joining" id="date_of_joining" value="{% now 'm/d/Y' %}" >
					<label class="error_msg float-right" id="date_of_joining_error"></label>
				</div>
			</div>
			{% endif %}

			
			{% if 'previous_employer' not in attribute.hidden_fields %}
			<div class="col-md-3">
				<div class="col-md-12 p-0">
					<img src="{% static 'img/svg/contactPersonName.svg' %}" class="profileIconSize">&nbsp;&nbsp;
					<h6 class="mt-2 mb-0" style="display: inline-block;">
						Previous employer : {% if 'previous_employer' not in attribute.fields %}*{% endif %}
					</h6>
				</div>
				<div class="col-md-12 p-0 mt-2">
					<input class="inputField  previous_employers" type="text" placeholder="Previous employer" name="previous_employer" id="previous_employer" maxlength="100">
					<label class="error_msg float-right" id="previous_employer_error"></label>
				</div>
			</div>
			{% endif %}



		</div>
	</div>


	<div class="col-md-12">
		<div class="row mt-3 wrapper">
			{% if 'experience' not in attribute.hidden_fields %}
			<div class="col-md-3">
				<div class="col-md-12 p-0">
					<img src="{% static 'img/svg/contactPersonName.svg' %}" class="profileIconSize">&nbsp;&nbsp;
					<h6 class="mt-2 mb-0" style="display: inline-block;">
						Year of Experience(in yrs) : {% if 'experience' not in attribute.fields %}*{% endif %}
					</h6>
				</div>
				<div class="col-md-12 p-0 mt-2">
					<input class="inputField numeric experiences" type="text" placeholder="Year of Experience(in yrs)" name="experience" id="experience" maxlength="2">
					<label class="error_msg float-right" id="experience_error"></label>
				</div>
			</div>
			{% endif %}

			{% if 'login_id' not in attribute.hidden_fields %}
			<div class="col-md-3">
				<div class="col-md-12 p-0">
					<img src="{% static 'img/svg/contactPersonName.svg' %}" class="profileIconSize">&nbsp;&nbsp;
					<h6 class="mt-2 mb-0" style="display: inline-block;">
						Login ID : {% if 'login_id' not in attribute.fields %}*{% endif %}
					</h6>
				</div>
				<div class="col-md-12 p-0 mt-2">
					<input class="inputField  login_ids" type="text" placeholder="Login ID" name="login_id" id="login_id" maxlength="50">
					<label class="error_msg float-right" id="login_id_error"></label>
				</div>
			</div>
			{% endif %}

			
			{% if 'password' not in attribute.hidden_fields %}
			<div class="col-md-3">
				<div class="col-md-12 p-0">
					<img src="{% static 'img/svg/password.svg' %}" class="profileIconSize">&nbsp;&nbsp;
					<h6 class="mt-2 mb-0" style="display: inline-block;">
						Password : {% if 'password' not in attribute.fields %}*{% endif %}
					</h6>
				</div>
				<div class="col-md-12 p-0 mt-2">
					<input class="inputField  passwords" type="text" placeholder="Password" name="password" id="password" maxlength="20">
					<label class="error_msg float-right" id="password_error"></label>
				</div>
			</div>
			{% endif %}
		</div>
	</div>

	
</div>