{% load static %}
<form name="addDocumentDetailsForms" id="addDocumentDetailsForms" method="POST" autocomplete="off" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="last_user_id" id="last_user_id" value="{{ last_user_id }}" >
    <div class="modal-AddUser centered">
        <div class="modal-header" id="headerStep1">
            <div class="col-12 p-0">
                <div class="row">
                    <div class="col-6">
                        <button class="iconCover" onclick="editEmployeeBiometricDetail('{{ last_user_id }}')">
                            <img src="{% static 'img/svg/backarrow.svg' %}" style="width: 1rem" onclick="editEmployeeBiometricDetail('{{ last_user_id }}')"/>
                        </button>
                        <h5 class="mt-md-2" style="display: inline"> &nbsp;&nbsp; Upload Documents
                        </h5>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-save float-right" type="submit" >
                            Save & Proceed
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal-body" id="addUserModalBody" style="overflow: auto">
            <div class="row">
                
                
                <div class="col-md-12 p-0 fullWidth fulHeight" id="step1">
                    
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Qatar ID</h5>
                            <div class="card">
                                {% if employee_documents.qatar_id %}
                                <embed id="previewEmployeeQatarId" src="{{ employee_documents.qatar_id }}" class="w-50 w-100 imgStyle" style="transform: translate(0px, 0px);">
                                {% else %}
                                <embed id="previewEmployeeQatarId" src="{{ employee_documents.pdf }}" type="application/pdf" width="100%" height="100px">
                               
                                {% endif %}
                                <input type="hidden" name="previous_qatar_id" id="previous_qatar_id" value="{% if employee_documents.qatar_id %}{{ employee_documents.qatar_id }} {% endif %}" >
                                
                            </div>
                            <label class="error_msg float-right" id="QatarID_image_error"></label>
                            <div class="row fileUploadContainer">
                                <div class="col-md-8" style="padding: 0.6rem;">
                                    <label class="custom-file-upload m-0 lightGrey">
                                        Upload PDF
                                    </label>
                                    <input id="file-upload_QatarId" name="qatar_id" type="file" accept="pdf/*"
                                    style="display: none;" onchange="fileUploaders(this.id,'previewEmployeeQatarId', 'QatarID')" />
                                </div>
                                <div class="col-md-4 upload" onclick="openImageSelector('file-upload_QatarId')">
                                    Upload
                                </div>
                            </div>
                             <div class="col-md-12 pr-0 p-0">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/dob.svg' %}" class="profileIconSize">&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">
                                        Qatar ID Expairy
                                    </h6>
                                </div>
                                <div class="col-md-12 p-0 mt-2">
                                    <input class="datepicker inputField" placeholder="Qatar ID Expairy Date" name="qatar_id_expairy" id="qatar_id_expairy" value="{% if employee_documents.qatar_id_expairy %}{{ employee_documents.qatar_id_expairy|date:'d/m/Y' }} {% endif %}">
                                    <label class="error_msg float-right" id="dob_error"></label>
                                </div>
                            </div> 
                        </div>
                        
                        <div class="col-md-3">
                            <h5>Passport</h5>
                            <div class="card">
                                {% if employee_documents.passport_card %}
                                <embed id="previewEmployeePASSPORT" src="{{ employee_documents.passport_card }}" class="w-50 w-100 imgStyle" style="transform: translate(0px, 0px);">
                                {% else %}
                                <embed id="previewEmployeePASSPORT" src="{{ employee_documents.pdf }}" type="application/pdf" width="100%" height="100px">
                                
                                {% endif %}
                                <input type="hidden" name="previous_passport_card" id="previous_passport_card" value="{% if employee_documents.passport_card %}{{ employee_documents.passport_card }} {% endif %}" >
                            </div>
                            <label class="error_msg float-right" id="Passport_image_error"></label>
                            <div class="row fileUploadContainer">
                                <div class="col-md-8" style="padding: 0.6rem;">
                                    <label class="custom-file-upload m-0 lightGrey">
                                        Upload PDF
                                    </label>
                                    <input id="file-upload_PASSPORT" name="passport_card" type="file" accept="pdf/*" multiple
                                    style="display: none;" onchange="fileUploaders(this.id,'previewEmployeePASSPORT', 'Passport')" />
                                </div>
                                <div class="col-md-4 upload" onclick="openImageSelector('file-upload_PASSPORT')">
                                    Upload
                                </div>
                            </div>
                            <div class="col-md-12 pr-0 p-0">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/dob.svg' %}" class="profileIconSize">&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">
                                        Passport Expairy
                                    </h6>
                                </div>
                                <div class="col-md-12 p-0 mt-2">
                                    <input class="inputField datepicker" placeholder="Passport Expairy Date" name="passport_expairy" id="passport_expairy" value="{% if employee_documents.passport_card_expairy %}{{ employee_documents.passport_card_expairy|date:'d/m/Y' }} {% endif %}">
                                    <label class="error_msg float-right" id="dob_error"></label>
                                </div>
                            </div> 
                        </div>
                        <div class="col-md-3">
                            <h5>Resume</h5>
                            <div class="card">
                                {% if employee_documents.resume %}
                                    <embed id="previewEmployeeResume" src="{{ employee_documents.resume }}" class="w-50 w-100 imgStyle" style="transform: translate(0px, 0px);">
                                {% else %}
                                    <embed id="previewEmployeeResume" src="{{ employee_documents.pdf }}" type="application/pdf" width="100%" height="100px">
                                {% endif %}
                                <input type="hidden" name="previous_resume" id="previous_resume" value="{% if employee_documents.resume %}{{ employee_documents.resume }} {% endif %}" >
                            </div>
                            <label class="error_msg float-right" id="Resume_image_error"></label>
                            <div class="row fileUploadContainer">
                                <div class="col-md-8" style="padding: 0.6rem;">
                                    <label class="custom-file-upload m-0 lightGrey">
                                         Upload PDF
                                    </label>
                                    <input id="file-upload_Resume" name="resume" type="file" accept="pdf/*" multiple
                                    style="display: none;" onchange="fileUploaders(this.id,'previewEmployeeResume', 'Resume')" />
                                </div>
                                <div class="col-md-4 upload" onclick="openImageSelector('file-upload_Resume')">
                                    Upload
                                </div>
                            </div>
                            <div class="col-md-12 pr-0 p-0">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/dob.svg' %}" class="profileIconSize">&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">
                                        Resume Expairy
                                    </h6>
                                </div>
                                <div class="col-md-12 p-0 mt-2">
                                    <input class="inputField datepicker" placeholder="Resume Expairy Date" name="resume_expairy" id="resume_expairy"  value="{% if employee_documents.resume_expairy %}{{ employee_documents.resume_expairy|date:'d/m/Y' }} {% endif %}">
                                    <label class="error_msg float-right" id="dob_error"></label>
                                </div>
                            </div> 
                        </div>
                        <div class="col-md-3">
                            <h5>Educational Documents</h5>
                            <div class="card">

                                {% if employee_documents.educationaldoc %}
                                    <embed id="previewEmployeeEDUCATIONAL" src="{{ employee_documents.educationaldoc }}" class="w-50 w-100 imgStyle" style="transform: translate(0px, 0px);">
                                {% else %}
                                    <embed id="previewEmployeeEDUCATIONAL" src="{{ employee_documents.pdf }}" type="application/pdf" width="100%" height="100px">
                                {% endif %}
                                <input type="hidden" name="previous_educationaldoc" id="previous_educationaldoc" value="{% if employee_documents.educationaldoc %}{{ employee_documents.educationaldoc }} {% endif %}" >
                            </div>
                            <label class="error_msg float-right" id="EducationalDoc_image_error"></label>
                            <div class="row fileUploadContainer">
                                <div class="col-md-8" style="padding: 0.6rem;">
                                    <label class="custom-file-upload m-0 lightGrey">
                                         Upload PDF
                                    </label>
                                    <input id="file-upload_Educational" name="educationaldoc" type="file" accept="pdf/*" multiple
                                    style="display: none;" onchange="fileUploaders(this.id,'previewEmployeeEDUCATIONAL', 'EducationalDoc')" />
                                </div>
                                <div class="col-md-4 upload" onclick="openImageSelector('file-upload_Educational')">
                                    Upload
                                </div>
                            </div>
                            <div class="col-md-12 pr-0 p-0">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/dob.svg' %}" class="profileIconSize">&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">
                                        Educational Documents Expairy
                                    </h6>
                                </div>
                                <div class="col-md-12 p-0 mt-2">
                                    <input class="inputField datepicker" placeholder="Educational Documents Expairy Date" name="educational_documents_expairy" id="educational_documents_expairy" value="{% if employee_documents.educationaldoc_expairy %}{{ employee_documents.educationaldoc_expairy|date:'d/m/Y' }} {% endif %}" >
                                    <label class="error_msg float-right" id="dob_error"></label>
                                </div>
                            </div> 
                        </div>
                        
                        
                        
                    </div>
                    <div class="row" style="margin-top:10px;">
                      <div class="col-md-3" style="margin-bottom:30px;">
                            <h5>Offer Letter</h5>
                            <div class="card">

                                {% if employee_documents.offerletter %}
                                    <embed id="previewEmployeeOFFERL" src="{{ employee_documents.offerletter }}" class="w-50 w-100 imgStyle" style="transform: translate(0px, 0px);">
                                {% else %}
                                    <embed id="previewEmployeeOFFERL" src="{{ employee_documents.pdf }}" type="application/pdf" width="100%" height="100px">
                                {% endif %}
                                <input type="hidden" name="previous_offerletter" id="previous_offerletter" value="{% if employee_documents.offerletter %}{{ employee_documents.offerletter }} {% endif %}" >
                            </div>
                            <label class="error_msg float-right" id="OfferLetter_image_error"></label>
                            <div class="row fileUploadContainer">
                                <div class="col-md-8" style="padding: 0.6rem;">
                                    <label class="custom-file-upload m-0 lightGrey">
                                         Upload PDF
                                    </label>
                                    <input id="file-upload_offerletter" name="offerletter" type="file" accept="pdf/*" multiple
                                    style="display: none;" onchange="fileUploaders(this.id,'previewEmployeeOFFERL', 'OfferLetter')" />
                                </div>
                                <div class="col-md-4 upload" onclick="openImageSelector('file-upload_offerletter')">
                                    Upload
                                </div>
                            </div>
                            <div class="col-md-12 pr-0 p-0">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/dob.svg' %}" class="profileIconSize">&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">
                                        Offer Letter Expairy
                                    </h6>
                                </div>
                                <div class="col-md-12 p-0 mt-2">
                                    <input class="inputField datepicker" placeholder="Offer Letter Expairy Date" name="offer_letter_expairy" id="offer_letter_expairy" value="{% if employee_documents.offerletter_expairy %}{{ employee_documents.offerletter_expairy|date:'d/m/Y' }} {% endif %}" >
                                    <label class="error_msg float-right" id="dob_error"></label>
                                </div>
                            </div> 
                        </div>
                         <div class="col-md-3">
                            <h5>Visa Letter</h5>
                            <div class="card">
                                {% if employee_documents.visaletter %}
                                <embed id="previewEmployeeVisaLetter" src="{{ employee_documents.visaletter }}" class="w-50 w-100 imgStyle" style="transform: translate(0px, 0px);">
                                {% else %}
                                 <embed id="previewEmployeeVisaLetter" src="{{ employee_documents.pdf }}" type="application/pdf" width="100%" height="100px">
                               
                                {% endif %}
                                <input type="hidden" name="previous_visaletter" id="previous_visaletter" value="{% if employee_documents.visaletter %}{{ employee_documents.visaletter }} {% endif %}" >
                            </div>
                            <label class="error_msg float-right" id="VisaLetter_image_error"></label>
                            <div class="row fileUploadContainer">
                                <div class="col-md-8" style="padding: 0.6rem;">
                                    <label class="custom-file-upload m-0 lightGrey">
                                        Upload PDF
                                    </label>
                                    <input id="file-upload_visaletter" name="visaletter" type="file" accept="pdf/*" multiple
                                    style="display: none;" onchange="fileUploaders(this.id,'previewEmployeeVisaLetter', 'VisaLetter')" />
                                </div>
                                <div class="col-md-4 upload" onclick="openImageSelector('file-upload_visaletter')">
                                    Upload
                                </div>
                            </div>
                            <div class="col-md-12 pr-0 p-0">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/dob.svg' %}" class="profileIconSize">&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">
                                        Visa Letter Expairy
                                    </h6>
                                </div>
                                <div class="col-md-12 p-0 mt-2">
                                    <input class="inputField datepicker" placeholder="Visa Letter Expairy Date" name="visa_letter_expairy" id="visa_letter_expairy" value="{% if employee_documents.visaletter_expairy %}{{ employee_documents.visaletter_expairy|date:'d/m/Y' }} {% endif %}" >
                                    <label class="error_msg float-right" id="dob_error"></label>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <nav class="navbar fixed-bottom" id="modalFooter">
            <div class="dropdown-divider w-100"></div>
            <div class="col-3 offset-9 p-0">
                <ul id="stepFooter">
                    <li id="li1" class="selectedstep">
                        <button class="btn btn-step activeStep" id="stepBtn1">
                            &#10004;
                        </button>
                    </li>
                    <li id="li2" class="selectedstep">
                        <button class="btn btn-step activeStep" id="stepBtn2">
                            &#10004;
                        </button>
                    </li>
                    <li id="li3" class="selectedstep">
                        <button class="btn btn-step activeStep" id="stepBtn3">
                            &#10004;
                        </button>
                    </li>
                    <li id="li4" class="selectedstep">
                        <button class="btn btn-step activeStep" id="stepBtn4">
                            &#10004;
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</form>

<script>
$("#visa_letter_expairy").datepicker({  
    changeMonth: true,
    changeYear: true,  
    yearRange: "-100:+0"
    ,minDate: 0,
    dateFormat: 'dd/mm/yy' 
});
 $("#offer_letter_expairy").datepicker({  
    changeMonth: true,
    changeYear: true,  
    yearRange: "-100:+0"
    ,minDate: 0,
    dateFormat: 'dd/mm/yy' 
});
 $("#educational_documents_expairy").datepicker({  
    changeMonth: true,
    changeYear: true,  
    yearRange: "-100:+0"
    ,minDate: 0,
    dateFormat: 'dd/mm/yy' 
});
 $("#resume_expairy").datepicker({  
    changeMonth: true,
    changeYear: true,  
    yearRange: "-100:+0"
    ,minDate: 0,
    dateFormat: 'dd/mm/yy' 
});
 $("#passport_expairy").datepicker({  
    changeMonth: true,
    changeYear: true,  
    yearRange: "-100:+0"
    ,minDate: 0,
    dateFormat: 'dd/mm/yy' 
});
 $("#qatar_id_expairy").datepicker({  
    changeMonth: true,
    changeYear: true,  
    yearRange: "-100:+0"
    ,minDate: 0,
    dateFormat: 'dd/mm/yy' 
});
    function fileUploaders(id, previewId, fileType) {
        for (var i = 0; i < $("#"+id).get(0).files.length; ++i) {
            var file1=$("#"+id).get(0).files[i].name;
            var error = 0;
            document.getElementById(''+fileType+'_image_error').innerHTML = '';
            if(file1){                     
                var ext = file1.split('.').pop().toLowerCase(); 
                if($.inArray(ext,['pdf'])===-1){
                    error = 1;   
                    
                    document.getElementById(''+fileType+'_image_error').innerHTML = ''+fileType+' should be in pdf format.*';
                    $("#"+previewId).attr("src", "static/img/svg/aadhaargrey.svg");
                    $("#"+id).val('');
                }else{
                    error = 0;
                    if(file1){ 
                       
                        if (fileType != "educationaldoc"){
                            var file_size=$("#"+id).get(0).files[i].size;
                            file_size = Math.round((file_size / 1024));
                            if(file_size>2048){
                                error = 1;
                                document.getElementById(''+fileType+'_image_error').innerHTML = ''+fileType+' should be upto 2MB*';
                                $("#"+previewId).attr("src", "static/img/svg/aadhaargrey.svg");
                                $("#"+id).val('');
                            }else{
                                error = 0;
                            }}else{
                            var file_size=$("#"+id).get(0).files[i].size;
                            file_size = Math.round((file_size / 1024));
                            if(file_size>2048){
                                error = 1;
                                document.getElementById(''+fileType+'_image_error').innerHTML = ''+fileType+' should be upto 5MB*';
                                $("#"+previewId).attr("src", "static/img/svg/aadhaargrey.svg");
                                $("#"+id).val('');
                            }else{
                                error = 0;
                            } 
                            }                     
                    } else {
                        error = 0; 
                    }
                }                        
            } else {
                error = 0;
            }
        }
        if(error == 0){
            var i = $('#' + id).prev("label").clone();
            var temp = $('#' + id)[0].files;
            var file = temp[0].name;
            $('#' + id).prev("label").text(file);
            readURL(temp, previewId);
        }
    }
    var employee_id = "{{last_user_id}}";
    
    $('#addDocumentDetailsForms').submit(function(e){
        
        showLoader();
        if(validateForm()){
            hideLoader();
            return false;
            
        }else{
            $('#addUserModal').html('');
            showLoader();
            e.preventDefault();
            $form = $(this)
            var formData = new FormData(this);
            console.log(employee_id)
            url =  "{% url 'src:edit-employee-document-detail' 1 %}";
            url = url.replace(1, parseInt('{{last_user_id}}'))
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                success: function (response) {
                    $('.error').remove();
                    console.log(response)
                    if(response.error){
                        $.each(response.errors, function(name, error){
                            alert(error);
                            window.location.reload();
                        })
                    } else {
                        openToaster("success", response.message);
                        closeUserModal();
                        ajaxEmployeeList('1');
                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });
        }
    });
    
    function validateForm(){
        
        error = 0;
        

                
                if(error > 0){
                    return true;
                }else{
                    return false;
                }
            }

            
        
            
        </script>