{% load static %}
<form name="addOfficalDetailsForms" id="addOfficalDetailsForms" autocomplete="off" method="POST" autocomplete="off" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="last_user_id" id="last_user_id" value="{{ last_user_id }}" >
    <div class="modal-AddUser centered">
        <div class="modal-header" id="headerStep1">
            <div class="col-12 p-0">
                <div class="row">
                    <div class="col-6" >
                        <button class="iconCover" onclick="editEmployeeBasicDetail('{{ last_user_id }}')" >
                            <img src="{% static 'img/svg/backarrow.svg' %}" style="width: 1rem" onclick="editEmployeeBasicDetail('{{ last_user_id }}')" />
                        </button>
                        <h5 class="mt-md-2" style="display: inline">
                            &nbsp;&nbsp; Official Details
                        </h5>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-save float-right" type="submit">
                            Save & Proceed
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="modal-body" id="addUserModalBody" style="overflow: auto">
            <div class="row">
                
                <div class="col-md-12 p-0 h-100 w-100" id="step1">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/org.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">
                                        Organisation*
                                    </h6>
                                </div>
                                <div class="col-md-12 p-0 mt-2">
                                    <select class="inputField selectField" style="width: 100% !important;" name="organization_id" id="organizaton_id" onchange="getOption(this.value, 'department_id', '1')">
                                        <option value="">Select Organisation</option>
                                        {% for oganization in oganizations %}
                                        <option value="{{oganization.id}}" {% if employee_details.organization_id == oganization.id %} selected {% endif %}>{{oganization.organization_name}}</option>
                                        {% endfor %}
                                    </select>
                                    <label class="error_msg float-right" id=""></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/depart_no.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">
                                        Department*
                                    </h6>
                                </div>
                                <div class="col-md-12 p-0 mt-2">
                                    <select class="inputField selectField" style="width: 100% !important;" name="department_id" id="department_id" onchange="getOption(this.value, 'role_id', '1')">
                                        <option value="">Select Department</option>
                                        {% if departments %}
                                        {% for department in departments %}
                                        <option value="{{ department.id }}" {% if employee_details.department_id == department.id %} selected {% endif %}>{{department.department_name}}</option>
                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                    <label class="error_msg float-right" id=""></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/role.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">
                                        Roles*
                                    </h6>
                                </div>
                                <div class="col-md-12 p-0 mt-2">
                                    <select class="inputField selectField" style="width: 100% !important;" name="role_id" id="role_id" onchange="getReportingUsers(this.value)">
                                        <option value="">Select Role</option>
                                        {% if roles %}
                                        {% for role in roles %}
                                        <option value="{{ role.id }}" {% if employee_details.role_id == role.id %} selected {% endif %}>{{role.role_name}}</option>
                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                    <label class="error_msg float-right" id=""></label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/address.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">
                                        Reporting To*
                                    </h6>
                                </div>
                                <div class="col-md-12 p-0 mt-2">
                                    <select class="inputField selectField" style="width: 100% !important;" name="reporting_to_id" id="reporting_to_id" >
                                        <option value="">Select Role</option>
                                        {% if reporting_users %}
                                        {% for reporting in reporting_users %}
                                        <option value="{{ reporting.id }}" {% if employee_details.reporting_to_id == reporting.id %} selected {% endif %}>{{reporting.first_name}} {{reporting.middle_name}} {{reporting.last_name}}</option>
                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                    <label class="error_msg float-right" id=""></label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/dateofJoiniing.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">
                                        Date of Joining*
                                    </h6>
                                </div>
                                <div class="col-md-12 p-0 mt-2">
                                    <input class="inputField"
                                    placeholder="Enter Date of Joining" name="date_of_joining" id="date_of_joining" value="{% if employee_basic_details.date_of_joining %}{{employee_basic_details.date_of_joining | date:'d/m/Y'}}{% endif %}">
                                    <label class="error_msg float-right" id="doj_error"></label>
                                </div>
                            </div>
                        </div>
                      
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/aadhaar.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">
                                        Employee ID *
                                    </h6>
                                </div>
                                <div class="col-md-12 p-0 mt-2">
                                    <input class="inputField" type="text" placeholder="Enter Employee ID" name="emp_sap_id"
                                    id="emp_sap_id" maxlength="10" value="{% if employee_details.emp_sap_id %}{{employee_details.emp_sap_id}}{% endif %}"  style ="background-color:#D3D3D3" readonly />
                                    <label class="error_msg float-right" id="SAPID_error"></label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/shift.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">
                                        Job Type*
                                    </h6>
                                </div> 
                                <div class="col-md-12 p-0 mt-2">
                                    <select class="inputField selectField" style="width: 100% !important;" name="contract_type" id="contract_type">
                                        <option value="">Select Job Type </option>
                                        {% for contract_type in contract_type %}
                                        <option value="{{contract_type.id}}" {% if employee_basic_details.contract_type == contract_type.id %} selected {% endif %}>{{contract_type.contract_type}}</option>
                                        {% endfor %}
                                        
                                    </select>
                                    <label class="error_msg float-right" id=""></label>
                                </div>

                            </div>
                        </div>
                        
                        
                       <!--<div class="col-md-4">-->
                       <!--     <div class="row">-->
                       <!--         <div class="col-md-12 p-0 mt-0">-->
                       <!--             <img src="{% static 'img/svg/shift.svg' %}" class="profileIconSize" />&nbsp;&nbsp;-->
                       <!--             <h6 class="mt-2 mb-0" style="display: inline-block;">-->
                       <!--                 Total leave*-->
                       <!--             </h6>-->
                       <!--         </div> -->
                       <!--         <div class="col-md-12 p-0 mt-2">-->
                       <!--             <label class="error_msg float-right" id=""></label>-->
                       <!--                 <input class="inputField" type="number" placeholder="Enter Employee Leave" value="{% if employee_basic_details.leave_count %}{{employee_basic_details.leave_count}}{% endif %}" name="total_leave"-->
                       <!--                 id="total_leave" maxlength="10" />-->
                       <!--             <label class="error_msg float-right" id="emp_sap_id_error"></label>-->
                       <!--         </div> -->
                               
                       <!--     </div>   -->
                       <!-- </div>-->
                       
                       
                       <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/dateofJoiniing.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">
                                        Week Off
                                    </h6>
                                </div>
                                <div class="col-md-12 p-0 mt-2">
                                    <select class="inputField selectField" style="width: 100% !important;" name="week_of_day" id="week_of_day">
                                        <option value="Monday" {% if 'Monday' in week_of_days %}selected{% endif %}>Monday</option>
                                        <option value="Tuesday" {% if 'Tuesday' in week_of_days %}selected{% endif %}>Tuesday</option>
                                        <option value="Wednesday" {% if 'Wednesday' in week_of_days %}selected{% endif %}>Wednesday</option>
                                        <option value="Thursday" {% if 'Thursday' in week_of_days %}selected{% endif %}>Thursday</option>
                                        <option value="Friday" {% if 'Friday' in week_of_days %}selected{% endif %}>Friday</option>
                                        <option value="Saturday" {% if 'Saturday' in week_of_days %}selected{% endif %}>Saturday</option>
                                        <option value="Sunday" {% if 'Sunday' in week_of_days %}selected{% endif %} >Sunday</option>
                                    </select>
                                    <label class="error_msg float-right" id=""></label>

                                </div>
                            </div>
                        </div>
                        
                        <!--<div class="col-md-4">-->
                        <!--    <div class="row">-->
                        <!--        <div class="col-md-12 p-0 mt-0">-->
                        <!--            <img src="{% static 'img/svg/shift.svg' %}" class="profileIconSize" />&nbsp;&nbsp;-->
                        <!--            <h6 class="mt-2 mb-0" style="display: inline-block;">-->
                        <!--                Is Login on Document Scan App?-->
                        <!--            </h6>-->
                        <!--        </div> -->
                        <!--        <div class="col-md-12 p-0 mt-2">-->
                        <!--            <label class="error_msg float-right" id=""></label>-->
                        <!--                 <select class="inputField selectField" style="width: 100% !important;" name="login_status" id="login_status">-->
                        <!--                    <option value="0" {% if employee_details.login_status == 0 %} selected {% endif %}>No</option>-->
                        <!--                    <option value="1" {% if employee_details.login_status == 1 %} selected {% endif %}>Yes</option>-->
                        <!--                </select>-->
                        <!--            <label class="error_msg float-right" id="emp_sap_id_error"></label>-->
                        <!--        </div> -->
                               
                        <!--    </div>   -->
                        <!--</div>-->
                        <!--<div class="col-md-4">-->
                        <!--    <div class="row">-->
                        <!--        <div class="col-md-12 p-0">-->
                        <!--            <img src="{% static 'img/svg/aadhaar.svg' %}" class="profileIconSize" />&nbsp;&nbsp;-->
                        <!--            <h6 class="mt-2 mb-0" style="display: inline-block;">-->
                        <!--                Aadhaar Card No *-->
                        <!--            </h6>-->
                        <!--        </div>-->
                        <!--        <div class="col-md-12 p-0 mt-2">-->
                        <!--            <input class="inputField numeric" type="text" placeholder="Aadhaar Card No." name="aadhaar_nubmer"-->
                        <!--            id="aadhaar_nubmer" maxlength="12" value="{% if employee_basic_details.aadhaar_nubmer %}{{employee_basic_details.aadhaar_nubmer}}{% endif %}"/>-->
                        <!--            <label class="error_msg float-right" id="aadharcard_error"></label>-->
                        <!--        </div>-->
                        <!--    </div>-->
                        <!--</div>-->
                        
                        <!--<div class="col-md-4">-->
                        <!--    <div class="row">-->
                        <!--        <div class="col-md-12 p-0">-->
                        <!--            <img src="{% static 'img/svg/PAN.svg' %}" class="profileIconSize" />&nbsp;&nbsp;-->
                        <!--            <h6 class="mt-2 mb-0" style="display: inline-block;">-->
                        <!--                PAN card No*-->
                        <!--            </h6>-->
                        <!--        </div>-->
                        <!--        <div class="col-md-12 p-0 mt-2">-->
                        <!--            <input class="inputField alpha_numeric" type="text" placeholder="Enter PAN Card No" name="pan_number"-->
                        <!--            id="pan_number" maxlength="10" value="{% if employee_basic_details.pan_number %}{{employee_basic_details.pan_number}}{% endif %}"/>-->
                        <!--            <label class="error_msg float-right" id="pancard_error"></label>-->
                        <!--        </div>-->
                        <!--    </div>-->
                        <!--</div>-->
                    </div>
                    
                    
                    
                    <!--<div class="row mt-3">-->
                        
                        
                    <!--    <div class="col-md-4">-->
                    <!--        <div class="row">-->
                    <!--            <div class="col-md-12 p-0">-->
                    <!--                <img src="{% static 'img/svg/dateofJoiniing.svg' %}" class="profileIconSize" />&nbsp;&nbsp;-->
                    <!--                <h6 class="mt-2 mb-0" style="display: inline-block;">-->
                    <!--                    Date of Joining*-->
                    <!--                </h6>-->
                    <!--            </div>-->
                    <!--            <div class="col-md-12 p-0 mt-2">-->
                    <!--                <input class="inputField"-->
                    <!--                placeholder="Enter Date of Joining" name="date_of_joining" id="date_of_joining" value="{% if employee_basic_details.date_of_joining %}{{employee_basic_details.date_of_joining | date:'d/m/Y'}}{% endif %}">-->
                    <!--                <label class="error_msg float-right" id="doj_error"></label>-->
                    <!--            </div>-->
                    <!--        </div>-->
                    <!--    </div>-->
                      
                    <!--    <div class="col-md-4">-->
                    <!--        <div class="row">-->
                    <!--            <div class="col-md-12 p-0">-->
                    <!--                <img src="{% static 'img/svg/aadhaar.svg' %}" class="profileIconSize" />&nbsp;&nbsp;-->
                    <!--                <h6 class="mt-2 mb-0" style="display: inline-block;">-->
                    <!--                    Employee ID *-->
                    <!--                </h6>-->
                    <!--            </div>-->
                    <!--            <div class="col-md-12 p-0 mt-2">-->
                    <!--                <input class="inputField" type="text" placeholder="Enter Employee ID" name="emp_sap_id"-->
                    <!--                id="emp_sap_id" maxlength="10" value="{% if employee_details.emp_sap_id %}{{employee_details.emp_sap_id}}{% endif %}"/>-->
                    <!--                <label class="error_msg float-right" id="SAPID_error"></label>-->
                    <!--            </div>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--    {% comment %} <div class="col-md-4">-->
                    <!--        <div class="row">-->
                    <!--            <div class="col-md-12 p-0">-->
                    <!--                <img src="{% static 'img/svg/shift.svg' %}" class="profileIconSize" />&nbsp;&nbsp;-->
                    <!--                <h6 class="mt-2 mb-0" style="display: inline-block;">-->
                    <!--                    Job Type*-->
                    <!--                </h6>-->
                    <!--            </div>-->
                    <!--            <div class="col-md-12 p-0 mt-2">-->
                                  
                    <!--                <select class="inputField selectField" style="width: 100% !important;" name="contract_type" id="contract_type">-->
                    <!--                    <option value="">Select Job Type </option>-->
                    <!--                    {% for contract_type in contract_type %}-->
                    <!--                    <option value="{{contract_type.id}}" {% if employee_basic_details.contract_type == contract_type.id %} selected {% endif %}>{{contract_type.contract_type}}</option>-->
                    <!--                    {% endfor %}-->
                                        
                    <!--                </select>-->
                    <!--                <label class="error_msg float-right" id=""></label>-->
                    <!--            </div>-->
                    <!--        </div>-->
                    <!--    </div> {% endcomment %}-->
                    <!--    <div class="col-md-4">-->
                    <!--        <div class="row">-->
                    <!--            <div class="col-md-12 p-0">-->
                    <!--                <img src="{% static 'img/svg/shift.svg' %}" class="profileIconSize" />&nbsp;&nbsp;-->
                    <!--                <h6 class="mt-2 mb-0" style="display: inline-block;">-->
                    <!--                    Job Type*-->
                    <!--                </h6>-->
                    <!--            </div> -->
                    <!--            <div class="col-md-12 p-0 mt-2">-->
                    <!--                <select class="inputField selectField" style="width: 100% !important;" name="contract_type" id="contract_type">-->
                    <!--                    <option value="">Select Job Type </option>-->
                    <!--                    {% for contract_type in contract_type %}-->
                    <!--                    <option value="{{contract_type.id}}" {% if employee_basic_details.contract_type == contract_type.id %} selected {% endif %}>{{contract_type.contract_type}}</option>-->
                    <!--                    {% endfor %}-->
                                        
                    <!--                </select>-->
                    <!--                <label class="error_msg float-right" id=""></label>-->
                    <!--            </div>-->

                    <!--        </div>-->
                    <!--    </div>-->
                        
                    <!--</div>-->
                    
                    <div class="row mt-3" style="display:none">
                        <div class="col-md-12">
                            <img src="{% static 'img/svg/Bank.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
                            <h5 class="mt-2 mb-0 lightGrey" style="display: inline-block;">
                                Bank Details
                            </h5>
                        </div>
                    </div>
                    
                    <div class="row mt-4" >
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                   <img src="{% static 'img/svg/bank_name.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">Bank Name*</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 p-0 mt-2">
                                    <select class="inputField selectField" style="width: 100% !important;" name="bank_name" id="bank_name">
                                        <option value="" >Select Bank</option>
                                        {% for bank in banks %}
                                        <option value="{{bank.id}}" {% if bank.id == employee_bank_details.bank_id %} selected {% endif %}>{{bank.bank_name}}</option>
                                        {% endfor %}
                                    </select>
                                    <label class="error_msg float-right" id="bank_name_error"></label>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/Account_no.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">
                                        Bank Account No*
                                    </h6>
                                </div>
                                <div class="col-md-12 p-0 mt-2">
                                    <input class="inputField numeric" type="text" placeholder="Enter Account No" name="bank_account_no"
                                    id="bank_account_no" maxlength="20" value="{{employee_bank_details.bank_account_no}}"/>
                                    <label class="error_msg float-right" id="bank_account_no_error"></label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/IFSC.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">
                                        SWIFT Code* 
                                    </h6>
                                </div>
                                <div class="col-md-12 p-0 mt-2">
                                    <input class="inputField" type="text" placeholder="Enter SWIFT Code" name="ifsc_code"
                                    id="ifsc_code" maxlength="15" value="{{employee_bank_details.ifsc_code}}"/>
                                    <label class="error_msg float-right" id="bank_account_no_error"></label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/bank_address.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">Bank Address*</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 p-0 mt-2">
                                    <input class="inputField" type="text" placeholder="Enter Bank Branch" name="bank_address"
                                    id="bank_address" maxlength="100" value="{{employee_bank_details.bank_address}}"/>
                                    <label class="error_msg float-right" id="bank_account_no_error"></label>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-3" style="display:none">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/bank_address.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">PF No.*</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 p-0 mt-2">
                                    <input class="inputField" type="text" placeholder="Enter PF No." name="pf_no"
                                    id="pf_no" maxlength="22" value="{% if employee_basic_details.pf_no %}{{employee_basic_details.pf_no}}{% endif %}"/>
                                    <label class="error_msg float-right" id="bank_account_no_error"></label>
                                </div>
                            </div>   
                        </div>
                        <div class="col-md-3"  style="display:none">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/bank_address.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">UAN*</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 p-0 mt-2">
                                    <input class="inputField numeric" type="text" placeholder="Enter UAN" name="uan"
                                    id="uan" maxlength="12" value="{% if employee_basic_details.uan %}{{employee_basic_details.uan}}{% endif %}"/>
                                    <label class="error_msg float-right" id="uan_no_error"></label>
                                </div>
                            </div>   
                        </div>
                        <div class="col-md-3"  style="display:none">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/bank_address.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">ESI No.*</h6>
                                </div>
                            </div>
                          
                            <div class="row">
                                <div class="col-md-12 p-0 mt-2">
                                    <input class="inputField numeric" type="text" placeholder="Enter ESI No." name="esi_no"
                                    id="esi_no" maxlength="56" value="{% if employee_basic_details.esi_no %}{{employee_basic_details.esi_no}}{% endif %}"/>
                                    <label class="error_msg float-right" id="esi_no_error"></label>
                                </div>
                            </div>   
                        </div>
                        <div class="col-md-3"  style="display:none">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/bank_address.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">PAN No.*</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 p-0 mt-2">
                                    <input class="inputField" type="text" placeholder="Enter PAN No." name="pan_no"
                                    id="pan_no" maxlength="10" value="{% if employee_basic_details.pan_no %}{{employee_basic_details.pan_no}}{% endif %}"/>
                                    <label class="error_msg float-right" id="pan_no_error"></label>
                                </div>
                            </div>   
                        </div>
                    </div>
                    
                    <div class="row mt-4"  style="display:none" >
                      
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/bank_address.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">Aadhaar No.*</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 p-0 mt-2">
                                    <input class="inputField numeric" type="text" placeholder="Enter Aadhaar No." name="adhar_no"
                                    id="adhar_no" maxlength="12" value="{% if employee_basic_details.adhaar_no %}{{employee_basic_details.adhaar_no}}{% endif %}"/>
                                    <label class="error_msg float-right" id="adhaar_no_error"></label>
                                </div>
                            </div>   
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <img src="{% static 'img/svg/bank_address.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">Working State*</h6>
                                    <select class="inputField selectField" style="width: 100% !important;" name="store_state_id" id="store_state_id" onchange="getCity(this.value, 'store_city_id', '')">
										<option value="">Select Working State</option>
										{% if store_states %}
										{% for state in store_states %}
										<option value="{{state.id}}" {% if employee_basic_details.working_state_name == state.id %} selected="" {% endif %}>{{state.state}}</option>
										{% endfor %}
										{% endif %}
									</select>
									<label class="error_msg float-right" id="store_state_id_error"></label>
                                </div>
                            </div>
                           
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12 p-0 mt-2">
                                    <img src="{% static 'img/svg/bank_address.svg' %}" class="profileIconSize" />&nbsp;&nbsp;
                                    <h6 class="mt-2 mb-0" style="display: inline-block;">Working Location*</h6>
                                    <select class="inputField selectField" style="width: 100% !important;" name="store_city_id" id="store_city_id" >
                                        <option value="">Select Working Location</option>
                                        {% if store_cities %}
                                        {% for city in store_cities %}
                                        <option value="{{city.id}}" {% if employee_basic_details.working_location == city.id %} selected="" {% endif %}>{{city.district_name}}</option>
                                        {{city.district_name}}
                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                    <label class="error_msg float-right" id="store_city_id_error"></label>
                                </div>
                            </div>   
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12 p-0">
                                <img src="{% static 'img/svg/setting.svg' %}" class="profileIconSize">&nbsp;&nbsp;
                                <h6 class="mt-2 mb-0" style="display: inline-block;">
                                    Is ESIC Applicable ?
                                </h6>
                            </div>
                            <div class="col-md-12 p-0 mt-2">
                                <label class="switch">
                                    <input type="checkbox" class="checkbox" onclick="handleEsic(this)" {% if 1 == employee_basic_details.is_esic|add:"0" %}checked{% endif %}>
                                    <span class="slider round"></span>
                                    <input type="hidden" name="is_esic" value="{{employee_basic_details.is_esic}}">
                                    <label class="error_msg float-right"></label>
                                </label>
                            </div>
                        </div>
                    </div>

                    <br clear="all"> 
                </div>
                
            </div>
        </div>
        
        
        <nav class="navbar fixed-bottom" id="modalFooter">
            <div class="dropdown-divider w-100"></div>
            <div class="col-3 offset-9 p-0">
                <ul id="stepFooter">
                    <li id="li1" class="selectedstep">
                        <button class="btn btn-step activeStep" id="stepBtn1">
                            &#10004;
                        </button>
                    </li>
                    <li id="li2" class="selectedstep">
                        <button class="btn btn-step activeStep" id="stepBtn2">
                            &#10004;
                        </button>
                    </li>
                    <li id="li3">
                        <button class="btn btn-step" id="stepBtn3">
                            &#10004;
                        </button>
                    </li>
                    <li id="li4">
                        <button class="btn btn-step" id="stepBtn4">
                            &#10004;
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</form>


<script>
    $(document).ready(function () {
        $("#date_of_joining").datepicker({
            weekStart: 1,
            changeMonth: true,
            changeYear: true,  
            yearRange: "-100:+0",
            daysOfWeekHighlighted: "6,0",
            autoclose: true,
            todayHighlight: true,
            dateFormat: 'dd/mm/yy',
        });
    });
   
    var employee_id = "{{last_user_id}}";
    $('#addOfficalDetailsForms').submit(function(e){
        showLoader();
        if(validateForm()){
            hideLoader();
            return false;
        }else{
            showLoader();
            e.preventDefault();
            $form = $(this)
            var formData = new FormData(this);
            url =  "{% url 'src:edit-employee-official-detail' 1 %}";
            url = url.replace(1,parseInt(employee_id));
            console.log("Official: ", url)
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                success: function (response) {
                    if (response.error == true) {
                        hideLoader();
                        $(".text-danger").html('');
                        var data = response.message;
                        $.each(data, function (index, value) {
                            console.log(index);
                            console.log(value);
                            $('#' + index).html(value);
                        });
                    } else {
                        hideLoader();
                        editEmployeeBiometricDetail(employee_id);
                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });
        }
        
        
    });
    
    
    function validateForm(){
        error = 0;
        $('.error_msg').text('');
        
        $('#organization_id').css("border", "");
        if ($('[name="organization_id"]').val() == null || $('[name="organization_id"]').val() == "") {
            $('[name="organization_id"]').parent().find('.error_msg').text("Please select organization*");
            $('[name="organization_id"]').siblings(".select2-container").css("border-radius", "0.6rem").css("border", "1px solid #db8305");
            error = error + 1;
        }
        
        $('#department_id').css("border", "");
        if ($('[name="department_id"]').val() == null || $('[name="department_id"]').val() == "") {
            $('[name="department_id"]').parent().find('.error_msg').text("Please select department*");
            $('[name="department_id"]').siblings(".select2-container").css("border-radius", "0.6rem").css("border", "1px solid #db8305");
            error = error + 1;
        }
        
        $('#role_id').css("border", "");
        if ($('[name="role_id"]').val() == null || $('[name="role_id"]').val() == "") {
            $('[name="role_id"]').parent().find('.error_msg').text("Please select role*");
            $('[name="role_id"]').siblings(".select2-container").css("border-radius", "0.6rem").css("border", "1px solid #db8305");
            error = error + 1;
        }
        $('#reporting_to_id').css("border", "");
        $('#reporting_to_id').css("border", "");
        if ($('[name="reporting_to_id"]').val() == null || $('[name="reporting_to_id"]').val() == "") {
            $('[name="reporting_to_id"]').parent().find('.error_msg').text("Please select reporting to*");
            $('[name="reporting_to_id"]').siblings(".select2-container").css("border-radius", "0.6rem").css("border", "1px solid #db8305");
            error = error + 1;
        }
       
        // $('#aadhaar_nubmer').css("border", "");
        // if ($('[name="aadhaar_nubmer"]').val() == null || $('[name="aadhaar_nubmer"]').val() == "") {
        //     $('[name="aadhaar_nubmer"]').parent().find('.error_msg').text("Please enter aadhaar number*");
        //     $('[name="aadhaar_nubmer"]').css("border", "1px solid #db8305");
        //     error = error + 1;
        // }
        // $('#pan_number').css("border", "");
        // if ($('[name="pan_number"]').val() == null || $('[name="pan_number"]').val() == "") {
        //     $('[name="pan_number"]').parent().find('.error_msg').text("Please enter pan number*");
        //     $('[name="pan_number"]').css("border", "1px solid #db8305");
        //     error = error + 1;
        // }
        // $('#working_shift_id').css("border", "");
        // if ($('[name="working_shift_id[]"]').val() == null || $('[name="working_shift_id[]"]').val() == "") {
        //     $('[name="working_shift_id[]"]').parent().find('.error_msg').text("Please select working shift*");
        //     $('[name="working_shift_id[]"]').siblings(".select2-container").css("border-radius", "0.6rem").css("border", "1px solid #db8305");
        //     error = error + 1;
        // }
        $('#date_of_joining').css("border", "");
        if ($('[name="date_of_joining"]').val() == null || $('[name="date_of_joining"]').val() == "") {
            $('[name="date_of_joining"]').parent().find('.error_msg').text("Please enter date of joining*");
            $('[name="date_of_joining"]').css("border", "1px solid #db8305");
            error = error + 1;
        }
        $('[name="emp_sap_id"]').css("border", "");
        if ($('[name="emp_sap_id"]').val() == null || $('[name="emp_sap_id"]').val() == "") {
            $('[name="emp_sap_id"]').parent().find('.error_msg').text("Please enter employee id*");
            $('[name="emp_sap_id"]').css("border", "1px solid #db8305");
            error = error + 1;
        }
        $('#contract_type').css("border", "");
        if ($('[name="contract_type"]').val() == null || $('[name="contract_type"]').val() == "") {
            $('[name="contract_type"]').parent().find('.error_msg').text("Please select contarct type*");
            $('[name="contract_type"]').siblings(".select2-container").css("border-radius", "0.6rem").css("border", "1px solid #db8305");
            error = error + 1;
        }
        
         $('[name="bank_name"]').css("border", "");
        if ($('[name="bank_name"]').val() == null || $('[name="bank_name"]').val() == "") {
            $('[name="bank_name"]').parent().find('.error_msg').text("Please enter bank name*");
            $('[name="bank_name"]').siblings(".select2-container").css("border-radius", "0.6rem").css("border", "1px solid #db8305");
            error = error + 1;
        }
        $('[name="bank_account_no"]').css("border", "");
        if ($('[name="bank_account_no"]').val() == null || $('[name="bank_account_no"]').val() == "") {
            $('[name="bank_account_no"]').parent().find('.error_msg').text("Please enter bank Account number name id*");
            $('[name="bank_account_no"]').css("border", "1px solid #db8305");
            error = error + 1;
        }
        $('[name="ifsc_code"]').css("border", "");
        if ($('[name="ifsc_code"]').val() == null || $('[name="ifsc_code"]').val() == "") {
            $('[name="ifsc_code"]').parent().find('.error_msg').text("Please enter bank IFSC code name id*");
            $('[name="ifsc_code"]').css("border", "1px solid #db8305");
            error = error + 1;
        }
        $('[name="bank_address"]').css("border", "");
        if ($('[name="bank_address"]').val() == null || $('[name="bank_address"]').val() == "") {
            $('[name="bank_address"]').parent().find('.error_msg').text("Please enter bank address*");
            $('[name="bank_address"]').css("border", "1px solid #db8305");
            error = error + 1;
        }
        // $('[name="pf_no"]').css("border", "");
        // if ($('[name="pf_no"]').val() == null || $('[name="pf_no"]').val() == "") {
        //     $('[name="pf_no"]').parent().find('.error_msg').text("Please enter PF Number*");
        //     $('[name="pf_no"]').css("border", "1px solid #db8305");
        //     error = error + 1;
        // }

        // $('[name="uan"]').css("border", "");
        // if ($('[name="uan"]').val() == null || $('[name="uan"]').val() == "") {
        //     $('[name="uan"]').parent().find('.error_msg').text("Please enter UAN*");
        //     $('[name="uan"]').css("border", "1px solid #db8305");
        //     error = error + 1;
        // }

        // $('[name="esi_no"]').css("border", "");
        // if ($('[name="esi_no"]').val() == null || $('[name="esi_no"]').val() == "") {
        //     $('[name="esi_no"]').parent().find('.error_msg').text("Please enter ESI Number*");
        //     $('[name="esi_no"]').css("border", "1px solid #db8305");
        //     error = error + 1;
        // }

        // $('[name="pan_no"]').css("border", "");
        // if ($('[name="pan_no"]').val() == null || $('[name="pan_no"]').val() == "") {
        //     $('[name="pan_no"]').parent().find('.error_msg').text("Please enter PAN Number*");
        //     $('[name="pan_no"]').css("border", "1px solid #db8305");
        //     error = error + 1;
        // }

        
        // $('[name="adhar_no"]').css("border", "");
        // if ($('[name="adhar_no"]').val() == null || $('[name="adhar_no"]').val() == "") {
        //     $('[name="adhar_no"]').parent().find('.error_msg').text("Please enter Aadhaar Number*");
        //     $('[name="adhar_no"]').css("border", "1px solid #db8305");
        //     error = error + 1;
        // }

        
        // $('[name="store_state_id"]').css("border", "");
        // if ($('[name="store_state_id"]').val() == null || $('[name="store_state_id"]').val() == "") {
        //     $('[name="store_state_id"]').parent().find('.error_msg').text("Please enter Working State*");
        //     $('[name="store_state_id"]').css("border", "1px solid #db8305");
        //     error = error + 1;
        // }

        // $('[name="store_city_id"]').css("border", "");
        // if ($('[name="store_city_id"]').val() == null || $('[name="store_city_id"]').val() == "") {
        //     $('[name="store_city_id"]').parent().find('.error_msg').text("Please enter Working Location*");
        //     $('[name="store_city_id"]').css("border", "1px solid #db8305");
        //     error = error + 1;
        // }


        if(error > 0){
            return true;
        }else{
            return false;
        }
    }
    
    function handleEsic(element){
        if($(element).is(':checked')){
            $(element).next().next().val(1);
        }else{
            $(element).next().next().val(0);
        }
    }
   
    
    function getOption(val, id, flag){
        if(id == 'department_id'){
            $('[name="'+id+'"]').html('<option value="" selected>Select Department</option>')
            $('[name="role_id"]').html('<option value="" selected>Select Role</option>')
        }else if(id == 'role_id'){
            $('[name="'+id+'"]').html('<option value="" selected>Select Role</option>')
        }else{
            $('[name="'+id+'"]').html('<option value="" selected>Select Town</option>')
        }
        
        if(id != ""){
            $.ajax({
                url: "{% url 'src:get-options-list' %}",
                method: 'POST',
                data:{id: id, val:val, flag:flag, csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()},
                success: function (data) {
                    $('[name="'+id+'"]').html(data.options)
                    $(".selectField").select2();
                },
                error: function (err) {
                    console.log(err)
                }
            });
        } 
    }
    



    function getReportingUsers(role_id){
        if(role_id != ""){
            url = "{% url 'src:get-reporting-user-options' 1 %}";
            url = url.replace(1,role_id)
            $.ajax({
                url: url,
                method: 'GET',
                success: function (data) {
                    $('#reporting_to_id').html(data)
                },
                error: function (err) {
                    console.log(err)
                }
            });
        }else{
            $('#reporting_to_id').html('')
        }
    }
</script>