<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Terms</title>
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="../unpkg.com/aos%403.0.0-beta.6/dist/aos.css" />
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
        
        <script data-search-pseudo-elements="" defer="" src="../cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
        <script src="../cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    <script async src='cdn-cgi/bm/cv/669835187/api.js'></script></head>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content" class="insbg">
                <main>
                
                    <!-- Page Header-->
                    <header class="">
                       
                        <div class="page-header-ui-content pt-0">
                        
                            <div class="container-fluid p-0">
                             
                                <div class="row">
                                
                                   <div class="col-md-5">
                                   <div class="optionsec" id="circle">
                                   	 	<div class="questionsection">
                                   	 		<h3>Total <span class="hilight">No.of <br>Questions</span> to Attempt</h3>
                                   	 		<div class="qsoption">
                                   	 		<ul class="optionnlist">
                                   	 			<li>
                                   	 			<label class="container1"><span class="num">01</span><br>
  <input type="checkbox">
  <i class="checkmark"></i>
</label>                          	 			
                                   	 			</li>
                                   	 			<li>
                                   	 			<label class="container1"><span class="num">02</span><br>
  <input type="checkbox">
  <i class="checkmark"></i>
</label>
                                   	 			</li>
                                   	 			<li>
                                   	 			<label class="container1"><span class="num">03</span><br>
  <input type="checkbox">
  <i class="checkmark"></i>
</label>
                                   	 			</li>
                                   	 			<li>
                                   	 			<label class="container1"><span class="num">04</span><br>
  <input type="checkbox">
  <i class="checkmark"></i>
</label>
                                   	 			</li>
                                   	 			<li>
                                   	 			<label class="container1"><span class="num">05</span><br>
  <input type="checkbox">
  <i class="checkmark"></i>
</label>
                                   	 			</li>
                                   	 			<li>
                                   	 			<label class="container1"><span class="num">06</span><br>
  <input type="checkbox">
  <i class="checkmark"></i>
</label>
                                   	 			</li>
                                   	 			<li>
                                   	 			<label class="container1"><span class="num">07</span><br>
  <input type="checkbox">
  <i class="checkmark"></i>
</label>
                                   	 			</li>
                                   	 			<li>
                                   	 			<label class="container1"><span class="num">08</span><br>
  <input type="checkbox">
  <i class="checkmark"></i>
</label>
                                   	 			</li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">09</span><br><input type="checkbox"><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">10</span><br><input type="checkbox"><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">11</span><br><input type="checkbox"><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">12</span><br><input type="checkbox"><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">13</span><br><input type="checkbox"><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">14</span><br><input type="checkbox"><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">15</span><br><input type="checkbox"><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">16</span><br><input type="checkbox"><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">17</span><br><input type="checkbox"><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">18</span><br><input type="checkbox"><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">19</span><br><input type="checkbox"><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">20</span><br><input type="checkbox"><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">21</span><br><input type="checkbox"><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">22</span><br><input type="checkbox"><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">23</span><br><input type="checkbox"><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">24</span><br><input type="checkbox"><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">25</span><br><input type="checkbox"><i class="checkmark"></i></label></li>
                                   	 			
                                   	 		</ul>
                                   	 		</div>
                                   	 		<div class="timersec">
                                   	 		<h1 class="timetile">Time Left</h1>
                                   	 		<h1 class="timecount">00:00:00</h1>
                                   	 		<ul class="quesins">
                                   	 			<li class="skip">Ques. Skipped</li>
                                   	 			<li class="att">Ques. Attended</li>
                                   	 			<li class="une">Ques. Unexplored</li>
                                   	 		</ul>
                                   	 		</div>
                                   	 	</div>
                                   </div>
                                  
                                   </div>
                                   <div class="col-md-7">
                                   <div class="questionarea">
                                   <h3 class="hilight">Ques. No. 1</h3>
                                   
                                   	<p class="qstitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                   	<ul class="anslist">
                                   		<li><a href="" class="btn">Lorem ipsum</a></li>
                                   		<li><a href="" class="btn">Lorem ipsum</a></li>
                                   		<li><a href="" class="btn">Lorem ipsum</a></li>
                                   		<li><a href="" class="btn">Lorem ipsum</a></li>
                                   	</ul>
                                   	
                                   	<div class="row navsec">
                                   		<div class="col-md-6" align="left"><a href=""><img src="assets/img/arrow l.svg"/>&nbsp; Previous</a></div>
                                   		<div class="col-md-6" align="right"><a href="">&nbsp; Next <img src="assets/img/arrow r.svg"/></a</div>
                                   	</div>
                                   
                                   	</div>
                                   </div>
                                </div>
                            </div>
                        </div>
                        
                    </header>
                    
                </main>
            </div>
      
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../cdn.jsdelivr.net/npm/bootstrap%405.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="../unpkg.com/aos%403.0.0-beta.6/dist/aos.js"></script>
        <script>
            AOS.init({
                disable: 'mobile',
                duration: 600,
                once: true,
            });
           
        </script>

        <script src="assets.startbootstrap.com/js/sb-customizer.js"></script>
        <script src="js/custom.js"></script>
        <sb-customizer project="sb-ui-kit-pro"></sb-customizer>
        
</body>
</html>
