<!-- <!DOCTYPE html>
<html lang="en">
{% block content %}
{% load static %} -->
        <div id="layoutDefault">
            <div id="layoutDefault_content" class="insbg">
                <main>
                
                    <!-- Page Header-->
                    <header class="">
                       
                        <div class="page-header-ui-content pt-0">
                        
                            <div class="container-fluid p-0">
                             
                                <div class="row">
                                
                                   <div class="col-md-5">
                                   <div class="optionsec" >
                                   	 	<div class="questionsection">
                                   	 		<h3>Total <span class="hilight"> No.of 30<br>Questions</span> to Attempt</h3>
                                   	 		<div class="qsoption">
                                   	 		<ul class="optionnlist">
                                   	 			<li>
                                   	 			<label class="container1"><span class="num">01</span><br>
													<input type="checkbox" disabled>
													<i class="checkmark"></i>
												</label>                          	 			
                                   	 			</li>
                                   	 			<li>
                                   	 			<label class="container1"><span class="num">02</span><br>
													<input type="checkbox" disabled>
													<i class="checkmark"></i>
												</label>
                                   	 			</li>
                                   	 			<li>
                                   	 			<label class="container1"><span class="num">03</span><br>
													<input type="checkbox" disabled>
													<i class="checkmark"></i>
												</label>
                                   	 			</li>
                                   	 			<li>
                                   	 			<label class="container1"><span class="num">04</span><br>
													<input type="checkbox" disabled>
													<i class="checkmark"></i>
												</label>
                                   	 			</li>
                                   	 			<li>
                                   	 			<label class="container1"><span class="num">05</span><br>
													<input type="checkbox" disabled>
													<i class="checkmark"></i>
												</label>
                                   	 			</li>
                                   	 			<li>
                                   	 			<label class="container1"><span class="num">06</span><br>
													<input type="checkbox" disabled>
													<i class="checkmark"></i>
												</label>
                                   	 			</li>
                                   	 			<li>
                                   	 			<label class="container1"><span class="num">07</span><br>
													<input type="checkbox" disabled>
													<i class="checkmark"></i>
												</label>
                                   	 			</li>
                                   	 			<li>
                                   	 			<label class="container1"><span class="num">08</span><br>
													<input type="checkbox" disabled>
													<i class="checkmark"></i>
												</label>
                                   	 			</li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">09</span><br><input type="checkbox" disabled><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">10</span><br><input type="checkbox" disabled><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">11</span><br><input type="checkbox" disabled><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">12</span><br><input type="checkbox" disabled><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">13</span><br><input type="checkbox" disabled><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">14</span><br><input type="checkbox" disabled><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">15</span><br><input type="checkbox" disabled><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">16</span><br><input type="checkbox" disabled><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">17</span><br><input type="checkbox" disabled><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">18</span><br><input type="checkbox" disabled><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">19</span><br><input type="checkbox" disabled><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">20</span><br><input type="checkbox" disabled><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">21</span><br><input type="checkbox" disabled><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">22</span><br><input type="checkbox" disabled><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">23</span><br><input type="checkbox" disabled><i class="checkmark"></i></label></li>
                                   	 			<li>
                                   	 			<label class="container1">
                                   	 			<span class="num">24</span><br><input type="checkbox" disabled><i class="checkmark"></i></label></li>
                                   	 			<li>
													<label class="container1">
														<span class="num">25</span><br><input type="checkbox" disabled><i class="checkmark"></i>
													</label>
												</li>
												<li>
													<label class="container1">
														<span class="num">26</span><br><input type="checkbox" disabled><i class="checkmark"></i>
													</label>
												</li>
												<li>
													<label class="container1">
														<span class="num">27</span><br><input type="checkbox" disabled><i class="checkmark"></i>
													</label>
												</li>
												<li>
													<label class="container1">
														<span class="num">28</span><br><input type="checkbox" disabled><i class="checkmark"></i>
													</label>
												</li>
												<li>
													<label class="container1">
														<span class="num">29</span><br><input type="checkbox" disabled><i class="checkmark"></i>
													</label>
												</li>
												<li>
													<label class="container1">
														<span class="num">30</span><br><input type="checkbox" disabled><i class="checkmark"></i>
													</label>
												</li>
                                   	 			
                                   	 		</ul>
                                   	 		</div>
                                   	 		<div class="timersec">
                                   	 		<h1 class="timetile">Time Left</h1>
                                   	 		<h1 class="timecount">01:00:00</h1>
                                   	 		<ul class="quesins">
                                   	 			<li class="skip">Ques. Skipped</li>
                                   	 			<li class="att">Ques. Attended</li>
                                   	 			<li class="une">Ques. Unexplored</li>
                                   	 		</ul>
                                   	 		</div>
                                   	 	</div>
                                   </div>
                                  
                                   </div>
                                   <div class="col-md-7">
                                   <div class="startsec">
                                   	<img src="{% static 'entrance-assets/img/Group 272.png' %}"/>
                                   	<p><strong>01:00</strong> Hour has been set aside for you to attend the <strong>Quiz</strong>.</p>
                                   	<button type="button" onclick="startQuiz('{{ candidate_id }}')" class="btn btn-lg btn-primary col-md-3 fw-500 me-sm-3 mb-3 mb-sm-0">Start Quiz</button>
                                   	<!-- <div class="row navsec">
                                   		<div class="col-md-6" align="left">
											<a href="">
												<img src="{% static 'entrance-assets/img/arrow l.svg' %}"/>&nbsp; Previous
											</a>
										</div>
                                   		<div class="col-md-6" align="right">
											<a href="quesfirst.html">&nbsp; Next 
												<img src="{% static 'entrance-assets/img/arrow r.svg' %}"/>
											</a>
										</div>
                                   	</div> -->
                                   	<!--<div class="navsec">
                                   		<ul><li><a href=""><img src="assets/img/arrow l.svg"/></a></li><li><a href=""><img src="assets/img/arrow r.svg"/></a></li></ul>
                                   	</div>-->
                                   	</div>
                                   </div>
                                </div>
                            </div>
                        </div>
                        
                    </header>
                    
                </main>
            </div>
      
        </div>
{% endblock content %}