
<html lang="en">
  <head>  
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset Request for TTrack Account </title>
  </head>
  <body>
    <h5>Dear TTrack User</h5>
   <p style="text-align:justify;"> You are receiving this email because a password reset request has been initiated for your TTrack account.<br>
    To reset your password, please <a href="{{link}}">click here</a> <br>
    If you have any questions or need further assistance, please don't hesitate to contact our support team.
    Thank you for using TTrack.</p>
    <h5>Sincerely,</h5>
    <h5>The TTrack Team</h5>
  </body>
</html>



