{% load static %}
<style>
	#addPermissionModule{
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-ms-filter: blur(5px);
		-o-filter: blur(5px);
		filter: blur(5px);
		pointer-events:none;
	}	
</style>
<div class="modal-AddOrganisation centered">
	<div class="modal-body p-0" >
		<div class="row">
			<div class="col-sm-12 col-12 role-details-form py-3">
				<form method="POST" id="saveRoleAttribute" autocomplete="off" action="{% url 'src:update-role-attributes' %}" aria-label="Update Role Attribute">
					{% csrf_token %}
					<input type="hidden" name="role_type_id" value="{{role_id}}">
					
					<div class="row">
						<div class="col-sm-8 col-10 px-0">
							<h5 class="d-inline-block font-wt-b">Role Attribute Mapping</h5>
						</div>
						<button class="btn btn-save mob-ml-16" type="button" onclick="updateRoleAttributes()" >Save </button>
						<button class="btn btn-close" type="button" onclick="manipulateModal('addPermissionModal','close')">
							<span class="mob-d-none">Close</span>
							<i class="far fa-times-circle mob-d-block desk-d-none"></i>
						</button>
					</div>
					
					<div class="row add-form-row-mrng">
						<div class="col-md-12 col-sm-12  form-group">
							<select name="attribute_id[]" data-placeholder="Select attribute" id="role_attribute_id" class="form-control select2" multiple="">
								
								{% for attribute in attributes %}
								<option value="{{attribute.id}}"  {% if attribute.id in role_attribute_ids %} selected {% endif %} >{{attribute.attribute}}</option>
								{% endfor %}
								
							</select>
							<span class="label error_label" id="error_attribute_id"></span>
							
						</div>
					</div>
					<div role="tabpanel" class="attribute_tabs">
						<ul class="nav nav-tabs" role="tablist" id="tabs">
							{% for role_attribute in role_attributes %}
							<li id="tab{{role_attribute.attribute_id}}" class="{% if forloop.counter == 1  %} active {% endif %}">
								<a href="#tab_content{{role_attribute.attribute_id}}" aria-controls="{{role_attribute.attribute_id}}" data-toggle="tab"> {{role_attribute.attribute}} <span class="badge badge-success" id="badge_{{role_attribute.attribute_id}}"></span></a>
							</li>
							{% endfor %}
						</ul>
						
						
						<div class="tab-content" id="tab_content" style="margin-top: 15px;width: 100%;" >
							<input type="text" placeholder="Search Globally" class="form-control" id="global-search" onkeyup="searchGlobally()" style="width: 25% !important; margin-left: 75%;">

							{% for role_attribute in role_attributes %}
							<div role="tabpanel" class="tab-pane {% if forloop.counter == 1  %} active {% endif %}" id="tab_content{{role_attribute.attribute_id}}">
								
								{% include 'role-permission/role-management/attribute-controls/2.html' with attribute=role_attribute %}

							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</div>

<script>
	
	function updateRoleAttributes(){
		showLoader();
		$.ajax({
			url: "{% url 'src:update-role-attributes' %}",
			method: 'POST',
			data: $('#saveRoleAttribute').serialize(),
			success: function (data) {
				return false;
				hideLoader();
				if(data.flag){
					$("#addPermissionModal").show();
					$('#addPermissionModal').html(data);
					
					openToaster("success", data.message);
				}else{
					openToaster("danger", data.message);
				}
			},
			error: function (err) {
				hideLoader();
				console.log(err)
			}
		}).always(function() {
			hideLoader();
		});
	}
	
	
	//2nd tab
	$(document).on('click',"input[name='2[]']",function(){
		unchecked = [];
		$("input[name='2[]'").each(function(){
			if(!$(this).prop('checked')){
				unchecked.push($(this).val());
			}else{
				
			}
		})
		$('#optional_2').val(unchecked.join());
	});
	
	$(document).on('click',"input[name='hidden_attr_2[]']",function(){
		unchecked = [];
		$("input[name='hidden_attr_2[]'").each(function(){
			if(!$(this).prop('checked')){
				unchecked.push($(this).val());
			}
		})
		$('#hidden_2').val(unchecked.join());
	});
	
	$(document).on('click','.check_optional_field:visible',function(){
		attribute_id = $('.check_optional_field:visible').val();
		
		if($('.check_optional_field:visible').prop('checked')){
			disabled = [];
			$("input[name='"+attribute_id+"[]").each(function(){
				if($(this).prop('disabled')){
					if($(this).prop('checked')){
						$(this).prop('checked',true);
					}else{
						$(this).prop('checked',false);
					}
					disabled.push($(this).val());
				}else{
					$(this).prop('checked',true);
				}
			})
			$('#optional_'+attribute_id).val(disabled.join());
			
		}else{
			checked = [];
			$("input[name='"+attribute_id+"[]").each(function(){
				if($(this).prop('disabled')){
					if($(this).prop('checked')){
						$(this).prop('checked',true);
					}else{
						$(this).prop('checked',false);
					}
					checked.push($(this).val());
				}else{
					checked.push($(this).val());
					$(this).prop('checked',false);
				}
			})
			$('#optional_'+attribute_id).val(checked.join());
		}
		
		
	});
	
	
	$(document).ready(function() {
		
		
		
		
		//checkIfAllChecked();
		
		$('#role_attribute_id').on('select2:unselect', function(e) {
			unselected_id = e.params.data.id; 
			console.log(unselected_id);
			
			$('#tab'+unselected_id).remove();
			$('#tab_content'+unselected_id).remove();
			
		})
		$('#role_attribute_id').on('select2:select', function(e) {
			
			showLoader();
			selected_id = e.params.data.id; 
			selected_text = e.params.data.text; 
			
			url = "{% url 'src:role-type-attribute-controls' '1'  %}";
			url = url.replace('1',selected_id)
			
			$.ajax({
				url: url,
				type: 'GET',
				success:function(data){
					//console.log(data);
					var nextTab = $('#tabs li').size()+1;
					$('<li id="tab'+selected_id+'"><a href="#tab_content'+selected_id+'" data-toggle="tab">'+selected_text+' <span class="badge badge-success" id="badge_'+selected_id+'"></span></a></li>').appendTo('#tabs');
					$('<div class="tab-pane" id="tab_content'+selected_id+'">'+data+'</div>').appendTo('#tab_content');
					//$('#tabs a:last').tab('show');	
					hideLoader();
					
					setTimeout(function() {
						
						window['table_'+selected_id] = $('#table_'+selected_id).DataTable( {
							"paging":   false,
							"ordering": false,
							"info":     false,
							mark: true,
							scrollY:        '50vh',
							scrollCollapse: true,
							paging:         false,
							fixedHeader: {
								header: true,
							}
						} );
						
						searchGlobally();
						
						
					}, 1000);
					
					
					//checkIfAllChecked();
					
				}
			});
			
		})
	});
	
	$(document).ready(function() {
		$("#role_attribute_id").select2({
			multiple: true,
		});
		
		
	})
	
	function searchGlobally(){
		global_search = $("#global-search").val();
		 console.log(global_search);
		if(global_search != ""){
			
			if($('#table_2').length){
				window.table_2.search(global_search).draw(); 
				var info_2 = window.table_2.page.info();
				$('#badge_2').text(info_2.recordsDisplay);
			}
			if($('#table_3').length){
				window.table_3.search(global_search).draw();
				var info_3 = window.table_3.page.info();
				$('#badge_3').text(info_3.recordsDisplay);
			}
			if($('#table_4').length){
				window.table_4.search(global_search).draw();
				var info_4 = window.table_4.page.info();
				$('#badge_4').text(info_4.recordsDisplay);
			}
			if($('#table_5').length){
				window.table_5.search(global_search).draw();
				var info_5 = window.table_5.page.info();
				$('#badge_5').text(info_5.recordsDisplay);
			}
			if($('#table_6').length){
				window.table_6.search(global_search).draw();
				var info_6 = window.table_6.page.info();
				$('#badge_6').text(info_6.recordsDisplay);
			}
			if($('#table_7').length){
				window.table_7.search(global_search).draw();
				var info_7 = window.table_7.page.info();
				$('#badge_7').text(info_7.recordsDisplay);
			}
			if($('#table_8').length){
				window.table_8.search(global_search).draw();  
				var info_8 = window.table_8.page.info();
				$('#badge_8').text(info_8.recordsDisplay);
			}
		}else{
			$('input[type="search"]').val('');
			
			window.table_2.search('').draw();
			window.table_3.search('').draw();
			window.table_4.search('').draw();
			window.table_5.search('').draw();
			window.table_6.search('').draw();
			window.table_7.search('').draw();
			window.table_8.search('').draw();
			
			$('#badge_2').text('');
			$('#badge_3').text('');
			$('#badge_4').text('');
			$('#badge_5').text('');
			$('#badge_6').text('');
			$('#badge_7').text('');
			$('#badge_8').text('');
		}
		
	}
</script>






