{% extends 'layout/layout.html' %}

{% load helper_tags %}

{% block content %}

{% load static %}

<div class="row" id="containerHeight">
    <div class="col-md-12 pr-md-0 h-100">
        <div class="primaryContainer h-100" id="mainbox">
            <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="pofo-rich-snippet display-none"><h3 class="text-center"><b>Privacy policy</b></h3>
          </div>
          <div class="entry-content">
            <section
              class="vc_row wpb_row vc_row-fluid  vc_custom_1510651119539 wow none pofo-row-responsive-5e945e388ceef">
              <div class="wpb_column vc_column_container vc_col-sm-12  col-xs-mobile-fullwidth">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <div class="last-paragraph-no-margin">
                      <p><strong>Kanha Milk Testing Equipments Private Limited</strong>&nbsp;(&ldquo;we,&rdquo; &ldquo;us,&rdquo; or
                        &ldquo;Company&rdquo;) is committed to maintaining the privacy and security of your personal
                        information. This Privacy Policy outlines how we collect, use, and safeguard the information
                        collected through our Kanha Employee mobile app (&ldquo;App&rdquo;) when tracking employees during
                        office hours for legitimate company purposes.</p>

                      <p><strong>Information We Collect</strong><br />
                        <strong>We may collect the following types of information when you use our App:</strong><br />
                        Device Information: We may collect device-specific information such as your device type,
                        operating system version, and unique device identifiers for the purpose of ensuring
                        compatibility and optimizing user experience.
                      </p>

                      <p>We collect the following information from children:</p>

                      <ul>
                        <li>
                          <p><strong>User-Provided Information:</strong> We may collect personal information such as
                            name, age, and email address when you create an account or interact with our services.</p>
                        </li>
                        <li>
                          <p><strong>Automatically Collected Information:</strong> We collect technical information,
                            like device type, IP address, and browsing history when you use our website or app.</p>
                        </li>
                      </ul>

                      <p><strong>Location Information:</strong>&nbsp;During office hours, we may collect your precise
                        location information to track your presence within company premises. This data is collected
                        solely for company purposes and will not be used for any other reason.<br />
                        <br />
                        <strong>Usage Information:</strong>&nbsp;We may collect information about how you interact with
                        the App, including the features you use and the time spent on each feature. This helps us
                        improve the App&rsquo;s functionality and user experience.<br />
                        How We Use Collected Information
                      </p>

                      <p><strong>We use the information collected through the App for the following
                          purposes:</strong><br />
                        <strong>Employee Tracking:</strong>&nbsp;The location data collected during office hours is used
                        to monitor employee presence within company working hours, ensure security, and facilitate
                        efficient resource allocation.
                      </p>

                      <p><strong>App Improvement:</strong>&nbsp;Usage data helps us analyze how the App is being used,
                        identify areas for improvement, and enhance its features.</p>

                      <p><strong>Data Sharing</strong><br />
                        We do not share, sell, or rent your personal information to third parties for marketing
                        purposes. However, we may share the collected information with trusted service providers and
                        partners who assist us in delivering and improving our App. All data sharing is conducted in
                        accordance with applicable laws and regulations.</p>

                      <p><strong>Data Security</strong><br />
                        We take reasonable measures to protect the information collected through the App from
                        unauthorized access, disclosure, alteration, or destruction. However, no method of data
                        transmission over the Internet or method of electronic storage is completely secure, and we
                        cannot guarantee absolute security.</p>

                      <p><strong>To provide our services and personalize your experience.</strong></p>

                      <p><strong>To improve our website or app.</strong></p>

                      <p><strong>To send important updates and notifications.</strong></p>

                      <p><strong>To respond to user inquiries and requests.</strong></p>

                      <p><strong>Your Choices</strong><br />
                        You can choose not to provide certain information or disable location services on your device,
                        but this may impact the functionality and features of the App.</p>

                      <p><strong>Parental Consent:</strong></p>

                      <p>If you are under 13 years old, please ask your parent or legal guardian to review this Privacy
                        Policy and provide their consent before using our website or app.</p>

                      <p><br />
                        <strong>Changes to this Privacy Policy</strong><br />
                        We may update this Privacy Policy from time to time to reflect changes in our practices or legal
                        requirements. We will notify you of any significant changes through the App or other means.
                      </p>

                      <p><strong>Contact Us</strong><br />
                        If you have any questions, concerns, or requests related to your privacy or this Privacy Policy,
                        please contact us at<br />
                        <strong>By eMail :</strong>&nbsp;<a
                          href="mailto:info@kanhainstruments.com">info@kanhainstruments.com</a>&nbsp;<strong>By Phone
                          :</strong>&nbsp;+91956897467
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
        </div>
    </div>       
</div>

{% endblock %}