{% load static %}
<div class="modal-AddOrganisation centered">
    <div class="modal-body p-0">
        <div class="row">
            <div class="col-md-3 p-md-0" style="background-repeat: no-repeat;text-align: center;background-color: #0073e0;background-position: bottom left;background-size: 80%;">
                <div class="transformImage">
                    <img src="{% static 'img/svg/master/salaryAdd.svg' %}" class="w-50" />
                    <h4 class="modalColHead">Edit Salary Addition Type</h4>
                </div>
            </div>
            
            <div class="col-md-9 p-md-4">
                <form id="updateForm" method="POST" autocomplete="off" action="" aria-label="Salary Addition Type">
                    {% csrf_token %}
                    <input type="hidden" name="salary_addition_type_id" value="{{salary_addition_type.id}}">
                    <div class="row">
                        <div class="col-md-6">
                            <h5><b>Salary Addition Type details </b></h5>
                        </div>
                        <div class="col-md-6 p-md-0">
                            <button class="btn btn-save float-right" type="button" onclick="updateSalaryAdditionType()">
                                Update
                            </button>
                            <button class="btn btn-close float-right" type="button"
                            onclick="manipulateModal('addProductModal','close')">
                            Close
                        </button>
                    </div>
                </div>
                
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Addition Type</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <input class="inputField alpha" type="text" value="{{salary_addition_type.addition}}" placeholder="Addition Type*" name="addition" maxlength="50" />
                        <label class="error_msg float-right"></label>
                    </div>
                </div>
                
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Addition Basis</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <select class="inputField selectField"  style="width: 100%;"  name="addition_basis" onchange="handleBasisSelect(this.value)">
                            <option value="fixed" {% if 'fixed' == salary_addition_type.addition_basis %}selected{% endif %}>Fixed</option>
                            <option value="percent" {% if 'percent' == salary_addition_type.addition_basis %}selected{% endif %}>Percentage</option>
                        </select>
                        <label class="error_msg float-right"></label>
                    </div>
                </div>
                
                <div class="row mt-md-3" id="addition_percent_on_section" style="display: {% if 'percent' == salary_addition_type.addition_basis %}block{% else %}none{% endif %};">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Percentage on</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <select class="inputField selectField"  style="width: 100%;"  name="addition_percent_on">
                            <option value="pay_scale" {% if 'pay_scale' == salary_addition_type.addition_percent_on %}selected{% endif %}>Pay Band</option>
                        </select>
                        <label class="error_msg float-right"></label>
                    </div>
                </div>
                
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b id="addition_amount_text">Amount</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <input class="inputField numeric" type="text" value="{{salary_addition_type.addition_amount}}" placeholder="Amount*" name="addition_amount" maxlength="50" />
                        <label class="error_msg float-right"></label>
                    </div>
                </div>
                
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Duration limit</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <select class="inputField selectField"  style="width: 100%;"  name="addition_limit">
                            <option value="0" {% if 0 == salary_addition_type.addition_limit|add:"0" %}selected{% endif %}>1 Time</option>
                            <option value="1" {% if 1 == salary_addition_type.addition_limit|add:"0" %}selected{% endif %}>1 Month</option>
                            <option value="2" {% if 2 == salary_addition_type.addition_limit|add:"0" %}selected{% endif %}>2 Month</option>
                            <option value="3" {% if 3 == salary_addition_type.addition_limit|add:"0" %}selected{% endif %}>3 Month</option>
                            <option value="4" {% if 4 == salary_addition_type.addition_limit|add:"0" %}selected{% endif %}>4 Month</option>
                            <option value="5" {% if 5 == salary_addition_type.addition_limit|add:"0" %}selected{% endif %}>5 Month</option>
                            <option value="6" {% if 6 == salary_addition_type.addition_limit|add:"0" %}selected{% endif %}>6 Month</option>
                            <option value="7" {% if 7 == salary_addition_type.addition_limit|add:"0" %}selected{% endif %}>7 Month</option>
                            <option value="8" {% if 8 == salary_addition_type.addition_limit|add:"0" %}selected{% endif %}>8 Month</option>
                            <option value="9" {% if 9 == salary_addition_type.addition_limit|add:"0" %}selected{% endif %}>9 Month</option>
                            <option value="10" {% if 10 == salary_addition_type.addition_limit|add:"0" %}selected{% endif %}>10 Month</option>
                            <option value="11" {% if 11 == salary_addition_type.addition_limit|add:"0" %}selected{% endif %}>11 Month</option>
                            <option value="12" {% if 12 == salary_addition_type.addition_limit|add:"0" %}selected{% endif %}>12 Month</option>
                            <option value="-1" {% if 1 == salary_addition_type.addition_limit|add:"0" %}selected{% endif %}>Permanent</option>
                        </select>
                        <label class="error_msg float-right"></label>
                    </div>
                </div>
                
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Upper Limit</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <input class="inputField numeric" type="text" value="{{salary_addition_type.addition_upper_limit}}" placeholder="Amount*" name="addition_upper_limit" maxlength="50" />
                        <label class="error_msg float-right"></label>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>
</div>

<script>

function handleBasisSelect(value){
        if(value == "percent"){
            $('#addition_percent_on_section').show();
            $('#addition_amount_text').text('Percent');
            $('[name="addition_amount"]').attr('placeholder','Percent');
        }else{
            $('#addition_percent_on_section').hide();
            $('#addition_amount_text').text('Amount');
            $('[name="addition_amount"]').attr('placeholder','Amount');
            
        }
    }

   var salary_addition_type_id = '{{salary_addition_type.id}}';
    function updateSalaryAdditionType() {
        showLoader();
        if(validateForm()){
            hideLoader();
            return false;
        }else{
            url = "{% url 'src:edit-salary-addition-type' '1' %}";
            url = url.replace('1',salary_addition_type_id);
            $.ajax({
                url: url,
                method: 'POST',
                data: $('#updateForm').serialize(),
                success: function (data) {
                    hideLoader();
                    if(data.flag){
                        $("#addProductModal").html('');
                        $("#addProductModal").hide();
                        getList('salary_addition_types');
                        openToaster("success", data.message);
                    }else{
                        openToaster("danger", data.message);
                    }
                },
                error: function (err) {
                    hideLoader();
                    console.log(err)
                }
            }).always(function() {
                // hideLoader();
            });
        } 
    }
    
    
    function validateForm(){
        error = 0;
        $('.error_msg ').text('');
        $('.inputField').css("border", "");
        
        if($.trim($('[name="addition"]').val()) == ""){
            $('[name="addition"]').parent().find('.error_msg').text('Please enter addition type');
            $('[name="addition"]').css("border", "1px solid #db8305");
            error = error + 1;
        }
        
        if($.trim($('[name="addition_amount"]').val()) == ""){
            $('[name="addition_amount"]').parent().find('.error_msg').text('Please enter amount/percent');
            $('[name="addition_amount"]').css("border", "1px solid #db8305");
            error = error + 1;
        }
        
        if($('[name="addition_basis"]').val() == "percent"){
            if($.trim($('[name="addition_percent_on"]').val()) == ""){
                $('[name="addition_percent_on"]').parent().find('.error_msg').text('Please select');
                $('[name="addition_percent_on"]').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
                error = error + 1;
            } 
        }
        
        if($.trim($('[name="addition_upper_limit"]').val()) == ""){
            $('[name="addition_upper_limit"]').parent().find('.error_msg').text('Please enter upper limit');
            $('[name="addition_upper_limit"]').css("border", "1px solid #db8305");
            error = error + 1;
        }
        
        if(error > 0){
            return true;
        }else{
            return false;
        }
    }
    
    
</script>