{% extends 'layout/layout.html' %}

{% block title %}
{{page_title}}
{% endblock %}

{% load helper_tags %}

{% block content %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/tablesorter.theme.blue.min.css' %}">
<link rel="stylesheet" href="src/styles.css" />
<style>

    #ui-datepicker-div{
        z-index: 999 !important;
    }
    .sunday{
        background-color:#fd8823;
        border-radius: 1.5px;
        vertical-align: middle;
        padding: 0.3em 0.6em 0.3em;
        margin-top: 2%;
        text-align: center;
    }
    .holiday{
        background-color:#c7fd2370;
        border-radius: 1.5px;
        vertical-align: middle;
        padding: 0.3em 0.6em 0.3em;
        margin-top: 2%;
        text-align: center;
    }
    .present{
        background-color:#7EC857;
        border-radius: 1.5px;
        vertical-align: middle;
        padding: 0.3em 0.6em 0.3em;
        margin-top: 2%;
        text-align: center;
    }
    .absent{
        background-color:#FF4859; 
        border-radius: 1.5px; 
        vertical-align: middle; 
        padding: 0.3em 0.6em 0.3em; 
        margin-top: 2%; 
        text-align: center;
    }

    .fixed{
        position : fixed;
        top:0;left:0;
        width:100;
    }



</style>
{% endblock %}


<div class="row" id="containerHeight">
    <div class="col-md-12 pr-md-0 h-100">
        <div class="primaryContainer h-100" id="mainbox">
            {% csrf_token %}
            <div class="row mb-2" id="topRow">
                <div class="col-md-4 p-md-0">
                    <h1 class="page-main-heading">{{page_title}}</b><span class="mx-3 fa fa-star add_to_fav {% checkedFavorite page_title request.get_full_path %}" onclick="updateFavorite(this,'{{page_title}}','{{ request.get_full_path }}')"></span></h1>
                </div>
                <div class="col-md-8 p-md-0">
                    
                    
                </div>
            </div>


            <div class="row py-2" style="width: 100%;">
                <div class="col-md-12 px-0">
                        <input type="hidden" name="check" value="{{check}}">
                    <div class="row mb-2" id="secondRow"> 
                        <!-- <div class="col-md-3 pl-0 pr-1">   
                            <select class="selectField" style="width:100%;" multiple data-live-search="true"  name="course[]" id="course" data-placeholder="Select branch" onchange="checked();">
                                <option value="all" selected>All Branch</option>
                                {% for branch in branch %}
                                <option value="{{branch.id}}">{{branch.abbr|safe}}</option>>
                                {% endfor %}
                            </select>
                            <label class="error_msg float-right" id=""></label>  
                        </div> -->
                        <div class="col-md-4 px-0 pl-0 pr-1" style="float: left;">   
                            <select class="selectField" style="width:70%;" multiple data-live-search="true" name="filter_sem[]" id="filter_sem" data-placeholder="Select semester" onchange="checked1();" >
                                <option value="all" selected>All Semester</option>
                                {% for semester in semester1 %}
                                <option value="{{semester.semester_id}}">{{semester.sem_name}}</option>
                                {% endfor %}
                            </select>
                            <label class="error_msg float-right" id=""></label>  
                        </div>

                        <div class="offset-5 col-md-1" style ="padding:0 5px;"> 
                            <input id="from_date" name="from_date" class="searchTable w-100 " placeholder="Date From" value="{{from_date}}" onchange="filterRegistration()" type="text" readonly >
                            <label class="error_msg float-right" id="address_error"></label>
                        </div>

                        <div class="col-md-1" style ="padding:0 5px;">
                            <input id="to_date" name="to_date" class="searchTable w-100 " placeholder="Date To" value="{{to_date}}" onchange="filterRegistration()" type="text" readonly >
                            <label class="error_msg float-right" id="address_error"></label>
                        </div>

                        <div class="dropdown float-right col-md-1 ">
                            <button class="btn iconBox iconExport " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
                        
                            <div class="dropdown-menu dropdown-menu-right logoutContainer" aria-labelledby="dropdownMenuButton">
                                <input type="hidden" name="show_columns" id="show_columns" value="" >
                                <a class="dropdown-item"  onclick="exportsInExcel()" href="javascript:void(0)">Export Attendance Report 
                                    <img src="{% static 'img/svg/XLS.svg' %}" class="logoutIcons ml-1" /> 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>

            <div class="row" id="secondRow" style="width: 100%;">
                <div class="col-md-12 bg-white pt-3" id = "attendanceView">
                    <!-- <h1 class="h4 font-weight-bold d-flex justify-content-center">Registration Stats</h1>
                    <table id="" class="detail-table table table-borderless table-striped table-hover mt-0" style="width: 100%;">
                        <thead>
                            <tr>
                                <th class="table_student_name" id="">
                                    Annotation
                                    <i class="fa fa-fw fa-sort float-right"></i>
                                    <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                                    <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                                </th>
                                <th class="table_student_name" id="table_father_name">
                                    Number of Students
                                    <i class="fa fa-fw fa-sort float-right"></i>
                                    <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                                    <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tablebody">

                            <tr id="reg_list" class="odd selected" onclick="getRegistrationZone('0','Registered Students');">
                                <td class="table_student_name">
                                    <div class="row">
                                        <span class="col-sm-10 col-10 pl-0 pr-2">Registered Students</span> 
                                    </div>
                                </td>
                                <td id="total_registered" class="table_father_name">{{total_registered}}</td>
                            </tr>

                            <tr class="" onclick="getRegistrationZone('1','Unregistered Students');">
                                <td class="table_student_name">
                                    <div class="row">
                                        <span class="col-sm-10 col-10 pl-0 pr-2">Unregistered Students</span> 
                                    </div>
                                </td>
                                <td id="total_unregistered" class="table_father_name">{{total_unregistered}}</td>
                            </tr>

                            <tr class="odd" onclick="getRegistrationZone('2','Today Registration');">
                                <td class="table_student_name">
                                    <div class="row">
                                        <span class="col-sm-10 col-10 pl-0 pr-2">Today's Registration</span> 
                                    </div>
                                </td>
                                <td id="today_registered" class="table_father_name">{{today_registered}}</td>
                            </tr>

                        </tbody>
                    </table> -->
                    <h1 class="h4 font-weight-bold d-flex justify-content-center">Daily Attendance Report</h1>
                    <table id="attendanceZoneTable" class="w-100 detail-table table table-borderless table-striped table-hover mt-0" style="width: 100%!important;">
                        <thead>
                            <tr>
                                <th class="table_student_name" id="table_student_name">
                                    S.No
                                    <i class="fa fa-fw fa-sort float-right"></i>
                                    <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                                    <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                                </th>
                                <th class="table_student_name" id="table_father_name">
                                    Branch
                                    <i class="fa fa-fw fa-sort float-right"></i>
                                    <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                                    <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                                </th>
                                <th class="table_college" id="table_college">
                                    Registered Students
                                    <i class="fa fa-fw fa-sort float-right"></i>
                                    <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                                    <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                                </th>
                                <th class="table_college" id="table_college" >
                                    0%
                                    <i class="fa fa-fw fa-sort float-right"></i>
                                    <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                                    <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                                </th>
                                <th class="table_college" id="table_college">
                                    0-30%
                                    <i class="fa fa-fw fa-sort float-right"></i>
                                    <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                                    <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                                </th>
                                <th class="table_college" id="table_college">
                                    31-50%
                                    <i class="fa fa-fw fa-sort float-right"></i>
                                    <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                                    <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                                </th>
                                <th class="table_college" id="table_college" >
                                    51-80%
                                    <i class="fa fa-fw fa-sort float-right"></i>
                                    <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                                    <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                                </th>
                                <th class="table_college" id="table_college" >
                                    81-90%
                                    <i class="fa fa-fw fa-sort float-right"></i>
                                    <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                                    <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                                </th>
                                <th class="table_college" id="table_college" >
                                    90%+
                                    <i class="fa fa-fw fa-sort float-right"></i>
                                    <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                                    <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                                </th>
                                <th class="table_college" id="table_college" >
                                    Never Attended
                                    <i class="fa fa-fw fa-sort float-right"></i>
                                    <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                                    <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tablebody">
                               
                                {% if response %}
                                {% for response in response %}

                            <tr {% if forloop.first %}
                                class="odd selected"
                                {% else %}
                                class="odd"
                                {% endif %} >

                                <td class="table_student_name" onclick="getAttendanceReport('1', 'Registered Students', {{response.branch_id}});">
                                    <div class="row">
                                        <span class="col-sm-10 col-10 pl-0 pr-2">{{forloop.counter}}</span> 
                                    </div>
                                </td>

                                <td class="table_father_name" id="reg_list" onclick="getAttendanceReport('1', 'Registered Students', {{response.branch_id}});">
                                    {{response.branch}} 
                                </td>
                                <td class="table_father_name"  onclick="getAttendanceReport('1', 'Registered Students', {{response.branch_id}});">
                                    {{response.registered}}
                                </td>
                                <td class="table_college"  onclick="getAttendanceReport('3', 'First time(0%)', {{response.branch_id}});">
                                    {{response.first}}({{response.first_percent}})
                                </td>
                                <td class="table_college" onclick="getAttendanceReport('4', 'Very Poor(0-30%)', {{response.branch_id}});">
                                    {{response.very_poor}}( {{response.very_poor_percent}})
                                </td>
                                <td class="table_college" onclick="getAttendanceReport('5', 'Poor(31-50%)', {{response.branch_id}});">
                                    {{response.poor}}({{response.poor_percent}})
                                </td>
                                <td class="table_college" onclick="getAttendanceReport('6', 'Moderate(51-80%)', {{response.branch_id}});">
                                    {{response.moderate}}({{response.moderate_percent}})
                                </td>
                                <td class="table_college" onclick="getAttendanceReport('7', 'Good(81-90%)', {{response.branch_id}});">
                                    {{response.good}}({{response.good_percent}})
                                </td>

                                <td class="table_college" onclick="getAttendanceReport('8', 'Excellent(90%)', {{response.branch_id}});">
                                    {{response.excellent}}({{response.excellent_percent}})
                                </td>
                                <td class="table_college" onclick="getAttendanceReport('9', 'Never Attended',{{response.branch_id}});">
                                    {{response.zero}}({{response.zero_percent}})
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="6" style="text-align: center;">No Record Found...</td>
                        </tr>
                        {% endif %}

                        </tbody> 
                    </table>
                </div>

            </div>

            <div class="row" id="secondRow" style="width: 100%;">
            <div class="col-md-12 px-0" id ='studentView'>
                <div class="primaryContainer h-100" id="mainbox">   
                <div class="row" id="tableBox" >
                    <div class="col-md-12 primaryContainerBG p-0  commonTableBg" id="ajax-div" style="height: 75vh;">
                        <input type="hidden" name="page" id="page" value="2" />
                        <input type="hidden" name="page_status" id="page_status" value="0" />
                        <input type="hidden" name="total_pages" id="total_pages" value="{{ total_pages }}" />
                    <table id="addOrgTable" class="detail-table table table-borderless table-striped table-hover mt-0">
                        <thead id ="tbl_head" style="background-color:  #F5F5F5; z-index:1">
                            <tr class="tablesorter-stickyHeader" style="position: sticky; top:0">
                                <th class="s_no" id="s_no">
                                    S.No
                                    <i class="fa fa-fw fa-sort float-right"></i>
                                    <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                                    <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                                </th>
                                <th class="name" id="name">
                                    Name
                                    <i class="fa fa-fw fa-sort float-right"></i>
                                    <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                                    <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                                </th>
                                <th class="regs_no" id="regs_no">
                                    Registration number
                                    <i class="fa fa-fw fa-sort float-right"></i>
                                    <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                                    <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                                </th>
                                <th class="branch" id="branch">
                                    Branch
                                    <i class="fa fa-fw fa-sort float-right"></i>
                                    <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                                    <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                                </th>
                                <th class="semester" id="semester">
                                    Semester
                                    <i class="fa fa-fw fa-sort float-right"></i>
                                    <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                                    <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                                </th>
                            </tr>
                        </thead>
                        <tbody id="registrationDetails" >
                            {% if registered_student1 %}
                            {% for regs in registered_student1 %}
                            <tr  {% if forloop.first %} class="odd selected" {% endif %}>
                                <td class="table_student_name" >
                                        <span class="col-sm-10 col-10 pl-0 pr-2">{{forloop.counter}}</span> 
                                </td>
                                <td class="first_name">
                                    <span class="mr-2">{{regs.full_name}}</span>
                                </td>
                                <td class="regs_no">
                                    {{regs.reg_no}}
                                </td>
                                {% comment %} {% for attendance in attendance %}
                                {% if   regs.id ==  attendance.student_id %}
                                <td class="table_course" >
                                {{attendance.start_datetime}}
                                </td>
                                <td class="table_course">
                                {{attendance.end_datetime}}
                                </td>
                                 {% endif %}
                                {% endfor %}  {% endcomment %}


                                {% for branch  in branch %}
                                {% if regs.branch_id == branch.id|slugify %}
                                <td class="branch">
                                    <span class="col-sm-10 col-10 pl-0 pr-2">
                                        {{branch.abbr}}
                                    </span>
                                </td>
                                {% endif %}
                                {% endfor %}

                                {% for semester in semester %}
                                {% if regs.semester_id == semester.semester_id %}
                                <td class="semester" >
                                    <span class="col-sm-10 col-10 pl-0 pr-2">
                                        {{semester.sem_name}}
                                    </span>
                                </td>
                                {% endif %}
                                {% endfor %}        
                        </tr>
                        {% endfor %}
                        <tr id="loading" style="display: none;">
                            <td class="text-center" colspan="6"><i class="fa fa-spinner fa-spin" style="font-size:2rem"></i>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="6" style="text-align: center;">No Record Found...</td>
                        </tr>
                        {% endif %}
                    </tbody> 
                </table>
            </div>
        </div>
        </div>
        </div> 
    </div>



        </div>
    </div>
</div>

{% endblock content %}

{% block script %}

<script>
    $(document).ready(function () {
        $("#reg_list").click()
        
    })

    function filterStudentAttendance(){
        if($('#to_date').val() || $('#from_date').val()){
            var loading_html =`<tr id="loading" style="display: none;">
                <td class="text-center" colspan="8"><i class="fa fa-spinner fa-spin" style="font-size:2rem"></i>
                </td>
            </tr>`;
            
            $('#attendanceZoneTable').html(loading_html)
            $('#loading').show();

            var college_id = 1;
            var from_date = $('#from_date').val();
            var to_date = $('#to_date').val();
            var branch = $('[name="course[]"]').val();
            var semester = $('[name="filter_sem[]"]').val();
            $.ajax({
                url: "{% url 'src:attendance/ajax-attendance-stats' %}",
                method: 'POST',
                data: {
                    from_date:from_date,
                    to_date:to_date,
                    branch:branch,
                    semester:semester,
                    college_id:college_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {
                    // $('body').html('');
                    hideLoader();
                    // $('html').html('');
                    $('#attendanceView').html(data);
                },
                error: function (err) {
                    alert(err.message);
                }
            });
        }
    }
 
    function getRegistrationZone(check,table_head){
        var loading_html =`<tr id="loading" style="display: none;">
            <td class="text-center" colspan="8"><i class="fa fa-spinner fa-spin" style="font-size:2rem"></i>
            </td>
        </tr>`;
        $('#registrationDetails').html(loading_html);
        $('#loading').show();
        
        var college_id = 1;
        var from_date = $('#from_date').val();
        var to_date = $('#to_date').val();
        var branch = $('[name="course[]"]').val();
        var semester = $('[name="filter_sem[]"]').val();
        $.ajax({
            url: "{% url 'src:attendance/get-register-zone' %}",
            method: 'GET',
            data: {
                from_date:from_date,
                to_date:to_date,
                branch:branch,
                semester:semester,
                // college_id:college_id,
                college_id:college_id,
                check:check,
                table_head:table_head
            },
            success: function (data) {
                hideLoader();
                $('#ajax-div').html(data);
                
                $('#addOrgTable').tablesorter({
                    widgets: ["zebra", "filter", "resizable", "stickyHeaders"],
                    widgetOptions: {
                        resizable_addLastColumn: true,
                        resizable: true,
                        //resizable_widths: ["13%","20%","27%","20%","20%"],
                        stickyHeaders_attachTo: ".sticky_section",
                        filter_external: '.search',
                        filter_columnFilters: false,
                        stickyHeaders_addResizeEvent : true,
                        stickyHeaders: "tablesorter-stickyHeader",
                    }
                });
                $("#registrationDetails tbody tr").click(function () {
                    $(this).addClass("selected").siblings().removeClass("selected");
                });
                
                $(".primaryContainerBG").scroll(function () {
                    var divTable = $(".primaryContainerBG");
                    $(".frezedCell").css("left", 0 + divTable.scrollLeft());
                });
                
            },
            error: function (err) {
                alert(err.message);
            }
        });
    }




    function getAttendanceReport(check, table_head, branch_id){
        var loading_html =`<tr id="loading" style="display: none;">
            <td class="text-center" colspan="8"><i class="fa fa-spinner fa-spin" style="font-size:2rem"></i>
            </td>
        </tr>`;
        $('#registrationDetails').html(loading_html);
        $('#loading').show();
        
        var college_id = 1;
        var from_date = $('#from_date').val();
        var to_date  = $('#to_date').val();
        //var branch   = $('[name="course[]"]').val();
        var semester = $('[name="filter_sem[]"]').val();
        console.log("Branch ID: ", branch_id)
        $.ajax({
            url: "{% url 'src:attendance/get-attendance-report' %}",
            method: 'GET',
            data: {
                from_date:from_date,
                to_date:to_date,
                branch_id:branch_id,
                semester:semester,
                college_id:college_id,
                check:check,
                table_head: table_head
                //csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (data) {
                hideLoader();
                $('#ajax-div').html(data);
                
                $('#addOrgTable').tablesorter({
                    widgets: ["zebra", "filter", "resizable", "stickyHeaders"],
                    widgetOptions: {
                        resizable_addLastColumn: true,
                        resizable: true,
                        resizable_widths: ["5%","5%","5%","5%","5%"],
                        stickyHeaders_attachTo: ".sticky_section",
                        stickyHeaders: "tablesorter-stickyHeader",
                        filter_external: '.search',
                        filter_columnFilters: false,
                        stickyHeaders_addResizeEvent : true,
                        
                    }
                });

                $("#attendanceZoneTable tbody tr").click(function () {
                    $(this).addClass("selected").siblings().removeClass("selected");
                });
                
                $(".primaryContainerBG").scroll(function () {
                    var divTable = $(".primaryContainerBG");
                    $(".frezedCell").css("left", 0 + divTable.scrollLeft());
                });
                
            },
            error: function (err) {
                alert(err.message);
            }
        });
    }
  
    function filterRegistration(){
        debugger;
        var loading_html =`<tr id="loading" style="display: none;">
        <td class="text-center" colspan="8"><i  class="fa fa-spinner fa-spin" style="font-size:2rem; "></i>
        </td>
        </tr>`;
        $('#attendanceView').html(loading_html);
        $('#loading').show();
        //showLoader();
       
        //var branch = $('[name="course[]"]').val();
        var semester = $('[name="filter_sem[]"]').val();
        var from_date = $('#from_date').val();
        var to_date = $('#to_date').val();

    
        $.ajax({
            url: "{% url 'src:attendance/ajax-attendance-report' %}",
            method: 'GET',
            data: {
                //branch:branch,
                semester:semester,
                // csrfmiddlewaretoken: '{{ csrf_token }}',
                from_date:from_date,
                to_date:to_date,
                college_id:1,
            },
            success: function (data) {
                hideLoader();
                $('#attendanceView').html(data); 
                // $('#attendanceView').html(data);
                $('#addOrgTable').tablesorter({
                    widgets: ["zebra", "filter", "resizable", "stickyHeaders"],
                    widgetOptions: {
                        resizable_addLastColumn: true,
                        resizable: true,
                        //resizable_widths: ["13%","20%","27%","20%","20%"],
                        stickyHeaders_attachTo: ".primaryContainerBG",
                        filter_external: '.search',
                        filter_columnFilters: false,
                        stickyHeaders_addResizeEvent : true,
                        stickyHeaders: "tablesorter-stickyHeader",
                    }
                });
                $("#attendanceView tbody tr").click(function () {
                    $(this).addClass("selected").siblings().removeClass("selected");
                });
                
                $(".primaryContainerBG").scroll(function () {
                    var divTable = $(".primaryContainerBG");
                    $(".frezedCell").css("left", 0 + divTable.scrollLeft());
                });
                
                $('#total_record').text('('+$('#total_filtered_record').val()+')');
                
            },
            error: function (err) {
                alert(err.message);
            }
        });
    }
   
    $(document).ready(function () {
        $("[name='from_date']").datepicker({  
            changeMonth: true,
            changeYear: true,  
            yearRange: "-2:+0",
            //minDate: '-1m',
            maxDate: 0,
            dateFormat: 'dd-mm-yy'
            // onSelect: function () {
            // validateDateRange();
            // } 
             
        });


        $("[name='to_date']").datepicker({  
            changeMonth: true,
            changeYear: true,  
            yearRange: "-2:+0",
            //minDate: '-1m',
            maxDate: 0,
            dateFormat: 'dd-mm-yy'
            // onSelect: function () {
            // validateDateRange();
            // } 
            
        });
    });

    function exportsInExcel(){
        debugger;
        console.log("Export Function hit")
        var from_date = $('#from_date').val();
        var to_date = $('#to_date').val();
        var semester = $('[name="filter_sem[]"]').val();
        semester = JSON.stringify(semester);
        var currentdate = new Date(); 
        var datetime = currentdate.getDate() + "-" + (currentdate.getMonth()+1)  + "-" + currentdate.getFullYear()
        var previousdate = new Date();
        var previousdatetime = currentdate.getDate() + "-" + (currentdate.getMonth())  + "-" + currentdate.getFullYear()
        url = "{% url 'src:attendance/export-attendance-report' 'from_date' 'to_date' 'semester'   %}"
        if(semester != ''){
            url = url.replace('semester',semester);
        }
        else{
            url=url.replace('semester',0);
        }

        if (from_date != ''){
            url = url.replace('from_date', from_date);
        }
        else {
            url = url.replace('from_date', previousdatetime);
        }
        //console.log("url:" ,url )
        if (to_date != ''){
            url = url.replace('to_date', to_date);
        }
        else {
            url = url.replace('to_date', datetime);
        }
        console.log("URL: ", url)
        window.location.href = url;      
    }

    function updateTableSorter(){
        $('#addOrgTable').tablesorter({
            widgets: ["zebra", "filter", "resizable", "stickyHeaders"],
            widgetOptions: {
                resizable_addLastColumn: true,
                resizable: true,
                //resizable_widths: ["15%","20%","25%","20%","20%"],
                filter_external: '.search',
                filter_columnFilters: false,
                stickyHeaders_addResizeEvent : true,
                stickyHeaders_attachTo: ".primaryContainerBG",
                stickyHeaders: "tablesorter-stickyHeader"
                
            }
        });
    }

    function checked1() {
        $("#filter_sem option[value='all']").remove();
        var options = $('#filter_sem > option:selected');
        if(options.length == 0){
            $("#filter_sem").append('<option value="all" selected>All Semester</option>');
            filterRegistration()
        }else{
            filterRegistration()
            }
        }

    
</script>


{% endblock %}



                            