{% load static %}

<input type="hidden" name="page" id="page" value="2" />
<input type="hidden" name="page_status" id="page_status" value="0" />
<input type="hidden" name="total_pages" id="total_pages" value="{{ total_pages }}" />
<input type="hidden" id="current_filter_date" value="{{ current_date }}" />
<input type="hidden" id="total_filtered_record" value="{{ total_record }}" />

<table id="addOrgTable" class="detail-table table table-borderless table-striped table-hover mt-0"
style="width: 100%;">
<thead>
    <tr>
        <!-- <th class="table_student_id" id="table_student_id">
            ID
            <i class="fa fa-fw fa-sort float-right"></i>
            <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
            <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
        </th> -->
        
        <th class="table_student_name" id="table_student_name">
            Student Name
            <i class="fa fa-fw fa-sort float-right"></i>
            <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
            <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
        </th>
        <th class="table_phone_no" id="table_phone_no">Phone No.<i class="fa fa-fw fa-sort float-right"></i>
            <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
            <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
        </th>
        <th class="table_mentor_name" id="table_mentor_name">
            Mentor
            <i class="fa fa-fw fa-sort float-right"></i>
            <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
            <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
        </th>
        <th class="table_college" id="table_college">College<i
            class="fa fa-fw fa-sort float-right"></i>
            <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
            <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
        </th>
        <th class="table_course" id="table_course">Course<i
            class="fa fa-fw fa-sort float-right"></i>
            <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
            <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
        </th>
        
        <th class="table_punch_in">IN TIME<i class="fa fa-fw fa-sort float-right"></i>
            <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
            <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze"></th>
        <th class="table_punch_out">OUT TIME<i class="fa fa-fw fa-sort float-right"></i>
            <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
            <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze"></th>
    </tr>
</thead>
<tbody id="tablebody">
    {% if students %}
    {% for student in students %}
    <tr  {% if forloop.first %} class="odd selected" {% endif %}>
        <td class="table_student_name" onclick="getStudentAttendanceDetail('{{ student.id }}')">
            <div class="row">
                <span class="col-sm-10 col-10 pl-0 pr-2"> {{ student.first_name | title }} {% if student.middle_name is not None%}{{ student.middle_name | title }} {% endif %}{{ student.last_name | title }} <br>
                    {{ student.reg_no}}</span> 
                <!--<div class="col-sm-2 col-2 px-0">-->
                <!--    {% if student.is_registered == 1 %}-->
                <!--    <img src="{% static 'img/svg/Verified.svg' %}" alt="" width="15">-->
                <!--    {% else %}-->
                <!--    <img src="{% static 'img/svg/notVerified.svg' %}" alt="" width="15">-->
                <!--    {% endif %}-->
                <!--</div>-->
            </div>
        </td>

        <td class="table_phone_no" onclick="getStudentAttendanceDetail('{{ student.id }}')">
            <div class="row">
                <span class="col-sm-10 col-10 pl-0 pr-2">
                    {{ student.primary_contact_no }}
                </span>
                <!--<div class="col-2 col-sm-2 px-0">-->
                <!--    {% if student.is_mobile_verified == 1 %}-->
                <!--    <img src="{% static 'img/svg/Verified.svg' %}" alt="" width="15">-->
                <!--    {% else %}-->
                <!--    <img src="{% static 'img/svg/notVerified.svg' %}" alt="" width="15">-->
                <!--    {% endif %}-->
                <!--</div>-->
            </div>
        </td>

        <td class="table_mentor_name" onclick="getStudentAttendanceDetail('{{ student.id }}')">
            {% if student.teacher_gaurdian_name is not None %}{{ student.teacher_gaurdian_name | title }}{% else %}--{% endif %}
        </td>
        <td class="table_college" onclick="getStudentAttendanceDetail('{{ student.id }}')">
            {{ student.alias|safe }}
        </td>
        <td class="table_course" onclick="getStudentAttendanceDetail('{{ student.id }}')">
            <span class="mr-2">{{ student.branch }}</span>
            <p class="mt-1">{{student.semester_year}}</p>
        </td>
        
        <td class="table_punch_in">{% if student.punch_in_time %}{{student.punch_in_time |date:'H:i'}}{% else %}--:--{% endif %}</td>
        <td class="table_punch_out"> {% if student.punch_out_time %}{{student.punch_out_time |date:'H:i'}}{% else %}--:--{% endif %}</td>
    </tr>
{% endfor %}
<tr id="loading" style="display: none;">
    <td class="text-center" colspan="8"><i class="fa fa-spinner fa-spin" style="font-size:2rem"></i>
    </td>
</tr>
{% else %}
<tr>
    <td colspan="8" style="text-align: center;">No Record Found...</td>
</tr>
{% endif %}
</tbody>
</table>