{% load static %}
<link rel="stylesheet" href="{% static 'css/mdtimepicker.min.css' %}">
<div class="modal-AddOrganisation centered">
    <div class="modal-body p-0">
        <div class="row">
            <div class="col-md-3 p-md-0" style="background-repeat: no-repeat;text-align: center;background-color: #0073e0;background-position: bottom left;background-size: 80%;">
                <div class="transformImage">
                    <img src="/static/img/svg/master/payBands.svg" width="100" height="100" class="w-50" />
                    <h4 class="modalColHead">Add Job Type</h4>
                </div>
            </div>
            
            <div class="col-md-9 p-md-4">
                <form id="addJobtype" method="POST" autocomplete="off" action="" aria-label="Holiday">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <h5><b>Job Type</b></h5>
                        </div>
                        <div class="col-md-6 p-md-0">
                            <button class="btn btn-save float-right" type="button" onclick="saveJob()">
                                Save
                            </button>
                            <button class="btn btn-close float-right" type="button"
                            onclick="manipulateModal('addProductModal','close')">
                            Close
                        </button>
                    </div>
                </div>
                
                
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Job Type Name</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <input class="inputField" type="text" placeholder="Job Type Name*" name="job_name" id="job" maxlength="50" />
                        <label class="error_msg float-right"></label>
                    </div>
                </div>
                
                  
            </form>

        </div>
    </div>
</div>
</div>
<!-- <script src="{% static 'js/mdtimepicker.min.js' %}"></script> -->
<script>

    function saveJob() {
        showLoader();
        if(validateForm()){
            hideLoader();
            return false;
        }else{
            $.ajax({
                url: "{% url 'src:add-job-type' %}",
                method: 'POST',
                data: $('#addJobtype').serialize(),
                success: function (data) {
                    hideLoader();
                    if(data.flag){
                        openToaster("success", data.message);
                        manipulateModal('addProductModal','close')
                        getList('job_types');
                    }else{
                        openToaster("danger", data.message);
                    }
                },
                error: function (err) {
                    hideLoader();
                    console.log(err)
                }
            }).always(function() {
                // hideLoader();
            });
        } 
    }
    
    
    function validateForm(){
        error = 0;
        $('.error_msg ').text('');
        $('.inputField').css("border", "");
        
        // console.log($('[name="group"]').val());
        // console.log($('#group').val());
        // console.log($('[name="start_time"]').val());
        // console.log($('[name="end_time"]').val());
        if($.trim($('[name="job_name"]').val()) == ""){
            $('[name="job_name"]').parent().find('.error_msg').text('Please enter job type name');
            $('[name="job_name"]').css("border", "1px solid #db8305");
            error = error + 1;
        }
        
        
        if(error > 0){
            return true;
        }else{
            return false;
        }
    }
    
</script>