{% load static %}
<div class="modal-AddOrganisation centered">
    <div class="modal-body p-0">
        <div class="row">
            <div class="col-md-3 p-md-0" style="background-repeat: no-repeat;text-align: center;background-color: #0073e0;background-position: bottom left;background-size: 80%;">
                <div class="transformImage">
                    <img src="{% static 'img/svg/master/payBands.svg' %}" class="w-50" />
                    <h4 class="modalColHead">Edit Pay Band</h4>
                </div>
            </div>
            
            <div class="col-md-9 p-md-4">
                <form id="updateForm" method="POST" autocomplete="off" action="" aria-label="Pay Band">
                    {% csrf_token %}
                    <input type="hidden" name="pay_band_id" value="{{pay_band.id}}">
                    <div class="row">
                        <div class="col-md-6">
                            <h5><b>Pay Band details </b></h5>
                        </div>
                        <div class="col-md-6 p-md-0">
                            <button class="btn btn-save float-right" type="button" onclick="updatePayBand()">
                                Save
                            </button>
                            <button class="btn btn-close float-right" type="button"
                            onclick="manipulateModal('addProductModal','close')">
                            Close
                        </button>
                    </div>
                </div>
                
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Pay Band</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <input class="inputField numeric" type="text" placeholder="Pay Band*" name="pay_band" maxlength="50" value="{{pay_band.pay_band}}" />
                        <label class="error_msg float-right"></label>
                    </div>
                </div>

                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Pay Band Code</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <input class="inputField" type="text" placeholder="Pay Band Code*" name="pay_band_code" maxlength="50" value="{{pay_band.pay_band_code}}"  />
                        <label class="error_msg float-right"></label>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>
</div>

<script>
   var pay_band_id = '{{pay_band.id}}';
    function updatePayBand() {
        showLoader();
        if(validateForm()){
            hideLoader();
            return false;
        }else{
            url = "{% url 'src:edit-pay-band' '1' %}";
            url = url.replace('1',pay_band_id);
            $.ajax({
                url: url,
                method: 'POST',
                data: $('#updateForm').serialize(),
                success: function (data) {
                    hideLoader();
                    if(data.flag){
                        $("#addProductModal").html('');
                        $("#addProductModal").hide();
                        getList('pay_bands');
                        openToaster("success", data.message);
                    }else{
                        openToaster("danger", data.message);
                    }
                },
                error: function (err) {
                    hideLoader();
                    console.log(err)
                }
            }).always(function() {
                // hideLoader();
            });
        } 
    }
    
    
    function validateForm(){
        error = 0;
        $('.error_msg ').text('');
        $('.inputField').css("border", "");
        
        if($.trim($('[name="pay_band"]').val()) == ""){
            $('[name="pay_band"]').parent().find('.error_msg').text('Please enter pay band');
            $('[name="pay_band"]').css("border", "1px solid #db8305");
            error = error + 1;
        }

        if($.trim($('[name="pay_band_code"]').val()) == ""){
            $('[name="pay_band_code"]').parent().find('.error_msg').text('Please enter pay band code');
            $('[name="pay_band_code"]').css("border", "1px solid #db8305");
            error = error + 1;
        }
        
      
        if(error > 0){
            return true;
        }else{
            return false;
        }
    }
    
</script>