{% load static %}
<div class="modal-AddOrganisation centered">
    <div class="modal-body p-0">
        <div class="row">
            <div class="col-md-3 p-md-0" style="background-repeat: no-repeat;text-align: center;background-color: #0073e0;background-position: bottom left;background-size: 80%;">
                <div class="transformImage">
                    <img src="{% static 'img/svg/master/salaryLess.svg' %}" class="w-50" />
                    <h4 class="modalColHead">Add Salary Deduction Type</h4>
                </div>
            </div>
            
            <div class="col-md-9 p-md-4">
                <form id="addForm" method="POST" autocomplete="off" action="" aria-label="Salary Deduction Type">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <h5><b>Salary Deduction Type details </b></h5>
                        </div>
                        <div class="col-md-6 p-md-0">
                            <button class="btn btn-save float-right" type="button" onclick="saveSalaryDeductionType()">
                                Save
                            </button>
                            <button class="btn btn-close float-right" type="button"
                            onclick="manipulateModal('addProductModal','close')">
                            Close
                        </button>
                    </div>
                </div>
                
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Deduction Type</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <input class="inputField alpha" type="text" placeholder="Deduction Type*" name="deduction" maxlength="50" />
                        <label class="error_msg float-right"></label>
                    </div>
                </div>
                
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Deduction Basis</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <select class="inputField selectField"  style="width: 100%;"  name="deduction_basis" onchange="handleBasisSelect(this.value)">
                            <option value="fixed">Fixed</option>
                            <option value="percent">Percentage</option>
                        </select>
                        <label class="error_msg float-right"></label>
                    </div>
                </div>
                
                <div class="row mt-md-3" id="deduction_percent_on_section" style="display: none;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Percentage on</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <select class="inputField selectField"  style="width: 100%;"  name="deduction_percent_on">
                            <option value="pay_scale">Pay Band</option>
                        </select>
                        <label class="error_msg float-right"></label>
                    </div>
                </div>
                
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b id="deduction_amount_text">Amount</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <input class="inputField numeric" type="text" placeholder="Amount*" name="deduction_amount" maxlength="50" />
                        <label class="error_msg float-right"></label>
                    </div>
                </div>
                
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Duration limit</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <select class="inputField selectField"  style="width: 100%;"  name="deduction_limit">
                            <option value="0">1 Time</option>
                            <option value="1">1 Month</option>
                            <option value="2">2 Month</option>
                            <option value="3">3 Month</option>
                            <option value="4">4 Month</option>
                            <option value="5">5 Month</option>
                            <option value="6">6 Month</option>
                            <option value="7">7 Month</option>
                            <option value="8">8 Month</option>
                            <option value="9">9 Month</option>
                            <option value="10">10 Month</option>
                            <option value="11">11 Month</option>
                            <option value="12">12 Month</option>
                            <option value="-1">Permanent</option>
                        </select>
                        <label class="error_msg float-right"></label>
                    </div>
                </div>
                
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Upper Limit</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <input class="inputField numeric" type="text" placeholder="Amount*" name="deduction_upper_limit" maxlength="50" />
                        <label class="error_msg float-right"></label>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>
</div>

<script>
    function handleBasisSelect(value){
        if(value == "percent"){
            $('#deduction_percent_on_section').show();
            $('#deduction_amount_text').text('Percent');
            $('[name="deduction_amount"]').attr('placeholder','Percent');
        }else{
            $('#deduction_percent_on_section').hide();
            $('#deduction_amount_text').text('Amount');
            $('[name="deduction_amount"]').attr('placeholder','Amount');
            
        }
    }
    function saveSalaryDeductionType() {
        showLoader();
        if(validateForm()){
            hideLoader();
            return false;
        }else{
            $.ajax({
                url: "{% url 'src:add-salary-deduction-type' %}",
                method: 'POST',
                data: $('#addForm').serialize(),
                success: function (data) {
                    hideLoader();
                    if(data.flag){
                        $("#addProductModal").html('');
                        $("#addProductModal").hide();
                        getList('salary_deduction_types');
                        openToaster("success", data.message);
                    }else{
                        openToaster("danger", data.message);
                    }
                },
                error: function (err) {
                    hideLoader();
                    console.log(err)
                }
            }).always(function() {
                // hideLoader();
            });
        } 
    }
    
    
    function validateForm(){
        error = 0;
        $('.error_msg ').text('');
        $('.inputField').css("border", "");
        
        if($.trim($('[name="deduction"]').val()) == ""){
            $('[name="deduction"]').parent().find('.error_msg').text('Please enter deduction type');
            $('[name="deduction"]').css("border", "1px solid #db8305");
            error = error + 1;
        }
        
        if($.trim($('[name="deduction_amount"]').val()) == ""){
            $('[name="deduction_amount"]').parent().find('.error_msg').text('Please enter amount/percent');
            $('[name="deduction_amount"]').css("border", "1px solid #db8305");
            error = error + 1;
        }
        
        if($('[name="deduction_basis"]').val() == "percent"){
            if($.trim($('[name="deduction_percent_on"]').val()) == ""){
                $('[name="deduction_percent_on"]').parent().find('.error_msg').text('Please select');
                $('[name="deduction_percent_on"]').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
                error = error + 1;
            } 
        }
        
        if($.trim($('[name="deduction_upper_limit"]').val()) == ""){
            $('[name="deduction_upper_limit"]').parent().find('.error_msg').text('Please enter upper limit');
            $('[name="deduction_upper_limit"]').css("border", "1px solid #db8305");
            error = error + 1;
        }
        
        if(error > 0){
            return true;
        }else{
            return false;
        }
    }
    
</script>