{% load static %}

<div class="row">
    <div class="col-md-12">
        <div class="row mb-2" id="topRow">
            <div class="col-md-5 p-md-0">
                <h6><b>Salary Addition Types &nbsp;&nbsp;</b></h6>
            </div>
            <div class="col-md-7 p-md-0">
                <div class="row" >
                    <div class="col-md-12 p-md-0 text-right">
                        <input class="searchTable master_type_search" placeholder="Search" type="search" data-column="all" id="salary_addition_types_filter" onkeyup="master_search_bar(this)">
                        <button type="button" class="btn iconBox iconAddNew" title="Add Salary Type" onclick="addMaster('salary_addition_types')"></button>
                        <div class="dropdown show-hide" style="display: inline-block;" id="hideColumn">
                            <button class="btn iconBox iconHide" title="Hide" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu dropdown-menu-right logoutContainer"
                            aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item columnHideItem">
                                <input type="checkbox" class="colCheck" name="" 
                                onclick="showHideColumns(this,'addition_type',2)"
                                />
                                <label class="mb-0" for="addition_type">Addition Type</label>
                            </a>
                            
                            <a class="dropdown-item columnHideItem">
                                <input type="checkbox" class="colCheck" name="" 
                                onclick="showHideColumns(this,'addition_type_basis',2)"
                                />
                                <label class="mb-0" for="addition_type_basis">Addition Basis</label>
                            </a>
                            
                            <a class="dropdown-item columnHideItem">
                                <input type="checkbox" class="colCheck" name="" 
                                onclick="showHideColumns(this,'addition_value',2)"
                                />
                                <label class="mb-0" for="addition_value">Addition Value</label>
                            </a>
                            
                            <a class="dropdown-item columnHideItem">
                                <input type="checkbox" class="colCheck" name="" 
                                onclick="showHideColumns(this,'addition_duration_limit',2)"
                                />
                                <label class="mb-0" for="addition_duration_limit">Duration Limit</label>
                            </a>
                            
                            <a class="dropdown-item columnHideItem">
                                <input type="checkbox" class="colCheck" name="" 
                                onclick="showHideColumns(this,'addition_upper_limit',2)"
                                />
                                <label class="mb-0" for="addition_upper_limit">Upper Limit</label>
                            </a>
                            
                        </div>
                    </div>
                    
                    <div class="dropdown fixed-column" style="display: inline-block;" id="lockColumn">
                        <button class="btn iconBox iconUnFreeze" title="Stick" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu dropdown-menu-right logoutContainer"
                        aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item columnHideItem">
                            <input type="checkbox" class="colFreezeCheck" name="" id="pay_band" data-id="1"
                            onclick="toggleFreeze(this.id,'pay_band',1)" />
                            <label class="mb-0" for="pay_band">Addition Type</label>
                        </a>
                        
                        <a class="dropdown-item columnHideItem">
                            <input type="checkbox" class="colFreezeCheck" name="" id="addition_type_basis" data-id="1"
                            onclick="toggleFreeze(this.id,'addition_type_basis',1)" />
                            <label class="mb-0" for="addition_type_basis">Addition Basis</label>
                        </a>
                        
                        <a class="dropdown-item columnHideItem">
                            <input type="checkbox" class="colFreezeCheck" name="" id="addition_value" data-id="1"
                            onclick="toggleFreeze(this.id,'addition_value',1)" />
                            <label class="mb-0" for="addition_value">Addition Value</label>
                        </a>
                        
                        <a class="dropdown-item columnHideItem">
                            <input type="checkbox" class="colFreezeCheck" name="" id="addition_duration_limit" data-id="1"
                            onclick="toggleFreeze(this.id,'addition_duration_limit',1)" />
                            <label class="mb-0" for="addition_duration_limit">Duration Limit</label>
                        </a>
                        
                        <a class="dropdown-item columnHideItem">
                            <input type="checkbox" class="colFreezeCheck" name="" id="addition_upper_limit" data-id="1"
                            onclick="toggleFreeze(this.id,'addition_upper_limit',1)" />
                            <label class="mb-0" for="addition_upper_limit">Upper Limit</label>
                        </a>
                        
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="row border-redius-17 h-100" id="tableBox">
    <div class="col-md-12 col-12 primaryContainerBG h-100 px-0" id="masterListTable">
            <table id="addOrgTable" class="detail-table table table-borderless table-striped table-hover mt-0" >
            <thead>
                <tr>
                    <th class="pay_band">
                        Addition Type
                        <i class="fa fa-fw fa-sort float-right"></i>
                        <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                        <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                    </th>
                    
                    <th class="addition_type_basis">
                        Addition Basis
                        <i class="fa fa-fw fa-sort float-right"></i>
                        <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                        <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                    </th>
                    
                    <th class="addition_value">
                        Addition Value
                        <i class="fa fa-fw fa-sort float-right"></i>
                        <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                        <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                    </th>
                    
                    <th class="addition_duration_limit">
                        Duration Limit
                        <i class="fa fa-fw fa-sort float-right"></i>
                        <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                        <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                    </th>
                    
                    <th class="addition_upper_limit">
                        Upper Limit
                        <i class="fa fa-fw fa-sort float-right"></i>
                        <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                        <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                    </th>
                    
                    <th data-sorter="false">Action</th>
                </tr>
            </thead>
            <tbody id="tablebody">
                {% if salary_addition_types %}
                {% for salary_addition_type in salary_addition_types %}
                <tr>
                    <td class="addition_type">{{ salary_addition_type.addition }}</td>
                    <td class="addition_type_basis">
                        {% if salary_addition_type.addition_basis == "fixed" %}Fixed{% else %}Percentage{% endif %}
                    </td>
                    <td class="addition_value">{{ salary_addition_type.addition_amount }}</td>
                    <td class="addition_duration_limit">
                        {% if salary_addition_type.addition_limit|add:'0' == 0 %}
                        1 time
                        {% elif salary_addition_type.addition_limit|add:'0' < 0 %}
                        Permanent
                        {% else %}
                        {{ salary_addition_type.addition_limit }} time
                        {% endif %}
                    </td>
                    <td class="addition_upper_limit">{{ salary_addition_type.addition_upper_limit }}</td>
                    <td>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="javascript:void(0)"  onclick="editMaster('salary_addition_types','{{salary_addition_type.id}}')"  >
                                    <img src="{% static 'img/svg/editcopy.svg' %}" />
                                </a> 
                            </div>
                            <div class="col-md-5">
                                <label class="switch">
                                    <input type="checkbox" class="checkbox" name="is_active"
                                    {% if salary_addition_type.status == 1 %} checked="" {% else %}
                                    {% endif %}
                                    onclick="changeMasterStatus('salary_addition_types', '{{ salary_addition_type.id }}')">
                                    <span class="slider round" title="Enable/Disable"></span>
                                </label>
                                
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                <tr id="loading" style="display: none;">
                    <td class="text-center" colspan="6">
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6" style="text-align: center;">No Record Found...</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
</div>
</div>