<style>
    .header-title h2,
    .header-title h3 {
      display: inline-block;
    }
    h3 {
      font-size: 18px;
      text-align: center;
      padding: 15px 0px 0px 0px;
      margin: 0px;
    }
  
    table {
      width: 750px;
      border-collapse: collapse;
      margin: 0px auto;
    }
  
    /* Zebra striping */
    tr:nth-of-type(odd) {
      background: #eee;
    }
  
    th {
      background: #3498db;
      color: #000000;
      font-weight: bold;
    }
  
    td,
    th {
      padding: 5px;
      border: 1px solid #ccc;
      text-align: left;
      font-size: 12px;
    }
  </style>
  
  <div class="col-md-12">
    <div class="col-12" style="margin-bottom: 15px;">
      <img src="{{ url }}/static/img/png/dashboardLogo.png" style="height: 40px;" class="dashboardLogo" />
    </div>
    <table>
      <thead>
        <tr>
          <th colspan="4">
            <h3> Holiday List </h3>
          </th>
        </tr>
        <tr>
          <th>Holiday</th>
          <th>Type</th>
          <th>Duration</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for holiday in holidays %}
        <tr>
          <td>{{ holiday.holiday }}</td>
          <td>{{ holiday.holiday_type }}</td>
          <td>{{ holiday.start_date|date:'d M' }} {{ holiday.start_date|date:'D' }} - {{ holiday.end_date|date:'d M' }} {{ holiday.end_date|date:'D' }} , {{holiday.start_date|date:'Y'}}</td>
          <td>{{ holiday.description|safe }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  