{% load static %}
<footer class="footer footer-bottom" id="footer">
  <div class="row">
    <div class="col-sm-10 p-0">
      <div class="row">
        <div class="col-sm-8">
          <span class="footerText lightGrey">&#169;copyright</span>
          <span class="footerText">
            2024. <span class="blackFont">Design & Developer by </span><a href="https://sortstring.com/" target="_blank">Sort String </a><span class="blackFont">Solutions LLP </span> </span
          ><br class="break" />
          <a href="https://sortstring.com/privacy-policy" target="_blank"><span class="footerText lightGrey">- Privacy Poilcy</span></a>
          <a href="https://sortstring.com/contact" target="_blank"><span class="footerText lightGrey">- Help</span></a>
        </div>
      </div>
    </div>
    
    <div class="col-sm-2 iconAlignment p-0">
      <a href="https://www.facebook.com/sortstringsolutions/" target="_blank" ><img src="{% static 'img/svg/Facebook.svg' %}" class="socialMediaIcon" /></a>
      <a href="https://www.linkedin.com/company/sortstring-solutions/" target="_blank" ><img src="{% static 'img/svg/Instagram.svg' %}" class="socialMediaIcon" /></a>
      <a href="https://twitter.com/sort_string" target="_blank" ><img src="{% static 'img/svg/Twitter.svg' %}" class="socialMediaIcon" /></a>
    </div>
  </div>
</footer>