{% load static %}
<nav class="navbar sticky-top" id="header" data-aos="fade-down">
  <div class="row w-100 pt-md-3">

    <div class="col-sm-7 col-12 px-0">
      <a href="/" title="" class="dashboard-logo ">
        <img src="{% static 'img/png/dashboardLogo.gif' %}" alt="" height="40" width="80" class="dashboardLogo" />
        </a>
    </div>
    <div class="col-sm-5 col-12 px-0 mob-mt-8 ">
      <div class="row">
        <div class="col-1 col-sm-1 px-0 text-center dropdown addFav">
          <button class="btn p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-star fa-starDropdown checked"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right addFavContainer" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item logoutItem" href="#">Add Favourites &nbsp;&nbsp;
                <span class="fa fa-star checked"></span>
              </a>
            <div class="dropdown-divider"></div>
            <ul id="ajaxFavorite">
              {% for favorite in request.session.favorites %}
              <li class="dropdown-item logoutItem" onclick="openLink('{{favorite.link}}')">
                {{favorite.favorite}} &nbsp;&bull;
                </li>
                {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-9 col-sm-9 mob-pr-4 mob-pl-4 px-3">
          <div class="input-group">
            <input type="text" id="search" class="form-control searchInput" placeholder="Search" />
            <div class="input-group-append dropdown">
              <span id="mainMenu" class="input-group-text menuIconContainer" id="dropdownMenuButton"
                data-toggle="dropdown">
                <img class="menuIcon" src="{% static 'img/png/menu.png' %}" /></span>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <div class="top-arrow"></div>
                <div class="row">
                  {% for module in request.session.modules %}
                  <div class="col-md-4 px-0">
                    <span class="dropdown-head mt-2" href="#">{{module.menu}}</span>
                    {% for submenu in module.submenus %}
                    <a class="dropdown-item dropdown-item-desk" href="{% url submenu.link %}">{{submenu.sub_menu}}</a>
                    {% endfor %}
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 col-md-2 px-0 text-center dropdown">
          <button class="btn btn-logout" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-angle-down angleDown"></i>
            <img class="signout" src="{% static 'img/png/signout.png' %}" />
          </button>
          <div class="dropdown-menu dropdown-menu-right logoutContainer" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item logoutItem" href="{% url 'src:manage-profile' %}" style="color: #0052a0;" >Manage Profile&nbsp;&nbsp;<img src="{% static 'img/svg/changePassword.svg' %}" class="logoutIcons"></a>
             <!--<a class="dropdown-item logoutItem" href="javascript:;" onclick="changePassword()">Change Password&nbsp;&nbsp;<img src="{% static 'img/svg/changePassword.svg' %}" class="logoutIcons"></a> -->
            <a class="dropdown-item logoutItem" href="{% url 'logout' %}" style="color: #0052a0;">Logout&nbsp;&nbsp;<img src="{% static 'img/svg/Logout.svg' %}" class="logoutIcons"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>