<nav aria-label="Page navigation" class="pagination">
    {% if page.has_other_pages %}
    <div class="pagination" role="navigation">
        {% if page.has_previous %}
            <span class="page-item"><a aria-label="Previous" href="?page={{ page.previous_page_number}}">&laquo;</a></span>
        {% else %}
            <span class="page-item disabled"><span>&laquo;</span></span>
        {% endif %}
        {% for pages in page.paginator.page_range %}
            {% if page.number == pages %}
                <span class="page-item active"><span>{{ pages }}<span class="sr-only">(current)</span></span></span>
            {% else %}
                <span><a href="?page={{ pages }}">{{ pages }}</a></span>
            {% endif %}
        {% endfor %}
        {% if page.has_next %}
            <span class="page-item"><a href="?page={{ page.next_page_number }}">&raquo;</a></span>
        {% else %}
        <span class="page-item disabled"><span>&raquo;</span></span>
        {% endif %}
    </div>
    {% endif %}
</nav>