{% load static %}


<div class="row ">
    <div class="col-md-12 ">
        <div class="row mb-2" id="topRow">
            <div class="col-md-5 p-md-0">
                <h6><b>Leave Types &nbsp;&nbsp;</b></h6>
            </div>
            <div class="col-md-7 p-md-0">
                <div class="row" >
                    <div class="col-md-12 p-md-0 text-right">
                        <input class="searchTable master_type_search" placeholder="Search" type="search" data-column="all" id="leave_types_filter" onkeyup="master_search_bar(this)">
                        <button type="button" class="btn iconBox iconAddNew" onclick="addMaster('leave_types')" title="Add New Leave Type" ></button>
                        <div class="dropdown show-hide" style="display: inline-block;" id="hideColumn">
                            <button class="btn iconBox iconHide" title="Hide" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu dropdown-menu-right logoutContainer"
                            aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item columnHideItem">
                                <input type="checkbox" class="colCheck" name="" 
                                onclick="showHideColumns(this,'leave_type',2)"
                                />
                                <label class="mb-0" for="leave_type">Leave Type</label>
                            </a>
                            
                            <a class="dropdown-item columnHideItem">
                                <input type="checkbox" class="colCheck" name="" 
                                onclick="showHideColumns(this,'alias',2)"
                                />
                                <label class="mb-0" for="alias">Alias</label>
                            </a>
                            
                        </div>
                    </div>
                    
                    <div class="dropdown fixed-column" style="display: inline-block;" id="lockColumn">
                        <button class="btn iconBox iconUnFreeze" title="Stick" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu dropdown-menu-right logoutContainer"
                        aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item columnHideItem">
                            <input type="checkbox" class="colFreezeCheck" name="" id="lock_leave_type" data-id="1"
                            onclick="toggleFreeze(this.id,'leave_type',1)" />
                            <label class="mb-0" for="lock_leave_type">Leave Type</label>
                        </a>
                        
                        <a class="dropdown-item columnHideItem">
                            <input type="checkbox" class="colFreezeCheck" name="" id="lock_alias" data-id="1"
                            onclick="toggleFreeze(this.id,'alias',1)" />
                            <label class="mb-0" for="lock_alias">Alias</label>
                        </a>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="row border-redius-17 h-100" id="tableBox">
<div class="col-md-12 col-12 primaryContainerBG h-100 px-0" id="masterListTable">
    <table id="addOrgTable" class="detail-table table table-borderless table-striped table-hover mt-0" >
        <thead>
            <tr>
                <th class="leave_type">
                    Leave Type
                    <i class="fa fa-fw fa-sort float-right"></i>
                    <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                    <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                </th>
                
                <th class="alias">
                    Alias
                    <i class="fa fa-fw fa-sort float-right"></i>
                    <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                    <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                </th>
                
                <th data-sorter="false">Action</th>
            </tr>
        </thead>
        <tbody id="tablebody">
            {% if leave_types %}
            {% for leave_type in leave_types %}
            <tr>
                <td class="leave_type">{{ leave_type.leave_type }}<br> 
                    <a href="javascript:;" onclick="viewRequiredDocuments('{{ leave_type.id }}')">view required documents</a></td>
                    
                    <td class="alias">{{ leave_type.alias }}</td>
                    <td>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="javascript:void(0)" onclick="editMaster('leave_types','{{leave_type.id}}')"  >
                                    <img src="{% static 'img/svg/editcopy.svg' %}" class="tableRowIcon" title="Edit" />
                                </a> 
                            </div>
                            <div class="col-md-5">
                                <label class="switch">
                                    <input type="checkbox" class="checkbox" name="is_active" 
                                    {% if leave_type.status == 1 %} checked="" {% else %}
                                    {% endif %}
                                    onclick="changeMasterStatus('leave_types', '{{ leave_type.id }}')">
                                    <span class="slider round" title="Enable/Disable"></span>
                                </label>
                                
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                <tr id="loading" style="display: none;">
                    <td class="text-center" colspan="3"><i class="fa fa-spinner fa-spin" style="font-size:2rem"></i>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="2" style="text-align: center;">No Record Found...</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
</div>
</div>
