{% load static %}


<div class="row ">
    <div class="col-md-12 ">
        <div class="row mb-2" id="topRow">
            <div class="col-md-5 p-md-0">
                <h6><b>Destrict &nbsp;&nbsp;</b></h6>
            </div>
            <div class="col-md-7 p-md-0">
                <div class="row" >
                    <div class="col-md-12 p-md-0 text-right">
                        <input class="searchTable master_type_search" placeholder="Search" type="search" data-column="all" id="district_types_filter" onkeyup="master_search_bar(this)">
                        <button type="button" class="btn iconBox iconAddNew"  title="Add New District" onclick="addMaster('district')"></button>
                        
                            <div class="dropdown show-hide" style="display: inline-block;" id="hideColumn">
                                <button class="btn iconBox iconHide" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu dropdown-menu-right logoutContainer"
                                aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item columnHideItem">
                                    <input type="checkbox" class="colCheck" name="" 
                                    onclick="showHideColumns(this,'district_name',2)"
                                    />
                                    <label class="mb-0" for="district_name">District name</label>
                                </a>
                                <a class="dropdown-item columnHideItem">
                                    <input type="checkbox" class="colCheck" name="" 
                                    onclick="showHideColumns(this,'state_name',2)"
                                    />
                                    <label class="mb-0" for="state_name">State name</label>
                                </a>
                            </div>
                        </div>
                        
                        <div class="dropdown fixed-column" style="display: inline-block;" id="lockColumn">
                            <button class="btn iconBox iconUnFreeze" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu dropdown-menu-right logoutContainer"
                            aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item columnHideItem">
                                <input type="checkbox" class="colFreezeCheck" name="" id="lock_district_name" data-id="1"
                                onclick="toggleFreeze(this.id,'district_name',1)" />
                                <label class="mb-0" for="lock_district_name">District name</label>
                            </a>
                            
                            <a class="dropdown-item columnHideItem">
                                <input type="checkbox" class="colFreezeCheck" name="" id="lock_state_name" data-id="3"
                                onclick="toggleFreeze(this.id,'state_name',2)" />
                                <label class="mb-0" for="lock_state_name">State name</label>
                            </a>
                        </div>
                    </div>                    
                
                </div>
     
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="row border-redius-17 h-100" id="tableBox">
<div class="col-md-12 col-12 primaryContainerBG h-100 px-0" id="masterListTable">
    <table id="addOrgTable" class="detail-table table table-borderless table-striped table-hover mt-0" >
          <thead>
                <tr>
                    <th class="district_name">
                        District name
                        <i class="fa fa-fw fa-sort float-right"></i>
                        <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                        <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                    </th>
                    <th class="state_name">
                        State name
                        <i class="fa fa-fw fa-sort float-right"></i>
                        <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                        <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                    </th>
                    
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tablebody">
                {% if districts %}
                {% for district in districts %}
                <tr>
                    <td class="district_name">{{ district.district_name}}</td>
                        <td class="state_name">{{ district.state_name}}</td>
                        <td>
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="javascript:void(0)"
                                    onclick="editMaster('district','{{ district.id }}')" >
                                    <img src="{% static 'img/svg/editcopy.svg' %}" title="Edit" /></a> </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr id="loading" style="display: none;">
                            <td class="text-center" colspan="2"><i class="fa fa-spinner fa-spin" style="font-size:2rem"></i>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="4" style="text-align: center;">No Record Found...</td>
                        </tr>
                        {% endif %}
                    </tbody>
        </table>
</div>
</div>
