{% load static %}
<style>
    .fixTableHead tbody { display:block; max-height:520px; overflow-y:scroll; }
    .fixTableHead thead, .fixTableHead tbody tr { display:table; width:100%; table-layout:fixed; }
    .fixTableHead thead tr th,.fixTableHead tbody tr td{
        width:2% !important;
    }
    .fixTableHead thead tr th.actionsec{
            width:10% !important;
    }
    .fixTableHead tbody tr td.actionsec{
        width:9.6% !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="row mb-2" id="topRow">
            <div class="col-md-5 p-md-0">
                <h6><b>ISO Master List &nbsp;&nbsp;</b></h6>
            </div>
            <div class="col-md-7 p-md-0">
                <div class="row" >
                    <div class="col-md-12 p-md-0 text-right">
                        <input class="searchTable master_type_search" placeholder="Search" type="search" data-column="all" id="IsoMasterId" onkeyup="master_search_bar(this)">
                        
                        <button type="button" class="btn iconBox iconAddNew" onclick="addMaster('IsoMaster')"></button>
                       
                            <!--<div class="dropdown show-hide" style="display: inline-block;" id="hideColumn">-->
                            <!--    <button class="btn iconBox iconHide" type="button" id="dropdownMenuButton"-->
                            <!--    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>-->
                            <!--    <div class="dropdown-menu dropdown-menu-right logoutContainer"-->
                            <!--    aria-labelledby="dropdownMenuButton">-->
                            <!--    <a class="dropdown-item columnHideItem">-->
                            <!--        <input type="checkbox" class="colCheck" name="" -->
                            <!--        onclick="showHideColumns(this,'State_name',2)"-->
                            <!--        />-->
                            <!--        <label class="mb-0" for="State_name">ISO Name</label>-->
                            <!--    </a>-->
                                
                               
                            <!--</div>-->
                        </div>
                        
                        <!--<div class="dropdown fixed-column" style="display: inline-block;" id="lockColumn">-->
                        <!--    <button class="btn iconBox iconUnFreeze" type="button" id="dropdownMenuButton"-->
                        <!--    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>-->
                        <!--    <div class="dropdown-menu dropdown-menu-right logoutContainer"-->
                        <!--    aria-labelledby="dropdownMenuButton">-->
                        <!--    <a class="dropdown-item columnHideItem">-->
                        <!--        <input type="checkbox" class="colFreezeCheck" name="" id="lock_State_name" data-id="1"-->
                        <!--        onclick="toggleFreeze(this.id,'State_name',1)" />-->
                        <!--        <label class="mb-0" for="lock_State_name">ISO Name</label>-->
                        <!--    </a>-->
                            
                          
                        <!--</div>-->
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row mb-2">
    <div class="col-md-12 pr-md-0 h-100" id="masterListTable">
        <div class="primaryContainerBG h-100 commonTableBg tableBox" id="detailsBox" style="border-radius: 12px !important;">
            
            <input type="hidden" name="page" id="page" value="2" />
            <input type="hidden" name="page_status" id="page_status" value="0" />
          
            <table id="addOrgTable" class="table table-borderless table-striped table-hover mt-0 fixTableHead"
            style="width: 100%;">
            <thead>
                <tr>
                    <th class="State_name">
                        ISO Code
                        <i class="fa fa-fw fa-sort float-right"></i>
                       
                    </th>
                     <th class="State_name">
                        ISO Name
                        <i class="fa fa-fw fa-sort float-right"></i>
                   
                    </th>
                 
                    
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tablebody">
                {% if iso_masters %}
                {% for iso_master in iso_masters %}
                <tr>
                    <td class="State_name"> {{ iso_master.iso_id }}<br> </td>
                    <td class="State_name">{{ iso_master.iso_name }}<br> </td>
                        <td >
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="javascript:void(0)"
                                    onclick="editMaster('IsoMaster','{{ iso_master.id }}')" >
                                    <img  class="tableRowIcon" src="{% static 'img/svg/editcopy.svg' %}" / ></a> </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr id="loading" style="display: none;">
                            <td class="text-center" colspan="2"><i class="fa fa-spinner fa-spin" style="font-size:2rem"></i>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="2" style="text-align: center;">No Record Found...</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <script>
        
    </script>