{% load static %}
<div class="modal-AddOrganisation centered">
    <div class="modal-body p-0">
        <div class="row">
            <div class="col-md-3 col-12 px-0 " style="background-repeat: no-repeat;text-align: center;background-color: #0073e0;background-position: bottom left;background-size: 80%;">
                <div class="transformImage">
                    <img src="{% static 'img/png/townw.png' %}" class="w-50" />
                    <h4 class="modalColHead">Edit Zone</h4>
                </div>
            </div>
            
            <div class="col-md-9 col-12 add-details-popup mb-3">
                <form id="addZoneForm" method="POST" autocomplete="off" action="" aria-label="Zone">
                    <input type="hidden" name="zone_id" value="{{zone.id}}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 col-8 px-0">
                            <h5 class="font-wt-b">Zone details</h5>
                        </div>
                        <div class="col-md-6 col-4 px-0 ">
                            <button class="btn btn-close float-right" type="button"
                            onclick="manipulateModal('addProductModal','close')" style="top: -176px">
                                <span class="mob-d-none">Close</span>
                                <i class="far fa-times-circle mob-d-block desk-d-none"></i>
                            </button>
                            <button class="btn btn-save float-right" type="button" onclick="updateZone('{{zone.id}}')">Save</button>
                    </div>
                </div>
                
                <div class="row ">
                    <div class="col-md-12 col-12 px-0 mt-3">
                            <h6 class="font-wt-b">State</h6>
                    </div>
                    <div class="col-md-12 col-12 pr-0  mt-2  width-side-left">
                        <select class="inputField selectField " style="width: 100%;" name="state_id" >
                            <option value="">Select</option>
                            {% for state in states %}
                            <option value="{{state.id}}" {% if state.id == zone.state_id|add:'0' %}selected{% endif %}>{{state.state}}</option>
                            {% endfor %}
                        </select>
                        <label class="error_msg float-right" id=""></label>
                    </div>
                </div>
                
                <div class="row ">
                    <div class="col-md-12 col-12 px-0 mt-3">
                        <h6 class="font-wt-b">Zone Name</h6>
                    </div>
                    <div class="col-md-12 col-12 px-0 mt-2">
                        <input class="inputField widthSetter" type="text" placeholder="Zone Name*" value="{{zone.zone}}" name="zone_name" maxlength="50" />
                        <label class="error_msg float-right" id="zone_error"></label>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-12 col-12 px-0 mt-3">
                        <h6 class="font-wt-b">Towns</h6>
                    </div>
                    <div class="col-md-12 col-12  mt-2 pr-0 width-side-left">
                        <select class="inputField selectField " style="width: 100%;" name="town[]" multiple>
                            <option value="">Select</option>
                            {% for town in towns %}
                            <option value="{{town.id}}" {% if town.id in zone_town_list %}selected{% endif %}>{{town.town}}</option>
                            {% endfor %}
                        </select>
                        <label class="error_msg float-right" id=""></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<script>
    
    function updateZone(id) {
        showLoader();
        if(validateZoneForm()){
            hideLoader();
            return false;
        }else{
            url = "{% url 'src:edit-zone' '1' %}";
            url = url.replace('1',id)

            $.ajax({
                url: url,
                method: 'POST',
                data: $('#addZoneForm').serialize(),
                success: function (data) {
                    hideLoader();
                    if(data.flag){
                        $("#addProductModal").html('');
                        $("#addProductModal").hide();
                        getList('zone')
                        openToaster("success", data.message);
                    }else{
                        openToaster("danger", data.message);
                    }
                },
                error: function (err) {
                    hideLoader();
                    console.log(err)
                }
            }).always(function() {
                // hideLoader();
            });
        } 
    }
    
    
    function validateZoneForm(){
        error = 0;
        $('.error_msg ').text('');
        $('.inputField').css("border", "");

        if($('[name="state_id"]').val() == ""){
            $('[name="state_id"]').parent().find('.error_msg').text('Please select state');
            $('[name="state_id"]').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
            error = error + 1;
        }
      
        if($.trim($('[name="zone_name"]').val()) == ""){
            $('[name="zone_name"]').parent().find('.error_msg').text('Please enter zone name');
            $('[name="zone_name"]').css("border", "1px solid #db8305");
            error = error + 1;
        }

        if($('[name="town[]"]').val() == ""){
            $('[name="town[]"]').parent().find('.error_msg').text('Please select town');
            $('[name="town[]"]').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
            error = error + 1;
        }

       
        if(error > 0){
            return true;
        }else{
            return false;
        }
    }
    
</script>